{% comment %}
Required values
name: <icon name>
______________
Optional values
icon_class: <string>
{% endcomment %}

<span class="icon {{ icon_class }}" data-icon="{{ name | downcase }}">
    {% if name == 'avatar-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="avatar-2"><path d="M50,53.75A25.38,25.38,0,1,1,75.38,28.38,25.41,25.41,0,0,1,50,53.75ZM50,7A21.38,21.38,0,1,0,71.38,28.38,21.4,21.4,0,0,0,50,7Z"></path><path d="M86.23,97H13.77a2,2,0,0,1-2-2,38.23,38.23,0,0,1,76.46,0A2,2,0,0,1,86.23,97ZM15.82,93H84.18a34.24,34.24,0,0,0-68.36,0Z"></path></g></svg>

    {% elsif name == 'avatar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="avatar"><path d="M97,50A47,47,0,1,0,17.28,83.74l0,0h0A46.93,46.93,0,0,0,82.39,84a2,2,0,0,0,.5-.47A46.88,46.88,0,0,0,97,50ZM50,7A43,43,0,0,1,81.88,78.82a35.54,35.54,0,0,0-22-18.17,20.28,20.28,0,1,0-19.8,0,35.52,35.52,0,0,0-22,18.18A42.59,42.59,0,0,1,7,50,43,43,0,0,1,50,7Zm0,52.25A16.28,16.28,0,1,1,66.28,43,16.29,16.29,0,0,1,50,59.25ZM21.12,81.84a31.73,31.73,0,0,1,57.76,0,42.93,42.93,0,0,1-57.76,0Z"></path></g></svg>

    {% elsif name == 'bag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bag"><path d="M81.34,27.06a2,2,0,0,0-2-1.89H69V22A19,19,0,1,0,31,22v3.21H20.65a2,2,0,0,0-2,1.89L14.74,94.88a2,2,0,0,0,2,2.12H83.26a2,2,0,0,0,2-2.12ZM35,22A15,15,0,1,1,65,22v3.21H35ZM18.86,93l3.68-63.83H31V46.74a2,2,0,0,0,4,0V29.17H65V46.74a2,2,0,0,0,4,0V29.17h8.5L81.14,93Z"></path></g></svg>

    {% elsif name == 'basket' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="basket"><path d="M95,35.46H81.4l-15.65-27a2,2,0,0,0-3.46,2l14.49,25H23.22l14.49-25a2,2,0,0,0-3.46-2l-15.65,27H5a2,2,0,0,0-2,2V52.21a2,2,0,0,0,2,2h8.68L20.74,91a2,2,0,0,0,2,1.62H77.29a2,2,0,0,0,2-1.62l7.06-36.74H95a2,2,0,0,0,2-2V37.46A2,2,0,0,0,95,35.46ZM75.64,88.57H24.36L17.75,54.21h64.5ZM93,50.21H7V39.46H93Z"></path><path d="M34,85a2,2,0,0,0,2,1.63,2.31,2.31,0,0,0,.37,0A2,2,0,0,0,38,84.3L33.52,60.7a2,2,0,0,0-3.93.73Z"></path><path d="M63.65,86.64a2.31,2.31,0,0,0,.37,0A2,2,0,0,0,66,85l4.43-23.61a2,2,0,0,0-3.93-.73L62.05,84.3A2,2,0,0,0,63.65,86.64Z"></path></g></svg>

    {% elsif name == 'binoculars' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="binoculars"><path d="M93.67,53.49,78.87,23.8a11.37,11.37,0,0,0-22.12,3.7l.09,2.69a15.69,15.69,0,0,0-13.66,0l.07-2.06V27.5a11.37,11.37,0,0,0-22.12-3.71L6.33,53.49A19.49,19.49,0,1,0,42,64.47a0,0,0,0,0,0,0L42.08,62a11.72,11.72,0,0,1,15.84,0L58,64.44a0,0,0,0,0,0,0,19.5,19.5,0,1,0,35.66-11Zm-32.92-26a7.37,7.37,0,0,1,13.37-4.3s0,.08,0,.11l11.7,23.47a19.42,19.42,0,0,0-24.25,6.33l-.86-25ZM31.88,20.12a7.39,7.39,0,0,1,7.37,7.38v.56l-.86,25.05a19.42,19.42,0,0,0-24.25-6.33l11.7-23.47a.36.36,0,0,0,0-.11A7.37,7.37,0,0,1,31.88,20.12ZM22.5,79.88A15.5,15.5,0,1,1,38,64.38,15.52,15.52,0,0,1,22.5,79.88Zm27.5-25a15.63,15.63,0,0,0-7.74,2l.76-22a11.69,11.69,0,0,1,14,0l.75,22A15.7,15.7,0,0,0,50,54.88Zm27.5,25A15.5,15.5,0,1,1,93,64.38,15.52,15.52,0,0,1,77.5,79.88Z"></path></g></svg>

    {% elsif name == 'bolt' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bolt"><path d="M32,97a3.2,3.2,0,0,1-.92-.13,3.29,3.29,0,0,1-2.22-4.11L37.93,61H24.32a3.07,3.07,0,0,1-2.21-.83,3.27,3.27,0,0,1-.31-4.6L64.18,4.19a3.28,3.28,0,0,1,3.36-1.08,3.17,3.17,0,0,1,2,1.48,3.29,3.29,0,0,1,.38,2.47L61.84,42.87H75.72A3.29,3.29,0,0,1,78.2,48.3l0,.05L34.46,95.9A3.24,3.24,0,0,1,32,97Zm.7-3.12h0Zm-1.2-.67,0,0ZM40.59,57a2,2,0,0,1,1.92,2.55L33.53,91,74.09,46.87H59.34a2,2,0,0,1-2-2.44l8-35.4L25.8,57ZM24.87,58.13h0ZM24.27,57h0ZM76.69,47h0ZM67.27,6.73h0ZM66,6.16h0Z"></path></g></svg>

    {% elsif name == 'bookmark' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bookmark"><path d="M81.67,97a2,2,0,0,1-1.13-.35l-30-20.36L19.43,96.67a2,2,0,0,1-2.05.09A2,2,0,0,1,16.33,95V10.28A7.29,7.29,0,0,1,23.61,3H76.39a7.29,7.29,0,0,1,7.28,7.28V95a2,2,0,0,1-1.07,1.77A2,2,0,0,1,81.67,97ZM23.61,7a3.28,3.28,0,0,0-3.28,3.28v81L49.46,72.22a2,2,0,0,1,2.22,0l28,19V10.28A3.28,3.28,0,0,0,76.39,7Z"></path></g></svg>

    {% elsif name == 'box' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="box"><path d="M96.92,24.34l0-.13a2.22,2.22,0,0,0-.2-.41l0-.05a3,3,0,0,0-.33-.38l-.1-.07a1.91,1.91,0,0,0-.41-.26s0,0,0,0h0l-45-19.84a2,2,0,0,0-1.62,0L28.52,12.29a2,2,0,0,0-.93.41L4.19,23c-.07,0-.13.08-.19.11l-.09.05,0,0a2.45,2.45,0,0,0-.35.29l0,.05a2.35,2.35,0,0,0-.23.32L3.21,24a1.88,1.88,0,0,0-.12.3,1,1,0,0,1,0,.14,2.33,2.33,0,0,0,0,.38s0,0,0,.05v0H3V75.15A2,2,0,0,0,4.19,77l45,19.85.17,0,.14.05A2.07,2.07,0,0,0,50,97h0a2.24,2.24,0,0,0,.51-.07l.13-.05.17,0L95.81,77A2,2,0,0,0,97,75.15V24.85A1.7,1.7,0,0,0,96.92,24.34ZM50,7.19,90,24.85,73.35,32.22,33.81,14.33Zm0,35.33L10,24.85l19-8.36,39.54,17.9ZM7,27.92,48,46V91.93L7,73.84ZM75.34,81.64V71.18a2,2,0,0,0-4,0V83.4L52,91.93V46l19.34-8.53v9.87a2,2,0,0,0,4,0V35.71L93,27.92V73.84Z"></path></g></svg>

    {% elsif name == 'briefcase' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="briefcase"><path d="M95,19.36H74.5V14a8.23,8.23,0,0,0-8.22-8.22H33.72A8.23,8.23,0,0,0,25.5,14v5.41H5a2,2,0,0,0-2,2V92.27a2,2,0,0,0,2,2H95a2,2,0,0,0,2-2V21.36A2,2,0,0,0,95,19.36ZM29.5,14a4.22,4.22,0,0,1,4.22-4.22H66.28A4.22,4.22,0,0,1,70.5,14v5.41h-41Zm-2,9.41H93V51.91H7V23.36ZM59.59,56.09v5.55H40.41V56.09ZM7,90.27V55.91H36.41v7.73a2,2,0,0,0,2,2H61.59a2,2,0,0,0,2-2V55.91H93V90.27Z"></path></g></svg>

    {% elsif name == 'calendar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="calendar"><path d="M87.76,10.2h-13V3.8a2,2,0,1,0-4,0v6.4H29.2V3.8a2,2,0,0,0-4,0v6.4h-13A9.25,9.25,0,0,0,3,19.44V89a9.26,9.26,0,0,0,9.24,9.24H87.76A9.26,9.26,0,0,0,97,89V19.44A9.25,9.25,0,0,0,87.76,10.2Zm-75.52,4h13v4a2,2,0,0,0,4,0v-4H70.8v4a2,2,0,1,0,4,0v-4h13A5.25,5.25,0,0,1,93,19.44V24.6H7V19.44A5.25,5.25,0,0,1,12.24,14.2Zm75.52,80H12.24A5.25,5.25,0,0,1,7,89V28.6H93V89A5.25,5.25,0,0,1,87.76,94.2Z"></path></g></svg>

    {% elsif name == 'cart' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="cart"><path d="M47.55,73.94a8,8,0,1,0,8,8A8,8,0,0,0,47.55,73.94Zm0,12a4,4,0,1,1,4-4A4,4,0,0,1,47.55,85.91Z"></path><path d="M76.82,73.94a8,8,0,1,0,8,8A8,8,0,0,0,76.82,73.94Zm0,12a4,4,0,1,1,4-4A4,4,0,0,1,76.82,85.91Z"></path><path d="M88.75,61.75l8.09-36.12a6.46,6.46,0,0,0-6.3-7.87H27.47l-1.24-6.07a2,2,0,0,0-2-1.6H5a2,2,0,0,0,0,4H22.64l1.24,6.07h0l8.5,41.55h0L34.29,71a2,2,0,0,0,2,1.6H92.12a2,2,0,0,0,0-4H37.88l-1.09-5.31h50A2,2,0,0,0,88.75,61.75ZM36,59.31,28.29,21.76H90.54a2.45,2.45,0,0,1,2.4,3L85.19,59.31Z"></path></g></svg>

    {% elsif name == 'chat' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="chat"><path d="M16.53,72.56a2.06,2.06,0,0,1-.84-.19,2,2,0,0,1-1.16-1.81V55.8A13.05,13.05,0,0,1,3,42.86V22.7a13,13,0,0,1,13-13H55.08a13,13,0,0,1,13,13V42.86a13.05,13.05,0,0,1-13,13h-18L17.82,72.09A2,2,0,0,1,16.53,72.56ZM16,13.67a9,9,0,0,0-9,9V42.86a9,9,0,0,0,9,9h.5a2,2,0,0,1,2,2V66.26l16.56-13.9a2,2,0,0,1,1.29-.47h18.7a9,9,0,0,0,9-9V22.7a9,9,0,0,0-9-9Z"></path><path d="M83.47,90.33a2,2,0,0,1-1.29-.47L62.9,73.67h-18A13,13,0,0,1,32.07,62.8,2,2,0,1,1,36,62.14a9,9,0,0,0,8.91,7.53h18.7a2,2,0,0,1,1.29.47L81.47,84V71.67a2,2,0,0,1,2-2H84a9,9,0,0,0,9-9V40.48a9,9,0,0,0-9-9H70.53a2,2,0,0,1,0-4H84a13.05,13.05,0,0,1,13,13V60.63A13.06,13.06,0,0,1,85.47,73.58V88.33a2,2,0,0,1-1.16,1.82A2,2,0,0,1,83.47,90.33Z"></path><path d="M56.11,29.22h-40a2,2,0,0,1,0-4h40a2,2,0,0,1,0,4Z"></path><path d="M56.11,41.44h-40a2,2,0,0,1,0-4h40a2,2,0,0,1,0,4Z"></path></g></svg>

    {% elsif name == 'checkmark' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="checkmark"><path d="M30.71,84.14a2,2,0,0,1-1.41-.58L3.59,57.84A2,2,0,1,1,6.41,55l24.3,24.3L93.59,16.44a2,2,0,0,1,2.82,2.83L32.13,83.56A2,2,0,0,1,30.71,84.14Z"></path></g></svg>

    {% elsif name == 'circle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="circle"><path d="M50,97A47,47,0,1,1,97,50,47,47,0,0,1,50,97ZM50,7A43,43,0,1,0,93,50,43,43,0,0,0,50,7Z"></path></g></svg>

    {% elsif name == 'clock' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="clock"><path d="M73.75,52H50a2,2,0,0,1-2-2V15a2,2,0,0,1,4,0V48H73.75a2,2,0,0,1,0,4Z"></path><path d="M50,97A47,47,0,1,1,97,50,47,47,0,0,1,50,97ZM50,7A43,43,0,1,0,93,50,43,43,0,0,0,50,7Z"></path></g></svg>

    {% elsif name == 'cloud' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="cloud"><path d="M78.38,77.62H21.62a18.62,18.62,0,1,1,2.24-37.1,26.92,26.92,0,0,1,51,.21,18.34,18.34,0,0,1,3.55-.35,18.62,18.62,0,1,1,0,37.24ZM21.62,44.38a14.62,14.62,0,0,0,0,29.24H78.38A14.62,14.62,0,1,0,74.05,45a2,2,0,0,1-1.57-.16,2,2,0,0,1-1-1.26,22.92,22.92,0,0,0-44.33-.31,2,2,0,0,1-2.37,1.43A14.27,14.27,0,0,0,21.62,44.38Z"></path></g></svg>

    {% elsif name == 'document-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="document-2"><path d="M90.32,31.16c0-.06,0-.12-.06-.19s0-.12-.05-.18l-.1-.19L90,30.45l-.15-.18-.09-.11h0L63.84,3.6A2,2,0,0,0,62.41,3H11.64a2,2,0,0,0-2,2V95a2,2,0,0,0,2,2H88.36a2,2,0,0,0,2-2V31.56A1.75,1.75,0,0,0,90.32,31.16Zm-6.71-1.6H63.8V9.29ZM13.64,93V7H59.8V31.56a2,2,0,0,0,2,2H86.36V93Z"></path><path d="M75.08,47.26H23.44a2,2,0,0,0,0,4H75.08a2,2,0,0,0,0-4Z"></path><path d="M23.44,62.08H69.18a2,2,0,0,0,0-4H23.44a2,2,0,1,0,0,4Z"></path><path d="M23.44,72.9H61.8a2,2,0,0,0,0-4H23.44a2,2,0,1,0,0,4Z"></path><path d="M70.66,79.72H23.44a2,2,0,1,0,0,4H70.66a2,2,0,0,0,0-4Z"></path></g></svg>

    {% elsif name == 'document' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="document"><path d="M90.32,31.16a1.21,1.21,0,0,0,0-.18l-.06-.19-.09-.17L90,30.45a1.07,1.07,0,0,0-.14-.16,1.13,1.13,0,0,0-.1-.13L63.84,3.6A2,2,0,0,0,62.41,3H11.64a2,2,0,0,0-2,2V95a2,2,0,0,0,2,2H88.36a2,2,0,0,0,2-2V31.56A1.75,1.75,0,0,0,90.32,31.16Zm-6.71-1.6H63.8V9.29ZM13.64,93V7H59.8V31.56a2,2,0,0,0,2,2H86.36V93Z"></path></g></svg>

    {% elsif name == 'down-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="down-arrow"><path d="M86,59a2,2,0,0,0-2.83,0L52,90.17V5a2,2,0,0,0-4,0V90.17L16.86,59A2,2,0,0,0,14,61.86L48.58,96.41a1.79,1.79,0,0,0,.31.25.55.55,0,0,0,.15.08l.2.11.2.06.17,0a1.92,1.92,0,0,0,.78,0l.17,0,.2-.06.2-.11a.55.55,0,0,0,.15-.08,1.79,1.79,0,0,0,.31-.25L86,61.86A2,2,0,0,0,86,59Z"></path></g></svg>

    {% elsif name == 'down-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="down-caret"><path d="M96.4,25.73a2,2,0,0,0-2.82,0l-9.66,9.81a2,2,0,0,0-.78.47L50,69.17,16.86,36a2,2,0,0,0-.78-.47L6.42,25.75a2,2,0,1,0-2.84,2.81l45,45.69a2,2,0,0,0,2.84,0l45-45.69A2,2,0,0,0,96.4,25.73Z"></path></g></svg>

    {% elsif name == 'email' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="email"><path d="M97,14.8a.15.15,0,0,1,0-.07,2,2,0,0,0-.29-.69v0l-.09-.11a1.45,1.45,0,0,0-.17-.19h0a1.09,1.09,0,0,0-.11-.1l-.18-.14a1.51,1.51,0,0,0-.18-.09.91.91,0,0,0-.17-.09,1.17,1.17,0,0,0-.2-.06l-.17-.05-.26,0H5a1.72,1.72,0,0,0-.39,0l-.17.05-.2.06L4,13.4l-.15.08a1.8,1.8,0,0,0-.55.55,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,1.72,1.72,0,0,0,0,.39V84.86a2,2,0,0,0,2,2H95a2,2,0,0,0,2-2V15.14h0C97,15,97,14.91,97,14.8Zm-6.7,2.34L50.61,57.93,9.83,17.14ZM7,82.86V20L49.22,62.19a2,2,0,0,0,1.41.58h0a2,2,0,0,0,1.42-.6L93,20.07V82.86Z"></path></g></svg>

    {% elsif name == 'eye' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="eye"><path d="M51.16,78.35h-.54C23.54,78,4.21,52.47,3.4,51.39a2,2,0,0,1-.4-1.2v-.38a2,2,0,0,1,.4-1.2C4.21,47.53,23.54,22,50.62,21.66h.54c16.13,0,31.4,9.06,45.41,26.92A2,2,0,0,1,97,49.81v.38a2,2,0,0,1-.43,1.24C82.56,69.29,67.28,78.35,51.16,78.35ZM7.4,50A81.19,81.19,0,0,0,19.26,61.65c7.14,5.71,18.39,12.54,31.43,12.69h.46c14.53,0,28.47-8.19,41.45-24.35C79.48,33.66,65.38,25.47,50.67,25.66,28.46,25.93,11.23,45.33,7.4,50Zm87.6.19h0Z"></path><path d="M50,65.7A15.7,15.7,0,1,1,65.7,50,15.71,15.71,0,0,1,50,65.7Zm0-27.4A11.7,11.7,0,1,0,61.7,50,11.72,11.72,0,0,0,50,38.3Z"></path><path d="M50,59.71a2,2,0,0,1,0-4,5.71,5.71,0,0,0,0-11.42,2,2,0,0,1,0-4,9.71,9.71,0,0,1,0,19.42Z"></path></g></svg>

    {% elsif name == 'facebook' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="facebook"><path d="M57,97H40.45a2,2,0,0,1-2-2V55.94H26.62a2,2,0,0,1-2-2V38a2,2,0,0,1,2-2H38.45V26.15C38.45,11.87,47.1,3,61,3a118,118,0,0,1,12.58.64,2,2,0,0,1,1.79,2V19.94a2,2,0,0,1-2,2H64.92c-5.08,0-5.94,1.79-5.94,5.79V36H72.83a2,2,0,0,1,2,2.26l-2.09,16a2,2,0,0,1-2,1.74H59V95A2,2,0,0,1,57,97ZM42.45,93H55V53.94a2,2,0,0,1,2-2H69l1.57-12H57a2,2,0,0,1-2-2V27.73c0-4.2,1-9.79,9.94-9.79h6.46V7.45C67.93,7.14,64.45,7,61,7,49.39,7,42.45,14.16,42.45,26.15V38a2,2,0,0,1-2,2H28.62v12H40.45a2,2,0,0,1,2,2Z"></path></g></svg>

    {% elsif name == 'film' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="film"><path d="M71.05,81.6H7.9A4.91,4.91,0,0,1,3,76.7V23.3a4.91,4.91,0,0,1,4.9-4.9H71.05A4.91,4.91,0,0,1,76,23.3V33.73l14.48-5.19a5,5,0,0,1,4.5.59,4.83,4.83,0,0,1,2.07,4V66.88a4.84,4.84,0,0,1-2.07,4,5,5,0,0,1-4.5.59L76,66.3V76.7A4.91,4.91,0,0,1,71.05,81.6ZM7.9,22.4a.92.92,0,0,0-.9.9V76.7a.92.92,0,0,0,.9.9H71.05a.92.92,0,0,0,.9-.9V63.46a2,2,0,0,1,.85-1.64,2.05,2.05,0,0,1,1.83-.25l17.16,6.16A.88.88,0,0,0,93,66.88V33.15a.88.88,0,0,0-.37-.75.94.94,0,0,0-.85-.1L74.63,38.46a2.05,2.05,0,0,1-1.83-.25A2,2,0,0,1,72,36.57V23.3a.92.92,0,0,0-.9-.9Z"></path></g></svg>

    {% elsif name == 'fire' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="fire"><path d="M57.08,97a2,2,0,0,1-.8-3.83,15.89,15.89,0,0,0,9.53-15.74,15.32,15.32,0,0,0-2.63-7.1c-2.61,8.55-8.11,9.77-8.38,9.83a2,2,0,0,1-2.2-2.83,46,46,0,0,0,3.83-14.62,28.81,28.81,0,0,0-.86-9.35,31.3,31.3,0,0,0-4.65-10.14A33.59,33.59,0,0,1,45.8,56.87a65.81,65.81,0,0,1-4.34,5.92c-3.93,4.94-7.64,9.62-7.43,17.1A14.72,14.72,0,0,0,41.6,92.24,2,2,0,0,1,40,95.86C28.56,92,19.69,82.43,15,68.85c-6.91-20,6.93-35.57,7.52-36.22A2,2,0,0,1,26,34.13a18.71,18.71,0,0,0,1.21,7.26c.15.38.32.76.5,1.12.26-4.36,1.54-10.45,5.46-17.92C42.25,7.13,61.76,3.2,62.58,3a2,2,0,0,1,2.09,3c0,.07-4.37,7.45-2.36,15a38.25,38.25,0,0,0,3.3,8,80.81,80.81,0,0,1,4.18,9.39c.66,1.81,1.16,3.46,1.54,4.94.17-.32.35-.64.53-1h0c5.19-8.51,12.2-10.59,12.5-10.68a2,2,0,0,1,2.36,2.78,34.47,34.47,0,0,0-2.4,15.88l.11,1.24c.61,6.69,1.37,15-2.31,24.12C78.75,83.92,69.62,94.11,57.54,97A2.4,2.4,0,0,1,57.08,97Zm5.05-33.17a2,2,0,0,1,1.44.61c1.73,1.79,5.8,6.61,6.23,12.68a19.53,19.53,0,0,1-2.19,10.65A34.26,34.26,0,0,0,78.43,74.14c3.31-8.18,2.63-15.66,2-22.25l-.11-1.25a39.47,39.47,0,0,1,1.08-13,23,23,0,0,0-6.14,6.72,28.58,28.58,0,0,0-2.83,8.18,2,2,0,0,1-4-.56s.39-4.48-2.47-12.29a77.72,77.72,0,0,0-4-9A41.41,41.41,0,0,1,58.45,22a23.58,23.58,0,0,1,.91-13.9c-5.88,2-16.83,7.14-22.67,18.33-7.26,13.85-4.55,22.25-4.52,22.34a2,2,0,0,1-.81,2.33,2,2,0,0,1-2.45-.22,24.41,24.41,0,0,1-5.44-8,20.77,20.77,0,0,1-1-3.31c-3.37,5.55-7.86,16-3.71,28C21.58,75.66,26,82.2,31.53,86.71A18.54,18.54,0,0,1,30,80c-.24-9,4.1-14.43,8.3-19.72a61.23,61.23,0,0,0,4.07-5.54c6-9.7,4.52-15.89,4.5-16a2,2,0,0,1,.73-2.08,2,2,0,0,1,2.19-.16c.25.14,6.22,3.64,9.6,15.74a32.42,32.42,0,0,1,1,10.66c-.05.83-.14,1.65-.24,2.45a2,2,0,0,1,1.34-1.49A2.15,2.15,0,0,1,62.13,63.83Z"></path></g></svg>

    {% elsif name == 'flag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="flag"><path d="M79.43,40.68q-1.5-2.15-3-4.27c-1-1.53-1-2.21.11-3.85,2-2.94,3.81-6,5.6-8.94,1.92-3.16,3.9-6.43,5.94-9.44a5.74,5.74,0,0,0,.83-6,3.33,3.33,0,0,0-2.89-1.93H14.55V5a2,2,0,0,0-4,0V95a2,2,0,0,0,4,0V62H85a4.27,4.27,0,0,0,3.89-2,4.52,4.52,0,0,0-.15-4.27C86.24,50.4,82.78,45.46,79.43,40.68ZM84.93,58H14.55V10.28h70.9a2.51,2.51,0,0,1-.6,1.6c-2.14,3.15-4.15,6.46-6.09,9.67-1.76,2.91-3.59,5.92-5.49,8.77s-2,5.43-.12,8.33c1,1.45,2,2.88,3,4.32,3.26,4.66,6.64,9.48,9,14.52a.75.75,0,0,0,.07.12,1.43,1.43,0,0,1,.13.36A2.67,2.67,0,0,1,84.93,58Z"></path></g></svg>

    {% elsif name == 'folder' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="folder"><path d="M95.53,20.26a6.58,6.58,0,0,0-5.14-2.46H29.46A6.6,6.6,0,0,0,23,23.22l-.06.33H9.7a6.71,6.71,0,0,0-6.59,7.92l8.15,44.2a8,8,0,0,0,7.83,6.53H83.15a2.58,2.58,0,0,0,.39,0l.12,0,.26-.09L84,82a1.28,1.28,0,0,0,.25-.15l.08,0a1.86,1.86,0,0,0,.29-.27h0l0,0,.19-.27a.54.54,0,0,1,0-.11,1.17,1.17,0,0,0,.1-.26.56.56,0,0,0,0-.12.19.19,0,0,0,0-.07L96.85,25.79A6.55,6.55,0,0,0,95.53,20.26ZM19.09,78.2A4,4,0,0,1,15.19,75L7.05,30.74a2.64,2.64,0,0,1,.58-2.21,2.68,2.68,0,0,1,2.07-1H23.52a2.72,2.72,0,0,1,2.6,2l.46,1.63a9,9,0,0,0,8.59,6.48h37.4a2,2,0,0,1,2,1.67L80.8,78.2ZM92.94,25,83.42,69.36l-5-30.71a6,6,0,0,0-5.9-5H35.17A5,5,0,0,1,30.43,30L30,28.41a6.71,6.71,0,0,0-3.15-4l.09-.5a2.61,2.61,0,0,1,2.56-2.14H90.39a2.59,2.59,0,0,1,2,1A2.56,2.56,0,0,1,92.94,25Z"></path></g></svg>

    {% elsif name == 'gear' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gear"><path d="M55.06,97H44.94a3.28,3.28,0,0,1-2.76-2.08l-2.35-9.4L38,84.87a35,35,0,0,1-4-1.64l-1.75-.85-8.85,5.3-.11.06A2.74,2.74,0,0,1,22,88a3.11,3.11,0,0,1-2.12-.77l-7.17-7.16a3.29,3.29,0,0,1-.41-3.5l5.29-8.83L16.77,66a37,37,0,0,1-1.65-4l-.64-1.85L5.15,57.84l-.11,0a3.2,3.2,0,0,1-2-2.75V44.94a3.19,3.19,0,0,1,2.21-2.78l9.28-2.33L15.12,38a35.63,35.63,0,0,1,1.65-4l.85-1.77-5.3-8.84A3.19,3.19,0,0,1,12.68,20l7.23-7.23A3.18,3.18,0,0,1,22,12a3.74,3.74,0,0,1,.73.07,2.16,2.16,0,0,1,.61.24l8.86,5.32L34,16.77a37,37,0,0,1,4-1.65l1.85-.64,2.33-9.32A3.19,3.19,0,0,1,44.94,3H55.06a3.28,3.28,0,0,1,2.76,2.08l2.35,9.4,1.85.65a35,35,0,0,1,4,1.64l1.75.85,8.85-5.3.11-.06A2.74,2.74,0,0,1,78,12a3.11,3.11,0,0,1,2.12.77l7.17,7.16a3.29,3.29,0,0,1,.41,3.5l-5.29,8.82L83.23,34a34.35,34.35,0,0,1,1.64,4l.64,1.87,9.34,2.33a1.79,1.79,0,0,1,.6.26A3.22,3.22,0,0,1,97,44.94V55.06a3.28,3.28,0,0,1-2.08,2.76l-9.4,2.35L84.87,62a35,35,0,0,1-1.64,4l-.85,1.75,5.3,8.85A3.18,3.18,0,0,1,87.32,80l-7.23,7.23a3.42,3.42,0,0,1-2.72.7,1.86,1.86,0,0,1-.76-.26l-8.85-5.32L66,83.23a37,37,0,0,1-4,1.65l-1.85.64-2.33,9.33A3.18,3.18,0,0,1,55.06,97Zm-9.24-4h8.36l2.37-9.5a2,2,0,0,1,1.29-1.41l2.87-1a31.71,31.71,0,0,0,3.55-1.46L67,78.31a2,2,0,0,1,1.9.08l9,5.41,5.9-5.9-5.4-9a2,2,0,0,1-.08-1.9l1.32-2.73a32.33,32.33,0,0,0,1.46-3.54l1-2.88a2,2,0,0,1,1.41-1.29L93,54.18V45.82l-9.52-2.37a2,2,0,0,1-1.4-1.3l-1-2.89a31.81,31.81,0,0,0-1.46-3.52L78.31,33a2,2,0,0,1,.08-1.9l5.4-9-5.9-5.89-9,5.4a2,2,0,0,1-1.9.08l-2.73-1.32a32.33,32.33,0,0,0-3.54-1.46l-2.88-1a2,2,0,0,1-1.29-1.41L54.18,7H45.82l-2.37,9.5a2,2,0,0,1-1.29,1.41l-2.87,1a31.71,31.71,0,0,0-3.55,1.46L33,21.69a2,2,0,0,1-1.9-.08l-9-5.41-5.89,5.9,5.4,9a2,2,0,0,1,.08,1.9l-1.32,2.74a32.12,32.12,0,0,0-1.46,3.54l-1,2.88a2,2,0,0,1-1.4,1.3L7,45.83v8.35l9.5,2.37a2,2,0,0,1,1.41,1.29l1,2.87a31.71,31.71,0,0,0,1.46,3.55L21.69,67a2,2,0,0,1-.08,1.9l-5.4,9,5.9,5.89,9-5.4a2,2,0,0,1,1.9-.08l2.73,1.32a32.33,32.33,0,0,0,3.54,1.46l2.88,1a2,2,0,0,1,1.29,1.41ZM22.9,84.6Zm0,0Zm54.37-.17a0,0,0,0,1,0,0Zm7-5.8a.27.27,0,0,0,.06.1Zm-68.46,0,0,0ZM93.61,46a2.51,2.51,0,0,0,.38.11,2,2,0,0,1-.33-.09ZM6.22,46l-.1,0Zm78-24.7,0,0Zm-68.57-.1Zm0,0h0Zm7.07-5.66,0,0A0,0,0,0,1,22.75,15.56Zm54.35-.15Zm0,0ZM50,68.88A18.88,18.88,0,1,1,68.88,50,18.9,18.9,0,0,1,50,68.88Zm0-33.76A14.88,14.88,0,1,0,64.88,50,14.9,14.9,0,0,0,50,35.12Z"></path></g></svg>

    {% elsif name == 'gem' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gem"><path d="M96.79,33.16s0-.09.07-.14a2,2,0,0,0,.07-.23l0-.13a1.5,1.5,0,0,0,0-.37h0v0c0-.11,0-.21,0-.32l0-.14a1.72,1.72,0,0,0-.07-.21,1,1,0,0,0-.07-.15l-.09-.18-.1-.14a.24.24,0,0,0-.06-.08l-15-18.2A2,2,0,0,0,80,12.1H20.24l-.25,0-.16,0-.24.08-.15.06-.22.14-.13.08,0,0a1.39,1.39,0,0,0-.21.21.34.34,0,0,0-.06.06h0L3.47,31l-.07.09-.09.14a1.14,1.14,0,0,0-.1.19.61.61,0,0,0-.07.14,1.87,1.87,0,0,0-.07.22l0,.13a1.64,1.64,0,0,0,0,.38H3v0a2.21,2.21,0,0,0,0,.35l0,.13a1.42,1.42,0,0,0,.07.22,1,1,0,0,0,.07.15,1.62,1.62,0,0,0,.1.18l.09.14.07.09L48.27,87.1a1.94,1.94,0,0,0,.92.61,2,2,0,0,0,.81.19,2,2,0,0,0,1.93-1.46v0L96.53,33.58a.61.61,0,0,1,.07-.1l.09-.13A1.74,1.74,0,0,0,96.79,33.16ZM20.29,17.24,30.82,30.29H9.3ZM54.13,16.1H75.49L64.69,29.47Zm6.1,14.19H39l11-13ZM34.89,29,24.51,16.1H45.7Zm-1.3,5.34L45.66,77.75,9.28,34.29Zm4.15,0H62.26L50,78.43ZM79.86,17.06l10.9,13.23H69.18ZM66.41,34.29H90.69L54.51,77.15Z"></path></g></svg>

    {% elsif name == 'gift' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gift"><path d="M94.73,24.85H85.58A12.11,12.11,0,0,0,71.77,5c-2.18,1.21-17,9.64-22.4,17.68C44,14.61,29.15,6.18,27,5A12.11,12.11,0,0,0,13.16,24.85H5.27a2,2,0,0,0-2,2V50.28a2,2,0,0,0,2,2H7.53V95a2,2,0,0,0,2,2H90.47a2,2,0,0,0,2-2V52.28h2.26a2,2,0,0,0,2-2V26.85A2,2,0,0,0,94.73,24.85Zm-21-16.42.13-.08a8.12,8.12,0,0,1,9,13.54l-4.48,3H52.68C56.7,18.79,68.86,11.15,73.78,8.43ZM15.88,21.89A8.12,8.12,0,1,1,24.83,8.35l.13.08C29.88,11.15,42,18.78,46.06,24.85H20.35Zm-8.61,7H48V48.28H7.27Zm4.26,23.43H48V93H11.53ZM88.47,93H52V52.28H88.47Zm4.26-44.72H52V28.85H92.73Z"></path></g></svg>

    {% elsif name == 'grid' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="grid"><path d="M26.72,28.72H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3H26.72a2,2,0,0,1,2,2V26.72A2,2,0,0,1,26.72,28.72ZM7,24.72H24.72V7H7Z"></path><path d="M60.86,28.72H39.14a2,2,0,0,1-2-2V5a2,2,0,0,1,2-2H60.86a2,2,0,0,1,2,2V26.72A2,2,0,0,1,60.86,28.72Zm-19.72-4H58.86V7H41.14Z"></path><path d="M95,28.72H73.28a2,2,0,0,1-2-2V5a2,2,0,0,1,2-2H95a2,2,0,0,1,2,2V26.72A2,2,0,0,1,95,28.72Zm-19.72-4H93V7H75.28Z"></path><path d="M26.72,62.86H5a2,2,0,0,1-2-2V39.14a2,2,0,0,1,2-2H26.72a2,2,0,0,1,2,2V60.86A2,2,0,0,1,26.72,62.86ZM7,58.86H24.72V41.14H7Z"></path><path d="M60.86,62.86H39.14a2,2,0,0,1-2-2V39.14a2,2,0,0,1,2-2H60.86a2,2,0,0,1,2,2V60.86A2,2,0,0,1,60.86,62.86Zm-19.72-4H58.86V41.14H41.14Z"></path><path d="M95,62.86H73.28a2,2,0,0,1-2-2V39.14a2,2,0,0,1,2-2H95a2,2,0,0,1,2,2V60.86A2,2,0,0,1,95,62.86Zm-19.72-4H93V41.14H75.28Z"></path><path d="M26.72,97H5a2,2,0,0,1-2-2V73.28a2,2,0,0,1,2-2H26.72a2,2,0,0,1,2,2V95A2,2,0,0,1,26.72,97ZM7,93H24.72V75.28H7Z"></path><path d="M60.86,97H39.14a2,2,0,0,1-2-2V73.28a2,2,0,0,1,2-2H60.86a2,2,0,0,1,2,2V95A2,2,0,0,1,60.86,97ZM41.14,93H58.86V75.28H41.14Z"></path><path d="M95,97H73.28a2,2,0,0,1-2-2V73.28a2,2,0,0,1,2-2H95a2,2,0,0,1,2,2V95A2,2,0,0,1,95,97ZM75.28,93H93V75.28H75.28Z"></path></g></svg>

    {% elsif name == 'hanger' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="hanger"><path d="M94.81,71.71,52.75,43.47a4.85,4.85,0,0,0-.74-.4V37.8a9.61,9.61,0,0,0,8.16-9.17c0-5.16-4.56-9.36-10.16-9.36s-10.16,4.2-10.16,9.36a2,2,0,1,0,4,0c0-3,2.76-5.36,6.16-5.36s6.16,2.4,6.16,5.36S53.4,34,50,34a2,2,0,0,0-2,2v7.09a4.51,4.51,0,0,0-.75.4L5.2,71.7a4.93,4.93,0,0,0,2.72,9H92.07A4.94,4.94,0,0,0,97,75.82,4.87,4.87,0,0,0,94.81,71.71Zm-2.74,5H7.93a1,1,0,0,1-.77-.42A.91.91,0,0,1,7.42,75L49.49,46.79h0a1,1,0,0,1,.52-.15.92.92,0,0,1,.51.15L92.59,75a.92.92,0,0,1,.41.78A.93.93,0,0,1,92.07,76.73Z"></path></g></svg>

    {% elsif name == 'heart' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="heart"><path d="M50,90.66a2,2,0,0,1-1.4-.57L11,53.65a25.87,25.87,0,0,1,0-37.39,25,25,0,0,1,34.46,0L50,20.67l4.54-4.41a25,25,0,0,1,34.47,0h0a25.87,25.87,0,0,1,0,37.39L51.39,90.09A2,2,0,0,1,50,90.66ZM28.22,13.34a20.73,20.73,0,0,0-14.45,5.79,21.88,21.88,0,0,0,0,31.65L50,85.87,86.23,50.78a21.88,21.88,0,0,0,0-31.65,21,21,0,0,0-28.9,0l-5.94,5.76a2,2,0,0,1-2.79,0l-5.93-5.76A20.69,20.69,0,0,0,28.22,13.34Z"></path></g></svg>

    {% elsif name == 'house' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="house"><path d="M96.24,43.74l-45-35.62a2,2,0,0,0-2.44,0L3.8,41.84A2,2,0,1,0,6.2,45l4.3-3.23v48.5a2,2,0,0,0,2,2h75a2,2,0,0,0,2-2V43.51l4.26,3.37a2,2,0,0,0,2.48-3.14ZM61.12,88.31H38.88V52.94H61.12Zm24.38,0H65.12V50.94a2,2,0,0,0-2-2H36.88a2,2,0,0,0-2,2V88.31H14.5V38.81L50,12.21,85.5,40.34Z"></path></g></svg>

    {% elsif name == 'houzz' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="houzz"><path d="M91,97H62.12a2,2,0,0,1-2-2V67H41V95a2,2,0,0,1-2,2H9a2,2,0,0,1-2-2V5A2,2,0,0,1,9,3H29.81a2,2,0,0,1,2,2V24.26l59.7,16.89A2,2,0,0,1,93,43.08V95A2,2,0,0,1,91,97ZM64.12,93H89V44.59l-59.7-16.9a2,2,0,0,1-1.45-1.92V7H11V93H37V65a2,2,0,0,1,2-2H62.12a2,2,0,0,1,2,2Z"></path></g></svg>

    {% elsif name == 'instagram' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="instagram"><path d="M73.75,97H26.25A23.3,23.3,0,0,1,3,73.75V26.25A23.3,23.3,0,0,1,26.25,3h47.5A23.3,23.3,0,0,1,97,26.25v47.5A23.3,23.3,0,0,1,73.75,97ZM26.25,7A19.3,19.3,0,0,0,7,26.25v47.5A19.3,19.3,0,0,0,26.25,93h47.5A19.3,19.3,0,0,0,93,73.75V26.25A19.3,19.3,0,0,0,73.75,7ZM50,73.42h0A23.44,23.44,0,1,1,73.44,50,23.51,23.51,0,0,1,50,73.42Zm0-2h0Zm0-40.88a19.44,19.44,0,1,0,13.74,5.69A19.33,19.33,0,0,0,50,30.54Zm26.51,3h-.13a9.7,9.7,0,1,1,.13,0Zm0-15.25a5.63,5.63,0,0,0,0,11.25h.1a5.63,5.63,0,0,0-.1-11.25Z"></path></g></svg>

    {% elsif name == 'leaf-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="leaf-2"><path d="M86.46,94.45C84.41,87.26,80,79,73.23,69.72a34.58,34.58,0,0,0,8.25-15.2c1.89-7.87.49-15.45-3.93-21.32h0c-.18-.24-.36-.48-.5-.64-9.22-13.66-49-26-61-29.47a2,2,0,0,0-1.76.32,2,2,0,0,0-.8,1.6c0,53.92,10.13,65.74,12.16,67.57,4.43,5.77,11.26,9.14,19.27,9.5q.7,0,1.41,0a36.18,36.18,0,0,0,21.6-7.54c.85-.63,1.66-1.29,2.44-2,5.59,7.74,10.21,15.72,12.28,23A2,2,0,0,0,84.54,97a1.79,1.79,0,0,0,.55-.08A2,2,0,0,0,86.46,94.45Zm-21-23.08a31.94,31.94,0,0,1-20.44,6.7c-6.87-.31-12.69-3.18-16.38-8.08a1.52,1.52,0,0,0-.33-.34c-.11-.1-10.5-9.72-10.88-62,45.24,13.38,54.82,25,56.3,27.18l.1.15.09.1c.13.15.26.33.39.5h0c3.69,4.91,4.84,11.29,3.24,18a30.53,30.53,0,0,1-6.8,12.87c-1.08-1.42-2.22-2.85-3.4-4.31,4.89-8.71-2.48-24.92-2.81-25.62A2,2,0,0,0,61,38.2c1.8,3.91,5.52,14.4,3.57,20.5q-2.7-3.2-5.72-6.51A300.74,300.74,0,0,0,37.19,30.74a2,2,0,1,0-2.64,3c.14.11,4.68,4.12,11,10.36a18,18,0,0,1-10.27.33,2,2,0,0,0-1.3,3.78,19.09,19.09,0,0,0,5.81.82,22.35,22.35,0,0,0,8.84-1.83A244.13,244.13,0,0,1,67.94,69.35C67.16,70.05,66.35,70.73,65.5,71.37Z"></path></g></svg>

    {% elsif name == 'leaf' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="leaf"><path d="M74.93,59.25c0-.25,0-.5,0-.74.16-3.89-1.12-19-23.21-54.56a2,2,0,0,0-3.39,0c-24.15,38.9-23.44,53.3-23.14,55.46A24.9,24.9,0,0,0,48,84V95a2,2,0,0,0,4,0V84A24.9,24.9,0,0,0,74.93,59.25ZM52,80V75.81L65.75,62.1a2,2,0,1,0-2.83-2.83L52,70.15V64.37L65.75,50.66a2,2,0,1,0-2.83-2.83L52,58.71V50.07L62.89,39.22a2,2,0,0,0-2.83-2.83l-8,8V34.34l5.14-5.13a2,2,0,0,0-2.83-2.83L52,28.68V22.07a2,2,0,1,0-4,0v6.61l-2.3-2.3a2,2,0,0,0-2.83,2.83L48,34.34V44.41l-8-8a2,2,0,0,0-2.83,2.83L48,50.07v8.64L37.15,47.83a2,2,0,0,0-2.83,2.83L48,64.37v5.78L37.15,59.27a2,2,0,0,0-2.83,2.83L48,75.81V80A20.91,20.91,0,0,1,29.17,59.25a2.45,2.45,0,0,0,0-.39s-.55-3.29,2-11.43C33.32,40.3,38.39,27.9,50,8.82,70.53,42.56,71,56,70.91,58.4v.14a.62.62,0,0,0,0,.13c0,.18,0,.38,0,.58A20.9,20.9,0,0,1,52,80Z"></path></g></svg>

    {% elsif name == 'left-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="left-arrow"><path d="M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z"></path></g></svg>

    {% elsif name == 'left-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="left-caret"><path d="M64.44,83.92a2,2,0,0,0-.47-.78L30.83,50,64,16.86a2,2,0,0,0,.47-.78l9.81-9.66a2,2,0,1,0-2.81-2.84l-45.69,45a2,2,0,0,0,0,2.84l45.69,45a2,2,0,1,0,2.81-2.84Z"></path></g></svg>

    {% elsif name == 'like' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="like"><path d="M14.5,86.53a5.4,5.4,0,1,0-5.4-5.39A5.4,5.4,0,0,0,14.5,86.53Zm0-6.8a1.4,1.4,0,1,1-1.4,1.41A1.41,1.41,0,0,1,14.5,79.73Z"></path><path d="M97,44.7a8.64,8.64,0,0,0-8.66-8.63L57,36.51c1.58-4,2.63-11.86.7-21.85C56.83,10,54,7,50.54,7a6.13,6.13,0,0,0-6,5.11,82.51,82.51,0,0,1-1.62,9.51C41.06,29.29,32.14,39,25.45,43.92a3.51,3.51,0,0,0-3.34-2.46H6.51A3.51,3.51,0,0,0,3,45V89a3.52,3.52,0,0,0,3.51,3.51h15.6a3.48,3.48,0,0,0,3.08-1.87A31.09,31.09,0,0,0,37.75,93h.82c2.93,0,7.86-.08,15.06-.08h.17l24-.48c5,0,8.63-3.35,8.63-8a8.55,8.55,0,0,0-1.49-4.83,8.62,8.62,0,0,0,4.73-14,8.6,8.6,0,0,0,2.65-13.25A8.63,8.63,0,0,0,97,44.7ZM21.62,88.46H7v-43H21.62ZM88.34,49.33l-2,0q-.31,0-.66,0a2,2,0,0,0,0,4,4.63,4.63,0,1,1,0,9.25H80.51a2,2,0,0,0,0,4h2.56a4.63,4.63,0,1,1,0,9.26h-5.3a2,2,0,0,0,0,4,4.63,4.63,0,0,1,4.63,4.63c0,2.73-2.33,4-4.67,4l-24.33.49c-7.1,0-12,0-14.9.08A26.94,26.94,0,0,1,26,86.57V48.4c7.39-4.76,18.46-16.09,20.8-25.86a87.22,87.22,0,0,0,1.71-10A2.21,2.21,0,0,1,50.58,11c1.39,0,2.71,1.82,3.21,4.43,2,10.36.42,17.69-.71,20.15a3.51,3.51,0,0,0,3.23,5l32.06-.45a4.63,4.63,0,1,1,0,9.26Z"></path></g></svg>

    {% elsif name == 'link' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="link"><path d="M91.07,62.44l-9.56-9.55a20.27,20.27,0,0,0-27.14-1.35l-5.91-5.91a20.26,20.26,0,0,0-1.35-27.14L37.56,8.93A20.24,20.24,0,1,0,8.93,37.56l9.56,9.55a20.27,20.27,0,0,0,27.14,1.35l5.91,5.91a20.26,20.26,0,0,0,1.35,27.14l9.55,9.56A20.24,20.24,0,1,0,91.07,62.44ZM21.31,44.29l-9.55-9.56a16.24,16.24,0,1,1,23-23l9.56,9.55A16.27,16.27,0,0,1,45.6,42.78L33.26,30.43a2,2,0,0,0-2.83,2.83L42.78,45.6A16.27,16.27,0,0,1,21.31,44.29ZM88.24,88.24a16.24,16.24,0,0,1-23,0l-9.56-9.55A16.27,16.27,0,0,1,54.4,57.22L66.74,69.57a2,2,0,1,0,2.83-2.83L57.22,54.4a16.24,16.24,0,0,1,21.47,1.31l9.55,9.56a16.24,16.24,0,0,1,0,23Z"></path></g></svg>

    {% elsif name == 'linkedin' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="linkedin"><g id="LinkedIn-2" data-name="LinkedIn"><path d="M95,95H75.71a2,2,0,0,1-2-2V62c0-11.13-5.85-11.13-7.77-11.13-5.15,0-7.34,4.06-8,5.81a11.3,11.3,0,0,0-.5,4V93a2,2,0,0,1-2,2H36.1a2,2,0,0,1-1.41-.59A2,2,0,0,1,34.1,93c0-.53.26-52.59,0-57.92a2,2,0,0,1,.55-1.48A2,2,0,0,1,36.1,33H55.4a2,2,0,0,1,2,2v2.54c3.21-3.17,8-5.9,15.39-5.9C88,31.61,97,42.12,97,59.73V93A2,2,0,0,1,95,95ZM77.71,91H93V59.73c0-15.33-7.37-24.12-20.21-24.12-8.93,0-13.09,4.64-15.71,8.68A2,2,0,0,1,53.4,43.2V37H38.15c.16,9.85,0,45.08,0,54H53.4V60.59a14.52,14.52,0,0,1,.79-5.46c2.09-5.19,6.48-8.3,11.75-8.3,4.39,0,11.77,2,11.77,15.13ZM25.44,95H6.15a2,2,0,0,1-2-2V35a2,2,0,0,1,2-2H25.44a2,2,0,0,1,2,2V93A2,2,0,0,1,25.44,95ZM8.15,91H23.44V37H8.15Zm7.64-61.94h-.13C8.33,29.06,3,24,3,17S8.43,5,15.92,5,28.55,9.93,28.71,17C28.71,24,23.27,29.06,15.79,29.06ZM15.92,9C10.58,9,7,12.22,7,17s3.56,8,8.66,8h.13c5.33,0,8.92-3.23,8.92-8S21.15,9,15.92,9Z"></path></g></g></svg>

    {% elsif name == 'lock' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="lock"><path d="M81.73,97H18.27a6.74,6.74,0,0,1-6.73-6.72V49.6a6.74,6.74,0,0,1,6.73-6.73H81.73a6.74,6.74,0,0,1,6.73,6.73V90.28A6.74,6.74,0,0,1,81.73,97ZM18.27,46.87a2.74,2.74,0,0,0-2.73,2.73V90.28A2.73,2.73,0,0,0,18.27,93H81.73a2.73,2.73,0,0,0,2.73-2.72V49.6a2.74,2.74,0,0,0-2.73-2.73Z"></path><path d="M72.79,46.87H27.21a2,2,0,0,1-2-2V27.78a24.79,24.79,0,0,1,49.58,0V44.87A2,2,0,0,1,72.79,46.87Zm-43.58-4H70.79V27.78a20.79,20.79,0,0,0-41.58,0Z"></path></g></svg>

    {% elsif name == 'map' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="map"><path d="M94.28,3.27a2,2,0,0,0-2,0L64.42,18.86,36.55,3.25a1.57,1.57,0,0,0-.23-.09,1.57,1.57,0,0,0-.23-.09l-.26,0-.25,0a1.9,1.9,0,0,0-.25,0l-.26,0a1.7,1.7,0,0,0-.24.09,1.57,1.57,0,0,0-.23.09L5.75,19.41a2,2,0,0,0-1,1.74V95a2,2,0,0,0,3,1.75L35.58,81.14,63.45,96.75a2.23,2.23,0,0,0,.31.12l.15.06a1.79,1.79,0,0,0,.51.07,1.75,1.75,0,0,0,.51-.07.76.76,0,0,0,.16-.06c.1,0,.21-.07.31-.12L94.25,80.59a2,2,0,0,0,1-1.74V5A2,2,0,0,0,94.28,3.27ZM8.73,22.33,33.58,8.41V77.67L8.73,91.59ZM37.58,8.41,62.42,22.33V91.59L37.58,77.67ZM91.27,77.67,66.42,91.59V22.33L91.27,8.41Z"></path></g></svg>

    {% elsif name == 'menu' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>menu</title><g id="menu"><path d="M95,17.75H5a2,2,0,0,1,0-4H95a2,2,0,0,1,0,4Z"/><path d="M95,52H5a2,2,0,0,1,0-4H95a2,2,0,0,1,0,4Z"/><path d="M95,86.25H5a2,2,0,0,1,0-4H95a2,2,0,0,1,0,4Z"/></g></svg>

    {% elsif name == 'minus' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="minus"><path d="M94,52H4a2,2,0,0,1,0-4H94a2,2,0,0,1,0,4Z"></path></g></svg>

    {% elsif name == 'moon' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="moon"><path d="M43.92,97A48.46,48.46,0,0,1,8.26,81.28a2,2,0,0,1,2-3.28,45.58,45.58,0,0,0,11.68,1.51A45.15,45.15,0,0,0,54.07,66.18,45.14,45.14,0,0,0,67.4,34,45.7,45.7,0,0,0,57.91,6.22a2,2,0,0,1,2.25-3.1A48.35,48.35,0,0,1,43.92,97ZM16.11,83.18A44.34,44.34,0,1,0,64.94,9.6,49.7,49.7,0,0,1,71.4,34,49.11,49.11,0,0,1,56.9,69a49.16,49.16,0,0,1-35,14.5A51.08,51.08,0,0,1,16.11,83.18Z"></path></g></svg>

    {% elsif name == 'music' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="music"><path d="M89.54,3.47A2,2,0,0,0,87.91,3l-52.5,9a2,2,0,0,0-1.66,2V73.22a14,14,0,1,0,3.94,11,1.84,1.84,0,0,0,.06-.47V35.62l48.5-8.31V64.22a14,14,0,1,0,3.94,11,1.84,1.84,0,0,0,.06-.47V5A2,2,0,0,0,89.54,3.47ZM23.75,93a10,10,0,1,1,10-10A10,10,0,0,1,23.75,93Zm52.5-9a10,10,0,1,1,10-10A10,10,0,0,1,76.25,84ZM37.75,31.56V15.69l48.5-8.32V23.25Z"></path></g></svg>

    {% elsif name == 'phone' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="phone"><path d="M73.13,97A22.07,22.07,0,0,1,70,96.76,75.6,75.6,0,0,1,43.1,87,85.18,85.18,0,0,1,26.17,73.81,85.16,85.16,0,0,1,13,56.89,75.5,75.5,0,0,1,3.24,30,22.59,22.59,0,0,1,9.72,10.84L13.59,7A13.68,13.68,0,0,1,32.86,7l8.48,8.5a13.63,13.63,0,0,1,0,19.27l-3.76,3.75a3.72,3.72,0,0,0-.36,4.77,81.75,81.75,0,0,0,8.9,10.6,80.78,80.78,0,0,0,10.61,8.91,3.69,3.69,0,0,0,4.76-.37l3.77-3.76a13.64,13.64,0,0,1,19.26,0L93,67.14A13.59,13.59,0,0,1,93,86.4l-3.87,3.87A22.8,22.8,0,0,1,73.13,97ZM23.23,7a9.6,9.6,0,0,0-6.81,2.8l-3.87,3.87A18.56,18.56,0,0,0,7.19,29.44a71.59,71.59,0,0,0,9.25,25.41A81.63,81.63,0,0,0,29,71,80.55,80.55,0,0,0,45.14,83.53,71.3,71.3,0,0,0,70.55,92.8a18.1,18.1,0,0,0,2.58.2,18.84,18.84,0,0,0,13.18-5.56l3.87-3.87a9.62,9.62,0,0,0,0-13.61l-8.49-8.49a9.63,9.63,0,0,0-13.6,0l-3.76,3.76a7.7,7.7,0,0,1-9.89.82,84.11,84.11,0,0,1-11.15-9.37A84.72,84.72,0,0,1,34,45.56a7.71,7.71,0,0,1,.8-9.89l3.76-3.76a9.62,9.62,0,0,0,0-13.61L30,9.8A9.61,9.61,0,0,0,23.23,7Z"></path></g></svg>

    {% elsif name == 'photo' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="photo"><path d="M96.29,65.32v-54A8.35,8.35,0,0,0,88,3H12.05a8.35,8.35,0,0,0-8.34,8.34V88.66A8.35,8.35,0,0,0,12.05,97H88a8.35,8.35,0,0,0,8.34-8.34V65.32ZM12.05,7H88a4.35,4.35,0,0,1,4.34,4.34V60.41L78.57,46.46a2,2,0,0,0-2.81-.05L48.61,72.21,32.84,56.44a2,2,0,0,0-2.78,0L7.71,77.5V11.34A4.35,4.35,0,0,1,12.05,7ZM88,93H12.05a4.35,4.35,0,0,1-4.34-4.34V83L31.39,60.65,47.16,76.41a2,2,0,0,0,2.79,0L77.09,50.66l15.2,15.46V88.66A4.35,4.35,0,0,1,88,93Z"></path><path d="M31.43,44.14a12,12,0,1,0-12-12A12,12,0,0,0,31.43,44.14Zm0-20a8,8,0,1,1-8,8A8,8,0,0,1,31.43,24.14Z"></path></g></svg>

    {% elsif name == 'pin' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="pin"><path d="M50,97a2,2,0,0,1-1.72-1L22.13,51.93a32.06,32.06,0,0,1-.28-32.57,32.4,32.4,0,0,1,56.3,0,32.06,32.06,0,0,1-.28,32.57L51.72,96A2,2,0,0,1,50,97ZM50,7A28.4,28.4,0,0,0,25.57,49.89L50,91.08,74.43,49.89A28.4,28.4,0,0,0,50,7Z"></path><path d="M50,51a15.61,15.61,0,1,1,15.6-15.6A15.62,15.62,0,0,1,50,51Zm0-27.21A11.61,11.61,0,1,0,61.6,35.35,11.62,11.62,0,0,0,50,23.74Z"></path></g></svg>

    {% elsif name == 'pinterest' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="pinterest"><path d="M30.16,97a2.7,2.7,0,0,1-2.67-2.28l0-.26c-1.15-7.67-1.07-14.82.23-20.14l6.71-27.51a22.38,22.38,0,0,1-1.6-8.38c0-8.62,5.4-15.38,12.3-15.38,5.5,0,9.2,3.93,9.2,9.76,0,3.33-1.31,7.43-2.69,11.77-.75,2.33-1.52,4.75-2.08,7.05a5.75,5.75,0,0,0,1,5A6.85,6.85,0,0,0,56,59.12c8.51,0,14.93-11,14.93-25.49,0-11-7.75-17.81-20.22-17.81-11.77,0-24.28,8-24.28,22.76a12.61,12.61,0,0,0,3,8.82,4.36,4.36,0,0,1,1.19,4.74l-1.08,4.12a3.91,3.91,0,0,1-2,2.58,4,4,0,0,1-3.34.06C16.58,55.89,12,47.81,12,37.3A32.81,32.81,0,0,1,22.19,14.21C27.41,9.1,36.85,3,52.18,3c10,0,19.25,3.41,25.9,9.59a30.33,30.33,0,0,1,9.9,22h0C88,56.3,75,72,57.17,72A19.23,19.23,0,0,1,45.1,67.81c-1,3.71-2.37,9.06-2.8,10.55-2,7-7,14-9.86,17.45l-.13.16A2.78,2.78,0,0,1,30.16,97ZM45.09,27.05c-4.65,0-8.3,5-8.3,11.38a17.49,17.49,0,0,0,1.49,7.27,2.09,2.09,0,0,1,.16,1.39L31.57,75.26A47.38,47.38,0,0,0,31,91.08c3.61-4.87,6.27-9.8,7.42-13.82C39.1,75,42.17,63.21,42.2,63.09a2,2,0,0,1,3.7-.45c1.43,2.66,6,5.4,11.27,5.4C73,68,84,54.29,84,34.61,84,21,72.08,7,52.18,7,37.16,7,16,16.4,16,37.3c0,8.94,3.53,15.46,9.67,17.88h0l1.07-4.09a2.89,2.89,0,0,0,.12-.53s-.11-.13-.46-.54a16.57,16.57,0,0,1-4-11.45c0-15.25,12.16-26.76,28.28-26.76,14.71,0,24.22,8.56,24.22,21.81,0,16.81-8.14,29.49-18.93,29.49a10.85,10.85,0,0,1-8.64-4,9.68,9.68,0,0,1-1.73-8.44c.6-2.44,1.39-4.92,2.16-7.32,1.28-4,2.5-7.84,2.5-10.55C50.29,31.08,49.78,27.05,45.09,27.05Z"></path></g></svg>

    {% elsif name == 'plus' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="plus"><path d="M95,48H52V5a2,2,0,0,0-4,0V48H5a2,2,0,0,0,0,4H48V95a2,2,0,0,0,4,0V52H95a2,2,0,0,0,0-4Z"></path></g></svg>

    {% elsif name == 'recycle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="recycle"><path d="M42.05,60.77H26l5.75-8.62,4.62,4.62a2,2,0,0,0,3.36-1.87L34.47,32.67a2,2,0,0,0-1.95-1.54H6.06A2,2,0,0,0,5,34.83L11.69,39l-8.33,12a2,2,0,0,0-.07,2.16L22.34,85a2,2,0,0,0,1.72,1h18a2,2,0,0,0,2-2V62.77A2,2,0,0,0,42.05,60.77ZM7.38,52.26l8.79-12.7a2,2,0,0,0-.58-2.83L13,35.13H31L34.24,49l-1.36-1.36a2,2,0,0,0-3.08.31L16.62,67.67ZM40.05,81.94H25.19L18.9,71.46l4.46-6.69H40.05Z"></path><path d="M21.86,22.53,40,33.51a2,2,0,0,0,2.74-.67L51,19.13l4.39,9.39-6.35,1.56a2,2,0,0,0-.14,3.85l21.76,7a1.86,1.86,0,0,0,.61.1,2,2,0,0,0,1.71-1L86.72,17.42a2,2,0,0,0-2.61-2.82l-7,3.56-6-13.37A2,2,0,0,0,69.27,3.6l-37-.17a2,2,0,0,0-1.72,1L21.19,19.79a2,2,0,0,0,.67,2.74ZM68,7.6l6.31,14.1a2,2,0,0,0,2.72,1l2.69-1.36L70.4,36.63,56.87,32.28l1.86-.45A2,2,0,0,0,60.07,29L50,7.52ZM33.35,7.44l12.22.06L49,14.78,40.33,29.05l-14.69-8.9Z"></path><path d="M96.65,49.86,86.48,35a2.05,2.05,0,0,0-1.29-.84,2,2,0,0,0-1.5.32l-17.46,12a2,2,0,0,0-.52,2.78l9.06,13.21-10.36.14,1.2-6.43A2,2,0,0,0,64.53,54a2,2,0,0,0-2.37.45L46.81,71.39a2,2,0,0,0-.16,2.48l15,21.83a2,2,0,0,0,3.65-1.22l-.34-7.88,14.65.07h0A2,2,0,0,0,81.4,85.5L96.82,51.82A2,2,0,0,0,96.65,49.86ZM78.3,82.66l-15.45-.07h0a2,2,0,0,0-2,2.08l.13,3L50.84,72.91l9.54-10.53L60,64.26a2,2,0,0,0,.43,1.66,1.94,1.94,0,0,0,1.56.71l23.76-.31ZM87.62,62.3l-8,.1L70.14,48.64l14.17-9.71,8.4,12.26Z"></path></g></svg>

    {% elsif name == 'right-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="right-arrow"><path d="M96.66,51.11a1.19,1.19,0,0,0,.09-.15l.1-.2.06-.2a.84.84,0,0,0,0-.17,2,2,0,0,0,0-.78.84.84,0,0,0,0-.17l-.06-.2-.1-.2a1.19,1.19,0,0,0-.09-.15,1.79,1.79,0,0,0-.25-.31L61.86,14A2,2,0,0,0,59,16.86L90.17,48H5a2,2,0,0,0,0,4H90.17L59,83.14a2,2,0,0,0,1.42,3.41A2,2,0,0,0,61.86,86L96.41,51.42A1.79,1.79,0,0,0,96.66,51.11Z"></path></g></svg>

    {% elsif name == 'right-caret' %}

  <svg id="right-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M74.25,48.58l-45.69-45a2,2,0,1,0-2.81,2.84l9.81,9.66a2,2,0,0,0,.47.78L69.17,50,36,83.14a2,2,0,0,0-.47.78l-9.81,9.66a2,2,0,1,0,2.81,2.84l45.69-45a2,2,0,0,0,0-2.84Z"></path></svg>

    {% elsif name == 'rss' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M18.61,97A15.62,15.62,0,1,1,34.23,81.39,15.62,15.62,0,0,1,18.61,97Zm0-27.23A11.62,11.62,0,1,0,30.23,81.39,11.63,11.63,0,0,0,18.61,69.77Z"></path><path d="M64.75,83.39a2,2,0,0,1-2-2A44.19,44.19,0,0,0,18.61,37.25a2,2,0,0,1,0-4A48.2,48.2,0,0,1,66.75,81.39,2,2,0,0,1,64.75,83.39Z"></path><path d="M95,83.39a2,2,0,0,1-2-2A74.47,74.47,0,0,0,18.61,7a2,2,0,0,1,0-4A78.47,78.47,0,0,1,97,81.39,2,2,0,0,1,95,83.39Z"></path></g></svg>

    {% elsif name == 'ruler' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="ruler"><path d="M96.41,93.59,65.91,63.08h0l-7.62-7.62h0l-7.37-7.37h0l-6.78-6.78h0L6.41,3.59a2,2,0,0,0-2.18-.44A2,2,0,0,0,3,5V95a2,2,0,0,0,2,2H95a2,2,0,0,0,1.85-1.23A2,2,0,0,0,96.41,93.59ZM7,93V9.83L18.33,21.16l-4.42,4.42A2,2,0,0,0,15.32,29a2,2,0,0,0,1.42-.59L21.16,24l4.54,4.55-1.91,1.92a2,2,0,1,0,2.82,2.83l1.92-1.92,4.8,4.8-4.42,4.42A2,2,0,0,0,30.32,44a2,2,0,0,0,1.42-.59L36.16,39l3.71,3.72L38,44.62A2,2,0,0,0,39.37,48a2,2,0,0,0,1.41-.58l1.92-1.92,4,4-4.42,4.42a2,2,0,0,0,1.42,3.41,2,2,0,0,0,1.41-.58l4.42-4.42L54,56.87l-1.92,1.91A2,2,0,1,0,55,61.61l1.92-1.92,4.79,4.8-4.42,4.42a2,2,0,0,0,1.42,3.41,2,2,0,0,0,1.41-.58l4.42-4.42L68.2,71,66.29,73a2,2,0,1,0,2.82,2.83L71,73.86l4.8,4.8-4.42,4.42a2,2,0,0,0,1.41,3.41,2,2,0,0,0,1.42-.59l4.42-4.42L90.17,93Z"/><path d="M23.08,43.59A2,2,0,0,0,19.67,45V78.33a2,2,0,0,0,2,2H55a2,2,0,0,0,1.41-3.41Zm.59,32.74V49.83l26.5,26.5Z"/></g></svg>

    {% elsif name == 'search' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="search"><path d="M93.26,93.59l-23.94-24a38,38,0,1,0-3.16,2.5L90.44,96.41a2,2,0,0,0,2.82-2.82ZM10.15,41.06A34.07,34.07,0,1,1,44.21,75.13,34.1,34.1,0,0,1,10.15,41.06Z"></path></g></svg>

    {% elsif name == 'shield' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="shield"><path d="M50,97.5a2,2,0,0,1-.78-.16A62.14,62.14,0,0,1,15.6,62.23a41,41,0,0,1-2.34-13.77V15a2,2,0,0,1,2-2c9,0,33.79-9.25,34-9.34a2,2,0,0,1,1.4,0c.25.09,25,9.34,34,9.34a2,2,0,0,1,2,2V48.46A41,41,0,0,1,84.4,62.23,62.14,62.14,0,0,1,50.78,97.34,2,2,0,0,1,50,97.5ZM17.26,16.87V48.46a37,37,0,0,0,2.11,12.43c1.35,3.79,9.12,23,30.63,32.43,21.51-9.43,29.28-28.64,30.63-32.43a37,37,0,0,0,2.11-12.43V16.87C72.94,15.94,54,9.09,50,7.63,46,9.09,27.06,15.94,17.26,16.87Z"></path><path d="M46.84,64.34a2,2,0,0,1-1.41-.58L32.8,51.12a2,2,0,1,1,2.82-2.82L46.74,59.41,65.86,37.35a2,2,0,1,1,3,2.62L48.35,63.65a2,2,0,0,1-1.44.69Z"></path></g></svg>

    {% elsif name == 'slider' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="slider"><path d="M20,31.62H14.84V5a2,2,0,0,0-4,0V31.62H5.66a2,2,0,1,0,0,4h5.18V95a2,2,0,0,0,4,0V35.62H20a2,2,0,1,0,0-4Z"></path><path d="M44.79,66.88H39.72V5a2,2,0,0,0-4,0V66.88H30.43a2,2,0,0,0,0,4h5.29V95a2,2,0,0,0,4,0V70.88h5.07a2,2,0,0,0,0-4Z"></path><path d="M69.57,36.85H64.5V5a2,2,0,0,0-4,0V36.85H55.21a2,2,0,0,0,0,4H60.5V95a2,2,0,0,0,4,0V40.85h5.07a2,2,0,0,0,0-4Z"></path><path d="M94.34,57.74H89.27V5a2,2,0,0,0-4,0V57.74H80a2,2,0,0,0,0,4h5.29V95a2,2,0,0,0,4,0V61.74h5.07a2,2,0,0,0,0-4Z"></path></g></svg>

    {% elsif name == 'snapchat' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="snapchat"><path d="M50,95.32c-5.72,0-10.28-2.66-14-4.8l-.12-.07c-1.23-.73-2.4-1.42-3.45-1.91a7.35,7.35,0,0,0-2.81-.39c-1,0-2,.07-2.94.13s-1.87.15-2.82.15a10.6,10.6,0,0,1-4.18-.75,8.69,8.69,0,0,1-5-5.83c-.08-.26-.15-.53-.22-.8a35.3,35.3,0,0,1-4.39-1.11A14,14,0,0,1,6.41,78,8.27,8.27,0,0,1,3,71.39a7.54,7.54,0,0,1,4.46-6.82,16.84,16.84,0,0,1,2.77-1c3.1-1,6.93-2.22,9.45-8.28l-2.44-1a9.62,9.62,0,0,1-6-11,9,9,0,0,1,3.22-5.09A9.08,9.08,0,0,1,20,36.25a8,8,0,0,1,1.07.07c0-.91,0-1.81,0-2.68A28.44,28.44,0,0,1,23.39,22.4a28.88,28.88,0,0,1,6.19-9.18A29.23,29.23,0,0,1,38.74,7,28.53,28.53,0,0,1,61.21,7,29.07,29.07,0,0,1,78.92,33.64c0,.93,0,1.84,0,2.68A8,8,0,0,1,80,36.25a8.93,8.93,0,0,1,8.71,7,9.63,9.63,0,0,1-6,11.06l-2.37,1c2.52,6.06,6.36,7.29,9.48,8.29a19.91,19.91,0,0,1,2.75,1A7.55,7.55,0,0,1,97,71.39,8.23,8.23,0,0,1,93.64,78a13.37,13.37,0,0,1-3.75,1.93,35.37,35.37,0,0,1-4.39,1.12c-.06.26-.13.53-.21.8a8.71,8.71,0,0,1-5,5.83,10.6,10.6,0,0,1-4.18.75c-.94,0-1.88-.07-2.84-.16s-1.94-.12-2.92-.12a7.13,7.13,0,0,0-2.8.4A40,40,0,0,0,64,90.48C60.32,92.65,55.75,95.32,50,95.32ZM38.07,87.06c3.59,2.1,7.29,4.26,11.93,4.26s8.37-2.17,12-4.27a43.3,43.3,0,0,1,3.9-2.14,10.73,10.73,0,0,1,4.47-.76c1.11,0,2.18.07,3.22.14s1.76.14,2.54.14A6.74,6.74,0,0,0,78.71,84a4.84,4.84,0,0,0,2.75-3.29A15.88,15.88,0,0,0,81.8,79a2,2,0,0,1,1.59-1.66l.36-.07a37,37,0,0,0,4.84-1.16,9.79,9.79,0,0,0,2.63-1.33A4.3,4.3,0,0,0,93,71.39a3.53,3.53,0,0,0-2.2-3.23h0a14.71,14.71,0,0,0-2.18-.81C85,66.19,79,64.27,75.89,54.74A2,2,0,0,1,77,52.27l4.21-1.72a5.64,5.64,0,0,0,3.58-6.46,4.86,4.86,0,0,0-1.78-2.79,5,5,0,0,0-3-1,5.91,5.91,0,0,0-1.18.15l-1.33.32a2,2,0,0,1-1.68-.35A2,2,0,0,1,75,38.85c-.06-1.39-.12-3.25-.12-5.21a24.82,24.82,0,0,0-2-9.69,25.55,25.55,0,0,0-13.3-13.29,24.25,24.25,0,0,0-9.67-2,24,24,0,0,0-9.64,2A25.41,25.41,0,0,0,32.41,16,24.87,24.87,0,0,0,27.07,24a24.47,24.47,0,0,0-2,9.67c0,1.67,0,3.43-.11,5.21a2,2,0,0,1-2.46,1.87l-1.41-.34A6,6,0,0,0,20,40.25a5,5,0,0,0-3,1,4.85,4.85,0,0,0-1.76,2.79,5.61,5.61,0,0,0,3.51,6.44L23,52.26a2,2,0,0,1,1.15,2.48C21,64.27,15,66.19,11.42,67.34a14.18,14.18,0,0,0-2.19.81A3.54,3.54,0,0,0,7,71.39a4.29,4.29,0,0,0,1.82,3.45,10,10,0,0,0,2.62,1.32,37.78,37.78,0,0,0,4.86,1.16l.32.06a2,2,0,0,1,1.6,1.7,9.93,9.93,0,0,0,.34,1.63A4.8,4.8,0,0,0,21.29,84a6.58,6.58,0,0,0,2.62.44c.79,0,1.64-.07,2.52-.14s2.12-.14,3.24-.14a10.85,10.85,0,0,1,4.47.75c1.25.58,2.51,1.32,3.83,2.1Z"></path></g></svg>

    {% elsif name == 'square' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="square"><path d="M95,97H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3H95a2,2,0,0,1,2,2V95A2,2,0,0,1,95,97ZM7,93H93V7H7Z"></path></g></svg>

    {% elsif name == 'star' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="star"><path d="M81.67,94h-.29a3.71,3.71,0,0,1-1.18-.29l-.1,0L50,79.24,19.9,93.69a3.44,3.44,0,0,1-4.78-4.17l9.2-29.62L4,38.63a3.46,3.46,0,0,1-1-2.48,3.39,3.39,0,0,1,1.07-2.4,3.46,3.46,0,0,1,2.38-1h28L46.92,7.87a3.46,3.46,0,0,1,4.64-1.54,3.39,3.39,0,0,1,1.51,1.51l12.53,25h28A3.45,3.45,0,0,1,97,36.25a3.4,3.4,0,0,1-1,2.37h0L75.67,59.9l9.22,29.65a3.44,3.44,0,0,1-2.19,4.3A2.88,2.88,0,0,1,81.67,94Zm-.6-3.29h0Zm-62.14,0h0ZM81.73,90h0ZM50,75a2,2,0,0,1,.86.19L80.7,89.54,71.5,60A2,2,0,0,1,72,58L92.26,36.8H64.37a2,2,0,0,1-1.79-1.11L50,10.64l-12.58,25a2,2,0,0,1-1.79,1.11H7.74L28,58a2,2,0,0,1,.46,2L19.3,89.54,49.13,75.22A2,2,0,0,1,50,75ZM94.59,37.25h0Z"></path></g></svg>

    {% elsif name == 'sun' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="sun"><path d="M50,68.36A18.36,18.36,0,1,1,68.36,50,18.37,18.37,0,0,1,50,68.36Zm0-32.72A14.36,14.36,0,1,0,64.36,50,14.37,14.37,0,0,0,50,35.64Z"></path><path d="M50,25.41a2,2,0,0,1-2-2V5a2,2,0,0,1,4,0V23.41A2,2,0,0,1,50,25.41Z"></path><path d="M95,52H76.59a2,2,0,0,1,0-4H95a2,2,0,0,1,0,4Z"></path><path d="M69,32.86a2,2,0,0,1-1.43-.61,2,2,0,0,1,0-2.82L80.76,16.57a2,2,0,0,1,2.79,2.87L70.38,32.29A2,2,0,0,1,69,32.86Z"></path><path d="M82.13,84a2,2,0,0,1-1.4-.57L67.61,70.54a2,2,0,1,1,2.8-2.85L83.53,80.6a2,2,0,0,1,0,2.83A2,2,0,0,1,82.13,84Z"></path><path d="M50,97a2,2,0,0,1-2-2V76.59a2,2,0,0,1,4,0V95A2,2,0,0,1,50,97Z"></path><path d="M23.41,52H5a2,2,0,0,1,0-4H23.41a2,2,0,0,1,0,4Z"></path><path d="M17.84,84a2,2,0,0,1-1.39-3.43L29.62,67.71a2,2,0,0,1,2.8,2.86L19.24,83.43A2,2,0,0,1,17.84,84Z"></path><path d="M31,32.89a2,2,0,0,1-1.4-.58L16.47,19.4a2,2,0,0,1,2.8-2.85L32.39,29.46A2,2,0,0,1,31,32.89Z"></path></g></svg>

    {% elsif name == 'tag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tag"><path d="M96.75,3.59a2,2,0,0,0-2.83,0l-13,13a6.89,6.89,0,0,0-2.26-.73L76,15.51A46,46,0,0,0,69.42,15H51.1a17.8,17.8,0,0,0-12.65,5.23L4.86,53.87a7.48,7.48,0,0,0,0,10.58L35.22,94.81a7.48,7.48,0,0,0,10.58,0L80.06,60.54A17.73,17.73,0,0,0,85.3,47.9V30.1a47.13,47.13,0,0,0-.64-7.69l-.13-.77a6.8,6.8,0,0,0-.78-2.23l13-13A2,2,0,0,0,96.75,3.59Zm-16,19.48a43.49,43.49,0,0,1,.58,7V47.9a13.82,13.82,0,0,1-4.07,9.82L43,92A3.49,3.49,0,0,1,38,92L7.69,61.62a3.48,3.48,0,0,1,0-4.92L41.28,23.1A13.8,13.8,0,0,1,51.1,19H69.42a42.24,42.24,0,0,1,6,.43l2.25.32-9,9a10,10,0,1,0,4.49,8.35,9.87,9.87,0,0,0-1.67-5.52l9-9ZM67.49,32.83h0a6,6,0,1,1-4.27-1.78A6,6,0,0,1,67.51,32.85Z"></path></g></svg>

    {% elsif name == 'tree' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tree"><path d="M53.94,97H46.06a2,2,0,0,1-2-2V83.34h-27a2,2,0,0,1-1.68-3.09L30.71,56.78H25.92a2,2,0,0,1-1.67-3.09L39.56,30.21H34.85a2,2,0,0,1-1.67-3.09L48.33,3.91a2,2,0,0,1,3.34,0L66.82,27.12a2,2,0,0,1-1.67,3.09H60.44L75.75,53.69a2,2,0,0,1-1.67,3.09H69.29L84.61,80.25a2,2,0,0,1-1.68,3.09h-27V95A2,2,0,0,1,53.94,97Zm-5.88-4h3.88V81.34a2,2,0,0,1,2-2h25.3L63.92,55.87a2,2,0,0,1,1.68-3.09h4.78L55.07,29.31a2,2,0,0,1,1.67-3.1h4.71L50,8.66,38.55,26.21h4.71a2,2,0,0,1,1.67,3.1L29.62,52.78H34.4a2,2,0,0,1,1.68,3.09L20.76,79.34h25.3a2,2,0,0,1,2,2Z"></path></g></svg>

    {% elsif name == 'triangle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="triangle"><path d="M95,91H5a2,2,0,0,1-1.73-3L48.27,10a2,2,0,0,1,3.46,0L96.73,88A2,2,0,0,1,95,91ZM8.46,87H91.54L50,15Z"></path></g></svg>

    {% elsif name == 'tumblr' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tumblr"><path d="M59.63,97C38.35,97,34,80.38,34,75.93V48.31H23.94a2,2,0,0,1-2-2V30.87a2,2,0,0,1,1.17-1.82A32.72,32.72,0,0,0,41.83,4.67,2,2,0,0,1,43.8,3H56.16a2,2,0,0,1,2,2V28.72H72.57a2,2,0,0,1,2,2V46.31a2,2,0,0,1-2,2H58.16V72c0,5,3.05,5.61,5.34,5.61a8.7,8.7,0,0,0,6.25-2.39,2,2,0,0,1,3.33.52l4.81,11a2,2,0,0,1-.15,1.88C77.52,89,72.2,97,59.63,97ZM25.94,44.31H36a2,2,0,0,1,2,2V75.93C38,76.1,38.93,93,59.63,93c8.2,0,12.58-4,14.12-5.76l-3.3-7.51a13.23,13.23,0,0,1-7,1.91c-5.85,0-9.34-3.59-9.34-9.61V46.31a2,2,0,0,1,2-2H70.57V32.72H56.16a2,2,0,0,1-2-2V7h-8.7A36.74,36.74,0,0,1,25.94,32.13Z"></path></g></svg>

    {% elsif name == 'twitter' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="twitter"><path d="M33.3,88.55A54.28,54.28,0,0,1,3.92,79.93a2,2,0,0,1,1.3-3.67,37.55,37.55,0,0,0,4.18.24A34.88,34.88,0,0,0,27,71.81,20.44,20.44,0,0,1,13.18,58.4a2,2,0,0,1,.42-1.95,2,2,0,0,1,1.28-.65A20.54,20.54,0,0,1,6.62,39.38v-.23a2,2,0,0,1,3-1.75c.29.16.59.31.89.46a20.5,20.5,0,0,1-.94-22,2,2,0,0,1,1.58-1,2,2,0,0,1,1.7.73A50.63,50.63,0,0,0,46.94,33.93c-.06-.67-.1-1.35-.1-2A20.47,20.47,0,0,1,81.43,17.1a35.79,35.79,0,0,0,10.07-4,2,2,0,0,1,2.26.15,2,2,0,0,1,.66,2.18,20.35,20.35,0,0,1-3.09,6c1-.33,1.92-.71,2.86-1.12a2,2,0,0,1,2.47,2.94,38.59,38.59,0,0,1-8.87,9.42l0,1.34C87.83,60.83,67.43,88.55,33.3,88.55ZM13.11,80.33A50.22,50.22,0,0,0,33.3,84.55C68.15,84.55,83.83,55,83.83,34l-.06-2.34A2,2,0,0,1,84.6,30a34.9,34.9,0,0,0,4.49-3.81,39.48,39.48,0,0,1-4.45.79,2,2,0,0,1-1.27-3.7,16.62,16.62,0,0,0,4.56-4,39.42,39.42,0,0,1-6.76,2,2,2,0,0,1-1.85-.59,16.27,16.27,0,0,0-12-5.2A16.48,16.48,0,0,0,50.84,31.9a16.74,16.74,0,0,0,.43,3.76,2,2,0,0,1-2.05,2.45A54.55,54.55,0,0,1,11.77,20.45,16.47,16.47,0,0,0,18.1,39.8a2,2,0,0,1,.79,2.28,2,2,0,0,1-2,1.38,20.35,20.35,0,0,1-6-1.12A16.51,16.51,0,0,0,23.82,55.52,2,2,0,0,1,24,59.41a21.07,21.07,0,0,1-5.68.72,16.45,16.45,0,0,0,14.1,8.48,2,2,0,0,1,1.2,3.57A38.7,38.7,0,0,1,13.11,80.33Z"></path></g></svg>

    {% elsif name == 'up-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="up-arrow"><path d="M86,38.14,51.42,3.59a1.79,1.79,0,0,0-.31-.25A1.29,1.29,0,0,0,51,3.25l-.18-.1-.21-.06-.17,0a2,2,0,0,0-.78,0l-.17,0-.21.06-.18.1a1.29,1.29,0,0,0-.16.09,1.79,1.79,0,0,0-.31.25L14,38.14a2,2,0,0,0,1.42,3.41A2,2,0,0,0,16.86,41L48,9.83V95a2,2,0,0,0,4,0V9.83L83.14,41A2,2,0,0,0,86,41,2,2,0,0,0,86,38.14Z"></path></g></svg>

    {% elsif name == 'up-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="up-caret"><path d="M96.42,71.44l-45-45.69a2.05,2.05,0,0,0-2.84,0l-45,45.69a2,2,0,1,0,2.84,2.81l9.66-9.81a2,2,0,0,0,.78-.47L50,30.83,83.14,64a2,2,0,0,0,.78.47l9.66,9.81a2,2,0,0,0,1.42.6,2,2,0,0,0,1.42-3.41Z"></path></g></svg>

    {% elsif name == 'vimeo' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="vimeo"><path d="M44.69,91.8a10.32,10.32,0,0,1-4.64-1c-8.63-3.73-11.77-17-13.84-25.71L25.47,62c-1.21-4.68-2.34-9.11-3.7-13.19a24,24,0,0,1-.92-2.8l-.18-.66a28.64,28.64,0,0,0-2.25-6.08,1.55,1.55,0,0,0-.4-.53,9.8,9.8,0,0,0-2.49.59,12.83,12.83,0,0,1-6.48.82,6.66,6.66,0,0,1-4.8-3.69c-.11-.14-.18-.27-.24-.36a2.39,2.39,0,0,1-.21-.34A6,6,0,0,1,3,33.11a5.11,5.11,0,0,1,2-4c1.65-1.38,3.43-3,5.1-4.66l.07-.07.26-.23A97.68,97.68,0,0,1,24.1,13.36c3-1.89,8.08-3.64,12.58-2.32s7.58,6.45,9,10.92a99.29,99.29,0,0,1,2.48,11.73l.29,1.63c.18,1.11.31,2.17.45,3.3.09.79.19,1.61.31,2.48.55,5.44,1.22,12.11,4.31,15.46.75.88,1.24,1,1.4,1,.74-.09,2.16-1.3,5-6.63l.17-.32c1.44-2.64,3.38-6.55,3.66-9.88.3-3.16-.26-4.23-.62-4.59s-1.86-1.09-6.5-.62H54A2,2,0,0,1,52.1,33l.59-2.1C57.5,16.49,71,9.54,76.37,8.58c3-.49,12.93-1.56,17.88,4.8h0c2.51,3.23,3.32,7.78,2.34,13.16-.93,5.11-7.5,24.58-20.36,42.18-4.68,6.2-11.21,14-20.41,19.62C54.45,89.16,49.65,91.8,44.69,91.8ZM18,34.79a4.36,4.36,0,0,1,4,2.58,32.16,32.16,0,0,1,2.6,6.94l.19.67a18.65,18.65,0,0,0,.77,2.36l.06.17c1.41,4.23,2.57,8.75,3.8,13.54l.31,1.19.45,2c1.89,8,4.75,20,11.63,23a6.34,6.34,0,0,0,3,.58,19.54,19.54,0,0,0,9.06-2.88C62.36,79.67,68.57,72.23,73,66.33c12.43-17,18.75-35.64,19.64-40.51.76-4.22.22-7.68-1.57-10h0c-3.68-4.74-12.35-3.6-14-3.32-3.89.7-15.87,6.5-20.33,19,4.7-.43,7.57.14,9.25,1.81s2.13,4,1.78,7.77c-.35,4.06-2.53,8.48-4.14,11.45l-.16.3c-2.21,4.18-4.66,8.31-8,8.7-1.14.16-3-.11-4.9-2.33-3.95-4.29-4.69-11.7-5.29-17.65-.12-.82-.22-1.67-.32-2.48C44.81,38,44.69,37,44.53,36l-.29-1.64a95,95,0,0,0-2.37-11.21c-1.13-3.53-3.53-7.49-6.29-8.25-3-.89-7,.34-9.36,1.86A94.44,94.44,0,0,0,13.05,27.16l-.21.19c-1.76,1.74-3.56,3.38-5.36,4.89a1.15,1.15,0,0,0-.48.87,3.48,3.48,0,0,0,.28.71,1.94,1.94,0,0,1,.21.33l.15.22c.55,1,1,1.72,2,1.87a9.18,9.18,0,0,0,4.58-.66A13.13,13.13,0,0,1,18,34.79ZM4.17,36.31h0Z"></path></g></svg>

    {% elsif name == 'wrench' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="wrench"><path d="M23.8,97a20.87,20.87,0,0,1-7.47-1.39,3.44,3.44,0,0,1-1.18-.75,3.59,3.59,0,0,1-.06-5.1l8.8-8.8L22.4,78,20,76.85l-9.21,9.22a3.58,3.58,0,0,1-3.12,1A3.62,3.62,0,0,1,5,85.11,20.82,20.82,0,0,1,29.07,56L56,29.06A20.81,20.81,0,0,1,85.1,5a3.3,3.3,0,0,1,1,.7,3.55,3.55,0,0,1,0,5l-8.51,8.51,1.48,2.95,2.45,1.13,8.25-8.25A3.35,3.35,0,0,1,91,14.31a3.57,3.57,0,0,1,4.58,2,20.74,20.74,0,0,1,.59,13.27h0A20.85,20.85,0,0,1,71.58,44.15L44.12,71.6A20.8,20.8,0,0,1,23.8,97Zm-5.4-4.9A16.8,16.8,0,0,0,40,71.54a2,2,0,0,1,.51-2L69.56,40.51a2,2,0,0,1,2-.51A16.83,16.83,0,0,0,92.34,28.51h0a16.75,16.75,0,0,0-.23-10.08l-8.76,8.76a2,2,0,0,1-2.25.4l-4.35-2a2,2,0,0,1-1-.92L73.35,19.8a2,2,0,0,1,.38-2.31L82.81,8.4A16.81,16.81,0,0,0,60.19,29a2,2,0,0,1-.49,2L31.06,59.68a2,2,0,0,1-2,.49A16.82,16.82,0,0,0,8.36,82.79L18.11,73a2,2,0,0,1,2.26-.4l4.35,2a2,2,0,0,1,.94.91l2.45,4.85a2,2,0,0,1-.37,2.32Zm-.68-.24h0ZM92.64,17.9l0,0ZM83.4,8.66Z"></path></g></svg>

    {% elsif name == 'x' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="x"><path d="M52.83,50,96.41,6.41a2,2,0,0,0-2.82-2.82L50,47.17,6.41,3.59A2,2,0,0,0,3.59,6.41L47.17,50,3.59,93.59a2,2,0,1,0,2.82,2.82L50,52.83,93.59,96.41a2,2,0,0,0,2.82-2.82Z"></path></g></svg>

    {% elsif name == 'youtube' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="youtube"><path d="M79.77,83.15H20.23A17.25,17.25,0,0,1,3,65.92V34.08A17.25,17.25,0,0,1,20.23,16.85H79.77A17.25,17.25,0,0,1,97,34.08V65.92A17.25,17.25,0,0,1,79.77,83.15ZM20.23,20.85A13.25,13.25,0,0,0,7,34.08V65.92A13.25,13.25,0,0,0,20.23,79.15H79.77A13.25,13.25,0,0,0,93,65.92V34.08A13.25,13.25,0,0,0,79.77,20.85ZM41.72,65a3.43,3.43,0,0,1-3.41-3.42V38.45a3.41,3.41,0,0,1,5-3L65.78,47a3.41,3.41,0,0,1,0,6.06L54.72,58.72h0L43.27,64.59A3.41,3.41,0,0,1,41.72,65Zm.59-25.56V60.59L62.93,50Zm11.5,17.53h0Z"></path></g></svg>

    {% elsif name == 'zoom' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="zoom"><path d="M93.26,93.59l-23.94-24a38,38,0,1,0-3.16,2.5L90.44,96.41a2,2,0,0,0,2.82-2.82ZM10.15,41.06A34.07,34.07,0,1,1,44.21,75.13,34.1,34.1,0,0,1,10.15,41.06Z"></path><path d="M66.35,39.06H46.21V18.93a2,2,0,0,0-4,0V39.06H22.08a2,2,0,0,0,0,4H42.21V63.2a2,2,0,0,0,4,0V43.06H66.35a2,2,0,0,0,0-4Z"></path></g></svg>
    {% elsif name == 'behance' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="behance"><g id="Behance-2" data-name="Behance"><path d="M30.22,80H5a2,2,0,0,1-2-2V22a2,2,0,0,1,2-2H32c7.49.12,12.9,2.4,16.12,6.78a16.29,16.29,0,0,1,3,9.74,14.5,14.5,0,0,1-3,9.52,12.18,12.18,0,0,1-1.74,1.69,13.6,13.6,0,0,1,4.08,4.09,16.8,16.8,0,0,1,2.5,9.28,18.42,18.42,0,0,1-2.8,10A17.42,17.42,0,0,1,45.64,76a17.15,17.15,0,0,1-7.11,3.17A41.19,41.19,0,0,1,30.22,80ZM7,76H30.22a36.86,36.86,0,0,0,7.5-.72,13.3,13.3,0,0,0,5.51-2.43A13.68,13.68,0,0,0,46.7,69a14.29,14.29,0,0,0,2.2-7.89A12.88,12.88,0,0,0,47,54h0a10.37,10.37,0,0,0-5.46-4.14,2,2,0,0,1-1.31-1.76,2,2,0,0,1,1.09-1.9A11.28,11.28,0,0,0,45,43.49a10.52,10.52,0,0,0,2.13-7,12.2,12.2,0,0,0-2.18-7.39c-2.47-3.34-6.7-5-12.92-5.13H7Zm68.46,3.63a23.94,23.94,0,0,1-15.38-5.37c-4.55-3.69-6.86-9.62-6.86-17.63,0-7.47,2.05-13.33,6.1-17.4s9.37-6.16,15.77-6.16a25,25,0,0,1,10.25,2,18.32,18.32,0,0,1,7.77,6.66,21.94,21.94,0,0,1,3.51,9.1h0A53.91,53.91,0,0,1,97,59.18a2,2,0,0,1-2,2H68a6.7,6.7,0,0,0,3,4.76,8.56,8.56,0,0,0,4.74,1.21,6.84,6.84,0,0,0,4.54-1.38A6.68,6.68,0,0,0,82,63.59a2,2,0,0,1,1.77-1.06H94.44a2,2,0,0,1,2,2.23c-.33,2.81-1.82,5.64-4.41,8.39C88.05,77.45,82.48,79.63,75.46,79.63Zm-.37-42.56c-5.37,0-9.6,1.63-12.93,5s-4.94,8.2-4.94,14.58c0,6.74,1.81,11.62,5.37,14.51a19.8,19.8,0,0,0,12.87,4.49c5.94,0,10.39-1.7,13.62-5.21a14.16,14.16,0,0,0,2.73-3.89H84.87a9.84,9.84,0,0,1-2,2.31,10.77,10.77,0,0,1-7.07,2.28A12.56,12.56,0,0,1,68.9,69.3c-3.19-2-4.93-5.35-5.11-10.07a1.94,1.94,0,0,1,.55-1.46,2,2,0,0,1,1.44-.62H93a44.81,44.81,0,0,0-.33-5.66A17.83,17.83,0,0,0,89.8,44a14.17,14.17,0,0,0-6.1-5.25A20.94,20.94,0,0,0,75.09,37.07ZM29.75,70.27H17.92a2,2,0,0,1-2-2V53.35a2,2,0,0,1,2-2h12a16,16,0,0,1,6.44,1.13c2.15,1,4.73,3.13,4.73,7.82,0,5.29-2.61,7.69-4.79,8.78A15,15,0,0,1,29.75,70.27Zm-9.83-4h9.83a11.36,11.36,0,0,0,4.79-.78c1.09-.54,2.56-1.68,2.56-5.19,0-2.14-.74-3.43-2.39-4.18a11.87,11.87,0,0,0-4.79-.77h-10Zm64.19-12H66a2,2,0,0,1-1.51-.69A2,2,0,0,1,64.06,52a12.8,12.8,0,0,1,3.34-7.33,10.28,10.28,0,0,1,7.69-2.9,11.18,11.18,0,0,1,7.53,2.66,10.74,10.74,0,0,1,3.48,7.71,2,2,0,0,1-.53,1.51A2,2,0,0,1,84.11,54.23Zm-15.55-4H81.75A5.74,5.74,0,0,0,80,47.41a7.13,7.13,0,0,0-4.91-1.69,6.35,6.35,0,0,0-4.82,1.7A7.35,7.35,0,0,0,68.56,50.23Zm-38.8-4.15H17.92a2,2,0,0,1-2-2V31.72a2,2,0,0,1,2-2H28.34a23.12,23.12,0,0,1,7.24,1l.13.05c1.94.81,4.25,2.67,4.25,7,0,3.85-1.76,5.73-3.23,6.63A13.3,13.3,0,0,1,29.76,46.08Zm-9.84-4h9.84A9.33,9.33,0,0,0,34.64,41c.57-.34,1.32-1,1.32-3.21s-.91-2.94-1.72-3.3a19.66,19.66,0,0,0-5.9-.75H19.92ZM86.28,31.92H63.73a2,2,0,0,1-2-2v-5.6a2,2,0,0,1,2-2H86.28a2,2,0,0,1,2,2v5.6A2,2,0,0,1,86.28,31.92Zm-20.55-4H84.28v-1.6H65.73Z"></path></g></g></svg>

    {% elsif name == 'dribbble' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="dribbble"><path d="M96.8,54.23c.13-1.39.2-2.8.2-4.23A46.86,46.86,0,0,0,83.12,16.68a2.1,2.1,0,0,0-.46-.43,46.88,46.88,0,0,0-50-9.93,3.19,3.19,0,0,0-.48.19A47.12,47.12,0,0,0,3.31,44.68a1.38,1.38,0,0,0,0,.2v0A47.5,47.5,0,0,0,3,50,46.9,46.9,0,0,0,18.33,84.7a2.25,2.25,0,0,0,.43.38,47,47,0,0,0,78-30.65A1.23,1.23,0,0,0,96.8,54.23ZM93,51.52c-12.67-3.6-23.51-3.64-32.61-1.78-1.53-3.57-3.12-7-4.74-10.17C67.05,35.18,75.8,29,81.77,21.05A42.86,42.86,0,0,1,93,50C93,50.51,93,51,93,51.52Zm-14-33.32c-6.17,8.43-15.36,14-25.19,17.73A185,185,0,0,0,36.51,9.18a42.89,42.89,0,0,1,42.4,9ZM32.6,10.69A177.31,177.31,0,0,1,49.92,37.26c-17.53,5.71-36,5.91-42.35,5.79A43.12,43.12,0,0,1,32.6,10.69ZM7,50c0-1,0-2,.11-3,.89,0,2,0,3.31,0a148,148,0,0,0,27.63-2.6,108.45,108.45,0,0,0,13.78-3.57c1.56,3.08,3.1,6.34,4.59,9.76A58.4,58.4,0,0,0,36.15,60.93a68.42,68.42,0,0,0-16.79,19.2A42.84,42.84,0,0,1,7,50ZM22.38,82.92A65,65,0,0,1,38.73,64,54.27,54.27,0,0,1,58,54.33a143.1,143.1,0,0,1,9.45,35,42.88,42.88,0,0,1-45-6.39Zm48.79,4.49a147.49,147.49,0,0,0-9.28-34c9.47-1.79,19.74-1.07,30.73,2.17A43.09,43.09,0,0,1,71.17,87.41Z"></path></g></svg>

    {% elsif name == 'flickr' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="flickr"><path d="M25.36,72.36A22.36,22.36,0,1,1,47.71,50,22.38,22.38,0,0,1,25.36,72.36Zm0-40.72A18.36,18.36,0,1,0,43.71,50,18.38,18.38,0,0,0,25.36,31.64Z"></path><path d="M74.64,72.36A22.36,22.36,0,1,1,97,50,22.38,22.38,0,0,1,74.64,72.36Zm0-40.72A18.36,18.36,0,1,0,93,50,18.38,18.38,0,0,0,74.64,31.64Z"></path></g></svg>

    {% elsif name == 'paper-clip' %}

  <svg id="paper-clip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M41.74,93.15a2,2,0,0,1-1.41-.58,2,2,0,0,1,0-2.83L87.57,42.5A18.54,18.54,0,0,0,61.35,16.28L10.71,66.91A12.67,12.67,0,1,0,28.64,84.83l44-44A6.8,6.8,0,1,0,63,31.22L27.73,66.5a2,2,0,1,1-2.83-2.83L60.18,28.39A10.8,10.8,0,0,1,75.46,43.67l-44,44A16.67,16.67,0,0,1,7.88,64.08L58.52,13.45A22.54,22.54,0,0,1,90.4,45.33L43.16,92.57A2,2,0,0,1,41.74,93.15Z"></path></svg>

    {% elsif name == 'umbrella' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="umbrella"><path d="M52,7.19V5a2,2,0,0,0-4,0V7.19A43.43,43.43,0,0,0,6.62,50.52c0,1,0,1.93.1,2.88a2,2,0,0,0,4,.13c0-.2.06-.4.09-.55a8.34,8.34,0,0,1,16.52,1.68,2,2,0,0,0,4,0c0-.29,0-.59,0-.87a.06.06,0,0,1,0,0v0A8.35,8.35,0,0,1,48,54.66V85.17a7.83,7.83,0,0,1-15.51,1.48,7.43,7.43,0,0,1-.15-1.48,2,2,0,0,0-4,0,12,12,0,0,0,.22,2.23A11.83,11.83,0,0,0,52,85.17V54.66a8.34,8.34,0,0,1,16.64-.89s0,0,0,0a.28.28,0,0,0,0,.09c0,.25,0,.5,0,.76a2,2,0,0,0,4,0A8.34,8.34,0,0,1,89.2,52.94a5.58,5.58,0,0,1,.1.59,2,2,0,0,0,4-.13c.07-.95.1-1.92.1-2.88A43.43,43.43,0,0,0,52,7.19ZM19,42.31a12.31,12.31,0,0,0-8,3A39.48,39.48,0,0,1,43.58,11.66c-.09.08-.17.18-.25.26-.38.37-.76.75-1.13,1.15l-.42.45c-.48.53-1,1.07-1.43,1.64-.27.33-.56.67-.82,1A53.12,53.12,0,0,0,31.2,31.74c-.13.37-.26.74-.39,1.15l-.12.36c-.08.26-.17.52-.24.78-.23.74-.44,1.5-.67,2.36a2.17,2.17,0,0,0-.07.24l-.32,1.3c-.09.41-.19.8-.28,1.24l-.23,1.11c-.15.73-.28,1.48-.42,2.27-.05.26-.1.53-.12.7-.06.39-.13.79-.17,1.16l-.07.45c0,.33-.09.66-.12,1,0,.12,0,.24-.05.37A12.31,12.31,0,0,0,19,42.31Zm20.69,0a12.33,12.33,0,0,0-7.52,2.54c0-.3.09-.62.16-1,0-.2.06-.4.1-.62.13-.74.26-1.46.4-2.18L33,40c.08-.38.17-.75.26-1.12l.3-1.22.09-.33c.2-.73.4-1.44.61-2.14.07-.24.14-.47.22-.7l.11-.36c.12-.36.24-.72.37-1.07a49.55,49.55,0,0,1,7.71-14.43c.24-.31.49-.61.77-.95a37.17,37.17,0,0,1,4.22-4.34l.15-.12a1.49,1.49,0,0,1,.14-.12l0,0v32.5A12.3,12.3,0,0,0,39.66,42.31Zm20.68,0A12.3,12.3,0,0,0,52,45.57V13.06l.43.37.24.21.55.51.17.16.61.59.16.16.7.72.11.11.77.85.06.07c.27.3.55.62.82,1l0,0c.58.7,1.16,1.45,1.75,2.27l.76,1.09c.07.11.15.24.23.35l.54.84.27.44c.18.29.36.59.53.89.09.15.18.3.26.45q.31.55.63,1.14l.15.28c.26.48.51,1,.76,1.51.07.14.14.28.2.43.19.38.37.78.55,1.19.09.19.18.4.26.6.16.37.32.76.48,1.15.08.21.17.42.26.64l.48,1.32L65,33c.22.64.43,1.29.64,2l.12.4c.16.55.32,1.1.48,1.67.06.25.13.5.19.75q.2.72.36,1.47c.07.27.13.55.19.82.12.52.22,1,.33,1.59l.15.77c.14.77.27,1.56.39,2.36,0,0,0,.06,0,.09h0A12.35,12.35,0,0,0,60.34,42.31Zm20.69,0a12.34,12.34,0,0,0-9,3.86c0-.24-.07-.47-.1-.71-.09-.69-.18-1.36-.29-2l-.18-1.15c-.12-.68-.25-1.35-.38-2-.06-.32-.13-.65-.19-1-.19-.88-.4-1.74-.61-2.58,0-.07,0-.15,0-.23q-.36-1.35-.75-2.64L69.25,33c-.18-.57-.37-1.14-.56-1.69q-.16-.46-.33-.9-.28-.77-.57-1.5c-.12-.29-.23-.57-.35-.85-.21-.5-.43-1-.64-1.47-.11-.24-.21-.48-.32-.71-.31-.65-.62-1.29-.94-1.9l-.06-.12c-.34-.65-.69-1.28-1-1.88l-.35-.58c-.24-.41-.48-.81-.72-1.19l-.4-.62c-.23-.36-.46-.7-.69-1-.14-.19-.27-.39-.4-.58l-.74-1-.34-.46c-.34-.45-.69-.88-1-1.29a.1.1,0,0,1,0-.05L58.7,14l-.35-.38-.68-.73-.38-.39-.62-.62-.2-.2A39.47,39.47,0,0,1,89,45.27,12.31,12.31,0,0,0,81,42.31Z"></path></g></svg>

    {% elsif name == 'calculator' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck"><path d="M92,6H8A2,2,0,0,0,6,8V92a2,2,0,0,0,2,2H92a2,2,0,0,0,2-2V8A2,2,0,0,0,92,6ZM90,48H52V10H90ZM48,10V48H10V10ZM10,52H48V90H10ZM52,90V52H90V90Z"></path><path d="M20,31h7v7a2,2,0,0,0,4,0V31h7a2,2,0,0,0,0-4H31V20a2,2,0,0,0-4,0v7H20a2,2,0,0,0,0,4Z"></path><path d="M31.83,71l6.36-6.36a2,2,0,0,0-2.83-2.83L29,68.17l-6.36-6.36a2,2,0,0,0-2.83,2.83L26.17,71l-6.36,6.36a2,2,0,1,0,2.83,2.83L29,73.83l6.36,6.36a2,2,0,0,0,1.42.59,2,2,0,0,0,1.41-3.42Z"></path><path d="M62,31H80a2,2,0,0,0,0-4H62a2,2,0,0,0,0,4Z"></path><path d="M80,64H62a2,2,0,0,0,0,4H80a2,2,0,0,0,0-4Z"></path><path d="M80,74H62a2,2,0,0,0,0,4H80a2,2,0,0,0,0-4Z"></path></g></svg>

    {% elsif name == 'yen' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M80.18,8.3a2,2,0,1,0-3-2.6L50,37.33,22.85,5.7a2,2,0,1,0-3,2.6L48,41.15v3.26H25.83a2,2,0,0,0,0,4H48V59.73H25.83a2,2,0,0,0,0,4H48V93a2,2,0,0,0,4,0V63.73H74.17a2,2,0,0,0,0-4H52V48.41H74.17a2,2,0,0,0,0-4H52V41.15Z"></path></g></svg>

    {% elsif name == 'globe' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M89.3,75.8C94.2,68.4,97,59.5,97,50c0-9.5-2.8-18.3-7.7-25.7c-0.1-0.2-0.2-0.3-0.3-0.5C80.6,11.3,66.2,3,50,3c0,0,0,0,0,0c0,0,0,0,0,0c-0.3,0-0.5,0-0.8,0c-0.2,0-0.4,0-0.6,0C33,3.5,19.2,11.6,11,23.8c-0.1,0.1-0.2,0.3-0.3,0.5C5.8,31.7,3,40.5,3,50c0,9.5,2.8,18.4,7.7,25.8c0.1,0.1,0.1,0.2,0.2,0.3C19.2,88.4,33,96.6,48.8,97c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.2,0c0.3,0,0.6,0,0.9,0c16.3,0,30.6-8.3,39.1-20.9C89.1,76,89.2,75.9,89.3,75.8z M7.1,52h19.1c0,0.6,0,1.2,0,1.8c0,0.4,0,9,2.8,18.7c0,0.1,0.1,0.3,0.1,0.4H13.6C9.8,66.8,7.4,59.6,7.1,52z M13.6,27.1h15.5c-1.7,5.6-2.8,12.5-2.9,20.9H7.1C7.4,40.4,9.8,33.2,13.6,27.1z M92.9,48H72.8c-0.2-8.4-1.3-15.3-2.9-20.9h16.5C90.2,33.2,92.6,40.4,92.9,48z M68.8,48H52V27.1h13.7C67.5,32.5,68.7,39.4,68.8,48z M52,23.1V8.4c3.4,1.9,8.5,6,12.2,14.7H52z M48,7.9v15.2H34.8C38.9,13.5,44.7,9.5,48,7.9z M48,27.1V48H30.2c0.2-8.6,1.4-15.5,3.1-20.9H48z M30.2,53.7c0-0.6,0-1.2,0-1.7H48v20.9H33.3C30.3,63.2,30.2,53.9,30.2,53.7z M48,76.9v15.2c-6.5-3-10.6-8.9-13.2-15.2H48z M52,91.6V76.9h12.2C61.7,82.9,57.9,88.5,52,91.6z M52,72.9V52h16.8c0,0.6,0,1.1,0,1.7c0,0,0,0,0,0c0,0,0,0,0,0c0,0.2-0.1,9.5-3.1,19.1H52z M70,72.5c2.7-9.5,2.8-18.1,2.8-18.6c0-0.6,0-1.2,0-1.8h20.1c-0.4,7.6-2.7,14.8-6.6,20.9H69.9C69.9,72.7,69.9,72.6,70,72.5z M83.5,23.1h-15c-2.9-7.6-6.9-12.4-10.5-15.4C68.3,9.7,77.2,15.3,83.5,23.1z M40.6,8c-3.5,3-7.3,7.7-10.2,15.1h-14C22.5,15.6,30.9,10.2,40.6,8z M16.5,76.9h14c2.4,6.4,5.8,11.5,9.9,15C30.8,89.7,22.4,84.3,16.5,76.9z M58.2,92.2c4.3-3.6,7.8-8.7,10.3-15.3h15C77.3,84.6,68.4,90.2,58.2,92.2z"/></g></svg>

    {% elsif name == 'truck' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><path d="M94.71,50,81.83,27.46a2.19,2.19,0,0,0-1.91-1.11H61V19.92a2.2,2.2,0,0,0-2.2-2.2H7.2A2.19,2.19,0,0,0,5,19.92V71.5a2.2,2.2,0,0,0,2.2,2.2h6.33a10.79,10.79,0,0,0,21.12,0H64a10.79,10.79,0,0,0,21.12,0H92.8A2.19,2.19,0,0,0,95,71.5V51.1A2.17,2.17,0,0,0,94.71,50Zm-4.1,3.18h-15a2.12,2.12,0,0,1-2.12-2.12V41.8a2.13,2.13,0,0,1,2.12-2.13h8.1l6.86,12ZM9.39,22.11h47.2V69.3H34.65a10.78,10.78,0,0,0-21.12,0H9.39Zm14.7,55.78a6.4,6.4,0,1,1,6.39-6.39A6.4,6.4,0,0,1,24.09,77.89Zm50.46,0A6.4,6.4,0,1,1,81,71.5,6.4,6.4,0,0,1,74.55,77.89ZM85.11,69.3A10.79,10.79,0,0,0,64,69.3H61V30.74H78.65l2.59,4.54H75.65a6.53,6.53,0,0,0-6.51,6.52v9.27a6.52,6.52,0,0,0,6.51,6.51h15V69.3Z"></path></g></svg>

    {% elsif name == 'lightbulb' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M79.69,32.69a29.69,29.69,0,1,0-52.54,19c5.39,7.52,6,10.5,6,10.79V78.87a6.25,6.25,0,0,0,5,6.12,12.38,12.38,0,0,0,24.75-.3,6.27,6.27,0,0,0,3.95-5.82V62.45c0-.29.63-3.27,6-10.79A29.81,29.81,0,0,0,79.69,32.69ZM30.27,49.16a25.69,25.69,0,1,1,39.46,0l-.06.06,0,.05h0c-4.07,5.68-5.72,9.13-6.37,11.08H36.74c-.65-2-2.3-5.4-6.38-11.09Zm6.9,15.2H62.83v6.76H37.17Zm0,14.51V75.12H62.83v3.75a2.26,2.26,0,0,1-2.26,2.26H39.43A2.26,2.26,0,0,1,37.17,78.87ZM50.49,93a8.38,8.38,0,0,1-8.36-7.87H58.86A8.39,8.39,0,0,1,50.49,93Z"></path><path d="M48.36,18.84a2,2,0,1,0-.67-3.94c-4.63.77-13.62,4.82-14.52,14.64A2,2,0,0,0,35,31.72h.19a2,2,0,0,0,2-1.82C38,20.73,47.93,18.91,48.36,18.84Z"></path></g></svg>

    {% elsif name == 'bullet' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><circle cx="50" cy="50" r="17"></circle></g></svg>

    {% elsif name == 'info' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M50,95A45,45,0,1,1,95,50,45.05,45.05,0,0,1,50,95ZM50,9A41,41,0,1,0,91,50,41,41,0,0,0,50,9Z"></path><path d="M50,35.05a9.4,9.4,0,1,1,9.39-9.4A9.41,9.41,0,0,1,50,35.05Zm0-14.79a5.4,5.4,0,1,0,5.39,5.39A5.4,5.4,0,0,0,50,20.26Z"></path><path d="M50.05,83.74a8.68,8.68,0,0,1-8.87-8.45V45.72a8.89,8.89,0,0,1,17.75,0V75.29A8.68,8.68,0,0,1,50.05,83.74Zm0-42.46a4.68,4.68,0,0,0-4.87,4.44V75.29a4.9,4.9,0,0,0,9.75,0V45.72A4.68,4.68,0,0,0,50.05,41.28Z"></path></g></svg>

    {% elsif name == 'snowflake' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M90.28,41.49,79.37,36.62l11.28-6a2,2,0,1,0-1.88-3.53l-11.28,6,2-11.77a2,2,0,1,0-3.94-.69L73,35.47,52,46.67V22.85l11.88-9.24a2,2,0,1,0-2.45-3.16L52,17.79V5a2,2,0,0,0-4,0V17.79l-9.43-7.34a2,2,0,1,0-2.45,3.16L48,22.85V46.48L27.71,34.38,25.86,19.44a2,2,0,0,0-4,.49l1.47,11.85-11-6.55a2,2,0,1,0-2.05,3.44l11,6.55L10.18,39.56a2,2,0,0,0,1.45,3.73l14-5.48L45.93,49.9,25.1,61,11.36,54.86a2,2,0,1,0-1.64,3.65l10.91,4.87-11.28,6a2,2,0,0,0,1.88,3.53l11.28-6-2,11.77A2,2,0,0,0,22.1,81a2.07,2.07,0,0,0,.35,0,2,2,0,0,0,2-1.66L27,64.53l21-11.2V77.15L36.12,86.39a2,2,0,0,0-.36,2.81,2,2,0,0,0,1.58.77,2,2,0,0,0,1.23-.42L48,82.21V95a2,2,0,0,0,4,0V82.21l9.43,7.34a2,2,0,0,0,1.23.42,2,2,0,0,0,1.58-.77,2,2,0,0,0-.36-2.81L52,77.15V53.52l20.29,12.1,1.85,14.94a2,2,0,0,0,2,1.76l.25,0a2,2,0,0,0,1.74-2.23L76.64,68.22l11,6.55a2,2,0,0,0,1,.28,2,2,0,0,0,1-3.72l-11-6.55,11.13-4.34a2,2,0,1,0-1.45-3.73l-14,5.48L54.07,50.1,74.9,39l13.74,6.14a2,2,0,1,0,1.64-3.65Z"></path></g></svg>

    {% elsif name == 'battery' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M42.41,30.38H33.59a3.46,3.46,0,0,0-3.5,3.5V66.12a3.46,3.46,0,0,0,3.5,3.5h8.82a3.46,3.46,0,0,0,3.5-3.5V33.88A3.46,3.46,0,0,0,42.41,30.38Zm-.5,35.24H34.09V34.38h7.82Z"></path><path d="M24.22,30.38H15.41a3.45,3.45,0,0,0-3.5,3.5V66.12a3.45,3.45,0,0,0,3.5,3.5h8.81a3.46,3.46,0,0,0,3.5-3.5V33.88A3.46,3.46,0,0,0,24.22,30.38Zm-.5,35.24H15.91V34.38h7.81Z"></path><path d="M60.59,30.38H51.78a3.46,3.46,0,0,0-3.5,3.5V66.12a3.46,3.46,0,0,0,3.5,3.5h8.81a3.45,3.45,0,0,0,3.5-3.5V33.88A3.45,3.45,0,0,0,60.59,30.38Zm-.5,35.24H52.28V34.38h7.81Z"></path><path d="M78.5,30.47H70a3.47,3.47,0,0,0-3.5,3.5V66.22a2.18,2.18,0,0,0,0,.25A3.52,3.52,0,0,0,70,69.62h3.19a3.43,3.43,0,0,0,3.38-2.89l5.33-32.18a3.4,3.4,0,0,0-.7-2.82A3.45,3.45,0,0,0,78.5,30.47ZM72.67,65.62h-2.2V34.47h7.36Z"></path><path d="M93.21,30.66H89.5V28.48a7.21,7.21,0,0,0-7.2-7.2H10.2A7.21,7.21,0,0,0,3,28.48v43a7.21,7.21,0,0,0,7.2,7.2H82.3a7.21,7.21,0,0,0,7.2-7.2V69.34h3.71A3.79,3.79,0,0,0,97,65.55V34.45A3.79,3.79,0,0,0,93.21,30.66ZM85.5,71.52a3.2,3.2,0,0,1-3.2,3.2H10.2A3.2,3.2,0,0,1,7,71.52v-43a3.2,3.2,0,0,1,3.2-3.2H82.3a3.2,3.2,0,0,1,3.2,3.2v43ZM93,65.34H89.5V34.66H93Z"></path></g></svg>

    {% elsif name == 'slash' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M33.5,95.78a2.27,2.27,0,0,1-.71-.13,2,2,0,0,1-1.16-2.58l33-87.55a2,2,0,1,1,3.74,1.41l-33,87.55A2,2,0,0,1,33.5,95.78Z"></path></g></svg>

    {% elsif name == 'pound' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M78.7,88.12A2,2,0,0,0,76,87.46a15.18,15.18,0,0,1-4.27,1.73,21.38,21.38,0,0,1-15.4-2.07C48.65,83,40.51,83.58,34.8,84.87c7.82-10.24,8.14-20.9,6-29.7H60.54a2,2,0,1,0,0-4H39.61a55.79,55.79,0,0,0-6-12.14,17.09,17.09,0,0,1-1.48-16.51c3.93-8.67,13.27-11.44,14-11.63C53.58,9.4,59.61,10.3,64,13.58c6.5,4.84,7.39,13.42,7.4,13.54a2,2,0,0,0,4-.36c0-.42-1-10.42-9-16.36C61.07,6.39,53.94,5.23,45.24,7l-.11,0c-.48.12-11.77,3.13-16.64,13.87a21.09,21.09,0,0,0,1.77,20.36,52.76,52.76,0,0,1,5.2,9.94H23a2,2,0,0,0,0,4H36.78C41.1,71,33,82,26.79,87.7A2,2,0,0,0,29,91c.13-.06,13.75-6.54,25.37-.31a26.11,26.11,0,0,0,12.32,3.16,24.45,24.45,0,0,0,6-.74,19.43,19.43,0,0,0,5.38-2.2A2,2,0,0,0,78.7,88.12Z"></path></g></svg>

    {% elsif name == 'krona' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M48.6,84.33,21.06,63.05,46.25,38.77a2,2,0,0,0-2.77-2.89L20,58.52V14.09a2,2,0,0,0-4,0V85.91a2,2,0,0,0,4,0V67.29L46.15,87.5a2,2,0,0,0,1.23.41,2,2,0,0,0,1.22-3.58Z"></path><path d="M82.07,38.18l-1.28,0c-10.07,0-15.87,4.3-19.15,8.51V37.13a2,2,0,0,0-4,0V55.07h0V85.91a2,2,0,0,0,4,0V55.28a17.83,17.83,0,0,1,3.47-6.64c3.8-4.55,9.47-6.72,16.82-6.47H82a2,2,0,0,0,.07-4Z"></path></g></svg>

    {% elsif name == 'euro' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M83.59,67.06a2,2,0,0,0-2.81.39A29,29,0,0,1,30.06,59H60.42a2,2,0,0,0,0-4H29.06a28.63,28.63,0,0,1,0-10H60.42a2,2,0,0,0,0-4H30.06a29,29,0,0,1,49.76-9.66,2,2,0,0,0,3.06-2.58A33,33,0,0,0,25.88,41H17.62a2,2,0,0,0,0,4H25a33.08,33.08,0,0,0,0,10H17.62a2,2,0,0,0,0,4h8.26A33,33,0,0,0,84,69.87,2,2,0,0,0,83.59,67.06Z"></path></g></svg>

    {% elsif name == 'droplet' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M50,96.25A25.11,25.11,0,0,1,24.8,70.93a24.33,24.33,0,0,1,1.43-8.48C29.39,53.56,48,5.51,48.13,5a2,2,0,0,1,3.74,0c.18.48,18.74,48.53,21.92,57.56a27,27,0,0,1,1.41,8.46A25.22,25.22,0,0,1,50,96.25Zm0-84.94C45.18,23.79,32.54,56.64,30,63.82A21.73,21.73,0,0,0,34.91,86,21.23,21.23,0,0,0,71.2,71.05,22.8,22.8,0,0,0,70,63.88C67.46,56.65,54.82,23.8,50,11.31Z"></path></g></svg>

    {% elsif name == 'bunny' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M94.58,68.2a9.07,9.07,0,0,0-5.71-1.41,17.59,17.59,0,0,0-.36-4.21C81.26,31.87,61.72,36,50,38.4c-1.86.39-3.79.8-5.45,1-5.08.65-6.6-.46-7-.94a2.07,2.07,0,0,1-.3-.57C49,37.39,58.64,30.24,63.73,18.13l.44-1a1,1,0,0,0-.64-1.36l-1.09-.31a26.43,26.43,0,0,0-3.64-.76,9.73,9.73,0,0,0-.15-4.48l-.22-.59A1,1,0,0,0,57.57,9l-.63-.05C33.63,7,23.84,20.47,20,29.08c-6.67.58-8.74,3.41-9.29,5.7-.27,1.06-2.19,3.15-3.59,4.68L7,39.58c-2.53,2.69-5.16,5.48-4.77,8.2,1.37,7.18,9.83,7.83,13.64,7.76.43,4.32,2.27,14.45,9.94,17.16,4.52,1.6,7,5.15,6.64,6.89-.19,1.08-1.86,1.32-3.21,1.33-3.61,0-6,.91-7.18,2.92-1.53,2.62,0,5.73.38,6.36l.29.5a1,1,0,0,0,.87.5H35a1.12,1.12,0,0,0,.31,0,11.81,11.81,0,0,0,5.17-4.06,10.31,10.31,0,0,0,1,3.12l.28.51a1,1,0,0,0,.88.53H82.56c.14,0,14.39-.82,15.2-13.94C98,73,97,70,94.58,68.2ZM93.76,77C93.2,86.19,83.55,87.13,82.51,87.2H44.64a3.12,3.12,0,0,1,0-2.31c.42-.75,1.63-1.19,3.48-1.29a11.26,11.26,0,0,1,6.23,1.83l.12.08a1,1,0,0,0,1.37-.26L57,83.6a1,1,0,0,0,.07-1,1,1,0,0,0-.65-.51C55,81,48.74,76,48.83,69.84a10.16,10.16,0,0,1,1.7-5.33c6.21-9.75,16.57-4.66,16.66-4.61A1,1,0,0,0,68,60a1,1,0,0,0,.6-.52l.86-1.8a1,1,0,0,0,0-.77,1,1,0,0,0-.52-.57c-.56-.26-14-6.32-21.8,6a14.07,14.07,0,0,0-2.31,7.08c-2,6.11-6.57,16.15-10.5,17.81H25.51a2.43,2.43,0,0,1,.06-1.41c.31-.43,1.37-.87,3.48-.87h.31c5.8,0,6.87-3.56,7-4.65.76-4.26-3.31-9.24-9.25-11.34-7-2.48-7.41-15.42-7.41-15.54V52.32a1,1,0,0,0-.34-.75,1,1,0,0,0-.79-.24l-1,.13h-.2c-3.07.22-10.3.23-11.16-4.34,0-.83,2.59-3.61,3.68-4.8h0l.23-.25c2-2.2,3.91-4.27,4.41-6.26.42-1.66,2.75-2.61,6.86-2.83H22a1,1,0,0,0,.92-.6l.4-.93C26.46,24,34.65,11.83,54.92,12.83a8.33,8.33,0,0,1-.26,1.66C37.17,14.82,24,32.16,23.84,32.34a1,1,0,0,0,.2,1.37l1.58,1.23a1,1,0,0,0,.74.2,1,1,0,0,0,.66-.38c.15-.19,14.86-18.93,32-16-4.92,9.88-13.47,15.38-23.65,15.15h-.73a1,1,0,0,0-.94.67l-.25.72a6.31,6.31,0,0,0,1,5.67c1.83,2.27,5.41,3.08,10.65,2.41,1.37-.17,2.86-.46,4.43-.76l1.34-.25c12.23-2.55,27.45-5.72,33.8,21a13.82,13.82,0,0,1,0,5.4l-.43,1.81a1,1,0,0,0,1.31,1.17l1.73-.63c.9-.31,3.54-.86,5,.23C93.42,72.26,93.93,74.16,93.76,77Zm-49,3.2c.62-1.24,1.19-2.49,1.71-3.72a20.53,20.53,0,0,0,1.89,3.15H48A12.19,12.19,0,0,0,44.73,80.21Z"></path></g></svg>

    {% elsif name == 'dollar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M70.94,63.32a15.14,15.14,0,0,0-7.67-11.27A29,29,0,0,0,52,48.79V21.31a18.76,18.76,0,0,1,13.83,8.23,2,2,0,0,0,3.44-2,22.19,22.19,0,0,0-6.12-6.23A23,23,0,0,0,52,17.3V7.07a2,2,0,0,0-4,0V17.28a28.24,28.24,0,0,0-3.79.53c-.54.1-13.33,2.62-15.14,14.92A15,15,0,0,0,32.93,45,22.22,22.22,0,0,0,48,52.63V78.76c-2.57-.2-8.1-1.41-14.31-7.62A2,2,0,0,0,30.86,74c7.23,7.22,13.93,8.59,17.14,8.79V92.93a2,2,0,0,0,4,0V82.47c6.28-1,11.23-3.17,14.72-6.62A14.66,14.66,0,0,0,70.94,63.32Zm-35-21a11,11,0,0,1-2.86-9c1.39-9.44,11.49-11.49,12-11.58a26.36,26.36,0,0,1,3-.44V48.63A18.38,18.38,0,0,1,35.89,42.27ZM52,78.43V52.81a24.71,24.71,0,0,1,9.32,2.74A11.2,11.2,0,0,1,67,63.86,10.76,10.76,0,0,1,63.91,73C61.14,75.74,57.15,77.56,52,78.43Z"></path></g></svg>

    {% elsif name == 'megaphone' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M71.23,20.65a2,2,0,0,0-1.87-.19A128.9,128.9,0,0,1,20.2,29.84H7a2,2,0,0,0-2,2V64a2,2,0,0,0,2,2H18.15L18,70.32a7.55,7.55,0,0,0,6.87,8.12l13.84,1.22.68,0a7.54,7.54,0,0,0,7.51-6.89s0-.08,0-.11l.13-4c13.69,2.74,22.09,6.6,22.21,6.67a2.09,2.09,0,0,0,.85.18,2,2,0,0,0,2-2V22.31A2,2,0,0,0,71.23,20.65ZM9,62V33.84h9.1V62ZM42.92,72.5a3.56,3.56,0,0,1-3.84,3.18L25.23,74.46A3.56,3.56,0,0,1,22,70.61s0-.08,0-.12L22.15,66a137.48,137.48,0,0,1,20.92,1.92Zm25.19-2a133.93,133.93,0,0,0-46-8.5V33.88a133,133,0,0,0,46-8.63Z"></path><path d="M80.57,37.41a2,2,0,0,0,.58-.09l11.9-3.57a2,2,0,1,0-1.14-3.83L80,33.49a2,2,0,0,0,.57,3.92Z"></path><path d="M93.05,45.89l-12.43-.31a2,2,0,0,0-2.05,1.94,2,2,0,0,0,2,2L93,49.89h0a2,2,0,0,0,0-4Z"></path><path d="M92.93,62.47,81.26,58.18a2,2,0,1,0-1.38,3.75l11.67,4.3a2.09,2.09,0,0,0,.69.12,2,2,0,0,0,.69-3.88Z"></path></g></svg>

    {% else %}
  <p>?</p>
    {% endif %}
</span>
