{% comment %}
Required values
name: <icon name>
______________
Optional values
icon_class: <string>
{% endcomment %}

<span class="icon {{ icon_class }}" data-icon="{{ name | downcase }}">
    {% if name == 'avatar-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="avatar-2"><circle cx="50" cy="28.38" r="23.38"></circle><path d="M86.23,95a36.23,36.23,0,0,0-72.46,0Z"></path></g></svg>

    {% elsif name == 'avatar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="avatar"><circle cx="50" cy="43.4" r="17.16"></circle><path d="M50,4A46,46,0,1,0,96,50,46.06,46.06,0,0,0,50,4ZM77.63,76.76a31.67,31.67,0,0,0-55.27,0A38.15,38.15,0,0,1,11.51,50,38.49,38.49,0,1,1,77.63,76.76Z"></path></g></svg>

    {% elsif name == 'bag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bag"><path d="M78.66,29.38H68.14V23.14a18.14,18.14,0,0,0-36.28,0v6.24H21.34L17.55,95h64.9ZM38.79,23.14a11.21,11.21,0,1,1,22.42,0v6.24H38.79Z"></path></g></svg>

    {% elsif name == 'basket' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="basket"><polygon points="80.54 32.36 66.54 8.2 59.62 12.2 71.29 32.36 28.71 32.36 40.38 12.2 33.46 8.2 19.46 32.36 4 32.36 4 45.53 96 45.53 96 32.36 80.54 32.36"></polygon><polygon points="21.29 91.8 78.71 91.8 87.3 51.53 12.7 51.53 21.29 91.8"></polygon></g></svg>

    {% elsif name == 'binoculars' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="binoculars"><path d="M35.81,65.87a16.13,16.13,0,1,1,0-.06Z"></path><path d="M37.19,25.17v.58l-.87,25.08A22.56,22.56,0,0,0,19.66,43.4a22.24,22.24,0,0,0-7.25,1.21L22.93,23.5a2.35,2.35,0,0,0,.1-.22L24.19,21l0-.12a7.19,7.19,0,0,1,13,4.31Z"></path><path d="M96.5,65.87a16.18,16.18,0,1,1-2.85-9.15l.14.18A16.14,16.14,0,0,1,96.5,65.87Z"></path><path d="M76.16,21.66,77,23.28a2.35,2.35,0,0,0,.1.22L87.59,44.61a22.24,22.24,0,0,0-7.25-1.21,22.6,22.6,0,0,0-16.66,7.42l-.87-25v-.41A7.42,7.42,0,0,1,70.14,18a7.18,7.18,0,0,1,3.94,1.27,6.7,6.7,0,0,1,2,2.35Z"></path><path d="M57.55,56.05a18.48,18.48,0,0,0-15.09,0l.76-22.18a12,12,0,0,1,13.57,0Z"></path></g></svg>

    {% elsif name == 'bolt' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bolt"><path d="M76.69,47,33,94.55a1.29,1.29,0,0,1-2.21-1.21L40.59,59H24.32a1.22,1.22,0,0,1-.88-.32,1.28,1.28,0,0,1-.13-1.81L65.72,5.46A1.34,1.34,0,0,1,66.44,5,1.3,1.3,0,0,1,67,5,1.28,1.28,0,0,1,68,6.6L59.34,44.87H75.72a1.24,1.24,0,0,1,.84.32A1.28,1.28,0,0,1,76.69,47Z"></path></g></svg>

    {% elsif name == 'bookmark' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="bookmark"><polygon points="18.33 95 18.33 5 81.67 5 81.67 95 50.56 73.89 18.33 95"></polygon></g></svg>

    {% elsif name == 'box' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="box"><polygon points="47.5 46.89 47.5 91.72 7.5 74.07 7.5 29.23 47.5 46.89"></polygon><path d="M92.5,29.23V74.07L75.84,81.42V71.73a2.5,2.5,0,1,0-5,0v11.9L52.5,91.72V46.89l18.34-8.1V47.9a2.5,2.5,0,1,0,5,0V36.59Z"></path><polygon points="67.2 34.93 50 42.52 11.19 25.4 28.89 17.59 67.2 34.93"></polygon><polygon points="88.81 25.4 73.35 32.23 35.05 14.88 50 8.28 88.81 25.4"></polygon></g></svg>

    {% elsif name == 'briefcase' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="briefcase"><polygon points="92 60.41 92 92.77 8 92.77 8 60.41 35.41 60.41 35.41 73.5 64.59 73.5 64.59 60.41 92 60.41"></polygon><rect x="41.41" y="60.59" width="17.18" height="6.91"></rect><path d="M76.5,27.86V17.45A10.23,10.23,0,0,0,66.28,7.23H33.72A10.23,10.23,0,0,0,23.5,17.45V27.86H8V54.41H92V27.86Zm-8-2.36h-37v-8a2.22,2.22,0,0,1,2.22-2.22H66.28a2.22,2.22,0,0,1,2.22,2.22Z"></path></g></svg>

    {% elsif name == 'calendar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="calendar"><path d="M91.33,31V89.2a4.55,4.55,0,0,1-4.55,4.55H13.22A4.55,4.55,0,0,1,8.67,89.2V31Z"></path><path d="M91.33,21.48V26H8.67V21.48a4.55,4.55,0,0,1,4.55-4.55H23.79V6.25h8V16.93H68.21V6.25h8V16.93H86.78A4.55,4.55,0,0,1,91.33,21.48Z"></path></g></svg>

    {% elsif name == 'cart' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="cart"><path d="M45.71,80.13a6.09,6.09,0,1,0,6.09,6.09A6.09,6.09,0,0,0,45.71,80.13Z"></path><path d="M73,80.13a6.09,6.09,0,1,0,6.09,6.09A6.09,6.09,0,0,0,73,80.13Z"></path><path d="M93.8,24.8a8.16,8.16,0,0,0-8-9.94H28.71L27.26,7.7H6v8H20.72l12.1,59.65H88.24v-8H39.36L38.2,61.64H85.55Z"></path></g></svg>

    {% elsif name == 'chat' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="chat"><path d="M96.81,40.34V60.49a11,11,0,0,1-11,11h-.49V88.19L65.43,71.53H46.73a11,11,0,0,1-11-11v-.87l.7-.59H53.27a16.06,16.06,0,0,0,16-16V29.31H85.77A11,11,0,0,1,96.81,40.34Z"></path><path d="M53.27,11.81h-39a11,11,0,0,0-11,11V43a11,11,0,0,0,11,11h.49V70.69L34.57,54h18.7a11,11,0,0,0,11-11V22.84A11,11,0,0,0,53.27,11.81Zm1,30.27h-40v-5h40Zm0-12.22h-40v-5h40Z"></path></g></svg>

    {% elsif name == 'checkmark' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="checkmark"><polygon points="31.86 85.65 5 58.79 10.32 53.47 31.86 75 89.68 17.18 95 22.5 31.86 85.65"></polygon></g></svg>

    {% elsif name == 'circle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="circle"><circle cx="50" cy="50" r="39.5"></circle></g></svg>

    {% elsif name == 'clock' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="clock"><path d="M50,5A45,45,0,1,0,95,50,45,45,0,0,0,50,5ZM73.75,54H46V15h8V46H73.75Z"></path></g></svg>

    {% elsif name == 'cloud' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="cloud"><path d="M95,59A16.62,16.62,0,0,1,78.38,75.62H21.62a16.62,16.62,0,0,1,0-33.24,16.12,16.12,0,0,1,3.64.41,24.92,24.92,0,0,1,48.2.34A16.61,16.61,0,0,1,95,59Z"></path></g></svg>

    {% elsif name == 'document-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="document-2"><path d="M59.3,34.06V7.5H14.14v85H85.86V34.06ZM22.44,57.58H70.18v5H22.44Zm0,10.82H62.8v5H22.44ZM71.66,84.22H22.44v-5H71.66Zm4.42-32.46H22.44v-5H76.08Z"></path><polygon points="82.42 29.06 64.3 29.06 64.3 10.52 82.42 29.06"></polygon></g></svg>

    {% elsif name == 'document' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="document"><polygon points="85.86 34.06 85.86 92.5 14.14 92.5 14.14 7.5 59.3 7.5 59.3 34.06 85.86 34.06"></polygon><polygon points="82.42 29.06 64.3 29.06 64.3 10.52 82.42 29.06"></polygon></g></svg>

    {% elsif name == 'down-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="down-arrow"><polygon points="77.2 51.82 54 78.32 54 4.96 46 4.96 46 78.32 22.8 51.82 16.78 57.09 50 95.04 83.22 57.09 77.2 51.82"></polygon></g></svg>

    {% elsif name == 'down-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="down-caret"><polygon points="50 78.55 2.15 29.96 7.85 24.35 50 67.15 92.15 24.35 97.85 29.96 50 78.55"></polygon></g></svg>

    {% elsif name == 'email' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="email"><path d="M92,22.53V81.86H8V22.38L48.48,62.86a3,3,0,0,0,2.09.89,3.13,3.13,0,0,0,2.22-.88Z"></path><polygon points="87.89 18.14 50.6 56.51 12.24 18.14 87.89 18.14"></polygon></g></svg>

    {% elsif name == 'eye' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="eye"><path d="M5,49.81v.38s43.85,58.85,90,0v-.38C48.85-9,5,49.81,5,49.81ZM50,63.7A13.7,13.7,0,1,1,63.7,50,13.7,13.7,0,0,1,50,63.7Z"></path><path d="M58.71,50A8.72,8.72,0,0,1,50,58.71V41.29A8.72,8.72,0,0,1,58.71,50Z"></path></g></svg>

    {% elsif name == 'facebook' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="facebook"><path d="M57,27.73V38H72.83l-2.09,16H57V95H40.45V53.94H26.62V38H40.45V26.15C40.45,12.46,48.83,5,61,5h0a115.36,115.36,0,0,1,12.34.63V19.94H64.92C58.26,19.94,57,23.1,57,27.73Z"></path></g></svg>

    {% elsif name == 'film' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="film"><path d="M95,33.15V66.88a2.89,2.89,0,0,1-2.9,2.91,2.76,2.76,0,0,1-1-.18L74,63.46V76.7a2.91,2.91,0,0,1-2.9,2.9H7.9A2.92,2.92,0,0,1,5,76.7V23.3a2.92,2.92,0,0,1,2.9-2.9H71.05A2.91,2.91,0,0,1,74,23.3V36.57l17.16-6.15A2.89,2.89,0,0,1,95,33.15Z"></path></g></svg>

    {% elsif name == 'fire' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="fire"><path d="M73.58,43.35a30.63,30.63,0,0,0-3.09,8.87S71,47.47,67.91,39,62,27.68,60.38,21.49C58.11,13,63,5,63,5s-19.28,3.71-28,20.52c-7.84,14.94-4.64,23.91-4.64,23.91a22.54,22.54,0,0,1-5-7.32A20.4,20.4,0,0,1,24,34S10.28,49.12,16.88,68.2C21.52,81.6,30.18,90.46,40.59,94A16.83,16.83,0,0,1,32,80c-.31-11.24,7.42-16.7,12.06-24.13,6.6-10.72,4.75-17.52,4.75-17.52s5.46,3.09,8.66,14.54a30.56,30.56,0,0,1,.92,10,47.27,47.27,0,0,1-4,15.36S60.49,77,62.13,65.82c2.79,2.89,5.37,7.12,5.67,11.45A17.89,17.89,0,0,1,57.08,95c11.86-2.78,20.21-12.78,23.2-20.1C84,65.72,83,57.47,82.34,50.46a36.09,36.09,0,0,1,2.58-16.9S78.42,35.41,73.58,43.35Z"></path></g></svg>

    {% elsif name == 'flag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="flag"><polygon points="75.47 34.15 90.23 8.28 17.77 8.28 17.77 5 9.77 5 9.77 95 17.77 95 17.77 60 90.23 60 75.47 34.15"></polygon></g></svg>

    {% elsif name == 'folder' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="folder"><path d="M80.21,77.7H19.09a3.47,3.47,0,0,1-3.41-2.84L7.54,30.66A2.22,2.22,0,0,1,8,28.84a2.18,2.18,0,0,1,1.69-.79H23.52l.32,0,.19.05a2.18,2.18,0,0,1,1.61,1.52l.46,1.63a9.46,9.46,0,0,0,9.07,6.85h37.4A1.47,1.47,0,0,1,74,39.37Z"></path><path d="M92.45,24.84l-9,41.81L79,38.57a6.45,6.45,0,0,0-6.4-5.45H35.17a4.46,4.46,0,0,1-4.27-3.21l-.44-1.58a5,5,0,0,0-.2-.62,3.09,3.09,0,0,0-.14-.32,3.36,3.36,0,0,0-.2-.43,3.62,3.62,0,0,0-.24-.43,5.37,5.37,0,0,0-.35-.53,3.4,3.4,0,0,0-.23-.3L29,25.36l-.3-.15a2.39,2.39,0,0,0-.23-.22l-.15-.14-.24-.2-.33-.47h-.33l0,0,0-.12a2.13,2.13,0,0,1,2.09-1.74H90.39a2.13,2.13,0,0,1,1.64.78A2.08,2.08,0,0,1,92.45,24.84Z"></path></g></svg>

    {% elsif name == 'gear' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gear"><path class="cls-1" d="M94.37,44.11h0l-7.43-1.85-3-.74-1-2.89a33,33,0,0,0-1.55-3.76l-1.32-2.74,1.56-2.6L86,22.36a1.56,1.56,0,0,0-.12-1l-7.19-7.17A1.24,1.24,0,0,0,78,14a1,1,0,0,0-.33,0l-7.16,4.3-2.62,1.56-2.73-1.32A30.94,30.94,0,0,0,61.37,17l-2.88-1-.74-3L55.9,5.63A1.54,1.54,0,0,0,55.06,5H44.94a1.38,1.38,0,0,0-.84.65l-1.85,7.41-.74,3-2.88,1a30.94,30.94,0,0,0-3.76,1.55l-2.73,1.32-2.62-1.56L22.35,14A1.41,1.41,0,0,0,22,14a1.52,1.52,0,0,0-.72.16l-7.17,7.17a1.46,1.46,0,0,0-.12,1l4.3,7.16,1.56,2.6-1.32,2.74A33,33,0,0,0,17,38.62l-1,2.89-3,.74L5.63,44.11a1.48,1.48,0,0,0-.63.83V55.06a1.44,1.44,0,0,0,.63.84l7.43,1.85,3,.74,1,2.88a31.75,31.75,0,0,0,1.55,3.77l1.32,2.72-1.56,2.62L14,77.64a1.56,1.56,0,0,0,.12,1l7.19,7.17A1.24,1.24,0,0,0,22,86a1,1,0,0,0,.33,0l7.16-4.3,2.62-1.56,2.73,1.32A30.94,30.94,0,0,0,38.63,83l2.88,1,.74,3,1.85,7.43a1.54,1.54,0,0,0,.84.63H55.06a1.38,1.38,0,0,0,.84-.63l1.85-7.43.74-3,2.88-1a30.94,30.94,0,0,0,3.76-1.55l2.73-1.32,2.62,1.56L77.64,86A1.7,1.7,0,0,0,78,86a1.52,1.52,0,0,0,.72-.16l7.17-7.17a1.45,1.45,0,0,0,.12-1l-4.3-7.16-1.56-2.62,1.32-2.72A31.75,31.75,0,0,0,83,61.37l1-2.88,3-.74,7.43-1.85a1.54,1.54,0,0,0,.63-.84V44.94A1.34,1.34,0,0,0,94.37,44.11ZM50,66.88A16.88,16.88,0,1,1,66.88,50,16.88,16.88,0,0,1,50,66.88Z"></path></g></svg>

    {% elsif name == 'gem' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gem"><polygon points="42.77 83.98 3.13 36.59 29.61 36.59 42.77 83.98"></polygon><polygon points="63.47 36.59 49.95 85.2 36.45 36.59 63.47 36.59"></polygon><polygon points="96.78 36.59 57.34 83.29 70.31 36.59 96.78 36.59"></polygon><polygon points="96.88 30 74.81 30 85.72 16.48 96.88 30"></polygon><polygon points="78.61 14.8 67.56 28.48 56.77 14.8 78.61 14.8"></polygon><polygon points="60.35 30 38.7 30 49.88 16.72 60.35 30"></polygon><polygon points="42.87 14.8 31.86 27.88 21.32 14.8 42.87 14.8"></polygon><polygon points="25.11 30 3.13 30 14.36 16.69 25.11 30"></polygon></g></svg>

    {% elsif name == 'gift' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="gift"><path d="M87.79,27.78a13.42,13.42,0,0,0,1.89-4.62A13.34,13.34,0,0,0,69.4,9.28C66.52,10.88,55.73,17.13,49.83,24,43.92,17.13,33.14,10.88,30.26,9.28a13.34,13.34,0,0,0-18.39,18.5H10.51V50.65h36.9V34.29h6V50.65h36.9V27.78Zm-63.58,0,.05-.08L20.1,25A5.34,5.34,0,1,1,26,16.05l.27.16c5,2.8,12.11,7.54,16.23,11.57Zm57.64-6.21A5.34,5.34,0,0,1,79.56,25L75.4,27.7l0,.08H57.17c4.12-4,11.18-8.77,16.23-11.57l.27-.16a5.26,5.26,0,0,1,4-.78,5.32,5.32,0,0,1,3.39,2.28A5.38,5.38,0,0,1,81.85,21.57Z"></path><rect x="53.41" y="56.65" width="32.97" height="36.2"></rect><rect x="14.44" y="56.65" width="32.97" height="36.2"></rect></g></svg>

    {% elsif name == 'grid' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="grid"><rect x="5" y="5" width="21.72" height="21.72"></rect><rect x="39.14" y="5" width="21.72" height="21.72"></rect><rect x="73.28" y="5" width="21.72" height="21.72"></rect><rect x="5" y="39.14" width="21.72" height="21.72"></rect><rect x="39.14" y="39.14" width="21.72" height="21.72"></rect><rect x="73.28" y="39.14" width="21.72" height="21.72"></rect><rect x="5" y="73.28" width="21.72" height="21.72"></rect><rect x="39.14" y="73.28" width="21.72" height="21.72"></rect><rect x="73.28" y="73.28" width="21.72" height="21.72"></rect></g></svg>

    {% elsif name == 'hanger' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="hanger"><path d="M92.17,68.41,53.68,42.57V40.21a10.51,10.51,0,0,0,7.49-9.84c0-5.75-5-10.43-11.16-10.43S38.84,24.62,38.84,30.37h7.35c0-1.7,1.71-3.08,3.82-3.08s3.82,1.38,3.82,3.08S52.11,33.45,50,33.45v0h0l-3.66,3.66h0v5.42L7.84,68.4a6.36,6.36,0,0,0,3.51,11.66H88.64a6.36,6.36,0,0,0,3.53-11.65ZM14.6,72.71,50,49,85.4,72.71Z"></path></g></svg>

    {% elsif name == 'heart' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="heart"><path d="M87.62,17.7a22.92,22.92,0,0,0-31.69,0L50,23.45,44.06,17.7a22.91,22.91,0,0,0-31.68,0,23.87,23.87,0,0,0,0,34.52L50,88.66,87.62,52.22A23.87,23.87,0,0,0,87.62,17.7Z"></path></g></svg>

    {% elsif name == 'house' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="house"><polygon points="95 45.45 85.53 37.95 85.53 37.93 83.28 36.17 50.02 9.84 15.78 35.52 14.15 36.73 14.15 36.75 5 43.61 9.55 49.68 14.39 46.05 14.39 90.16 41.31 90.16 41.31 86.36 41.31 57.56 58.61 57.56 58.61 86.36 58.61 90.16 85.53 90.16 85.53 47.63 90.29 51.4 95 45.45"></polygon></g></svg>

    {% elsif name == 'houzz' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="houzz"><polygon points="9.04 95 9.04 5 29.81 5 29.81 25.77 90.96 43.08 90.96 95 62.12 95 62.12 65 39.04 65 39.04 95 9.04 95"></polygon></g></svg>

    {% elsif name == 'instagram' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="instagram"><path d="M73.75,5H26.25A21.27,21.27,0,0,0,5,26.25v47.5A21.27,21.27,0,0,0,26.25,95h47.5A21.27,21.27,0,0,0,95,73.75V26.25A21.27,21.27,0,0,0,73.75,5Zm-8.6,60.13A21.43,21.43,0,1,1,71.44,50,21.4,21.4,0,0,1,65.15,65.13ZM81.9,29.34A7.62,7.62,0,1,1,84.14,24,7.59,7.59,0,0,1,81.9,29.34Z"></path></g></svg>

    {% elsif name == 'leaf-2' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="leaf-2"><path d="M85.9,93c-2.05-7.2-6.46-15-11.77-22.45a33.87,33.87,0,0,0,7.14-13.88c1.9-7.9.48-15.52-4-21.46h0c-.15-.21-.31-.41-.47-.61-3.06-4.44-14.73-15.7-57.93-28.17L14.1,5v5c0,49.26,9.31,61.81,11.79,64.28,4.48,5.78,11.33,9.16,19.32,9.52q.7,0,1.41,0a35.63,35.63,0,0,0,21.29-7.41l.81-.64C73.28,82.29,77,88.94,78.72,95Z"></path></g></svg>

    {% elsif name == 'leaf' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="leaf"><path d="M72.93,59.25c0-.24,0-.48,0-.71v0C73.07,55.22,72.18,40.75,50,5,24.31,46.4,27.17,59.25,27.17,59.25A22.87,22.87,0,0,0,46,81.77V95h8V81.78A22.88,22.88,0,0,0,72.93,59.25Z"></path></g></svg>

    {% elsif name == 'left-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="left-arrow"><polygon points="95.04 46 21.68 46 48.18 22.8 42.91 16.78 4.96 50 42.91 83.22 48.18 77.2 21.68 54 95.04 54 95.04 46"></polygon></g></svg>

    {% elsif name == 'left-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="left-caret"><polygon points="70.04 97.85 21.45 50 70.04 2.15 75.65 7.85 32.85 50 75.65 92.15 70.04 97.85"></polygon></g></svg>

    {% elsif name == 'like' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="like"><path d="M90,51.84a6.91,6.91,0,0,1-2.41,12,6.93,6.93,0,0,1-4.34,12.34H83.1a6.89,6.89,0,0,1,2.26,5.12c0,3.66-2.91,6.32-6.93,6.32l-21.84.45h-.11c-6.55,0-11,0-13.71.07h-.72a26.32,26.32,0,0,1-12.95-3,.9.9,0,0,1-.47-.8V47.54a.9.9,0,0,1,.45-.79C35.49,43,45.64,32.64,47.61,24.4a76.38,76.38,0,0,0,1.5-8.76,4.68,4.68,0,0,1,4.58-3.83c2.69,0,4.89,2.44,5.62,6.24,1.94,10.08.38,17.28-.85,19.94a.46.46,0,0,0,0,.44.47.47,0,0,0,.39.22l29.16-.4a6.93,6.93,0,0,1,2,13.59Z"></path><path d="M21.93,45.43v40a1.37,1.37,0,0,1-1.38,1.37H6.37A1.38,1.38,0,0,1,5,85.41v-40a1.37,1.37,0,0,1,1.37-1.38H20.55A1.37,1.37,0,0,1,21.93,45.43Z"></path></g></svg>

    {% elsif name == 'link' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="link"><path d="M89,60.13l-8.78-8.78A20.44,20.44,0,0,0,54.2,49L51,45.8a20.44,20.44,0,0,0-2.35-26L39.87,11A20.43,20.43,0,0,0,11,39.87l8.78,8.78A20.43,20.43,0,0,0,45.8,51L49,54.2a20.44,20.44,0,0,0,2.35,26L60.13,89A20.43,20.43,0,0,0,89,60.13ZM25,43.45l-8.77-8.77a13.08,13.08,0,0,1,18.5-18.5L43.45,25a13.09,13.09,0,0,1,2.22,15.53l-9.75-9.75-5.19,5.19,9.75,9.75A13.09,13.09,0,0,1,25,43.45ZM83.82,83.82h0a13.09,13.09,0,0,1-18.5,0l-8.77-8.77a13.09,13.09,0,0,1-2.22-15.53l9.75,9.75,5.19-5.19-9.75-9.75a13.07,13.07,0,0,1,15.53,2.22l8.77,8.77a13.09,13.09,0,0,1,0,18.5Z"></path></g></svg>

    {% elsif name == 'linkedin' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="linkedin"><path id="LinkedIn-2" data-name="LinkedIn" d="M55.4,43.2c2.56-4,7.14-9.59,17.39-9.59C85.48,33.61,95,41.9,95,59.73V93H75.71V62c0-7.8-2.79-13.13-9.77-13.13-5.33,0-8.5,3.59-9.9,7.06a13.18,13.18,0,0,0-.64,4.7V93H36.1s.26-52.58,0-58H55.4V43.2ZM15.92,7C9.32,7,5,11.33,5,17s4.19,10,10.66,10h.13c6.73,0,10.92-4.46,10.92-10S22.52,7,15.92,7ZM6.15,93H25.44V35H6.15Z"></path></g></svg>

    {% elsif name == 'lock' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="lock"><path d="M84.83,40H75V30a25,25,0,0,0-50,0V40H15.17A5.18,5.18,0,0,0,10,45.17V89.82A5.18,5.18,0,0,0,15.17,95H84.83A5.18,5.18,0,0,0,90,89.82V45.17A5.18,5.18,0,0,0,84.83,40ZM33.77,30a16.23,16.23,0,0,1,32.46,0V40H33.77Z"></path></g></svg>

    {% elsif name == 'map' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="map"><polygon points="31.23 6.71 31.23 79.35 6.35 93.29 6.35 20.65 31.23 6.71"></polygon><polygon points="93.65 6.71 93.65 79.35 68.77 93.29 68.77 20.65 93.65 6.71"></polygon><polygon points="62.44 20.65 62.44 93.29 37.56 79.35 37.56 6.71 62.44 20.65"></polygon></g></svg>

    {% elsif name == 'menu' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>menu</title><g id="menu"><rect x="5" y="12" width="90" height="8"/><rect x="5" y="46" width="90" height="8"/><rect x="5" y="80" width="90" height="8"/></g></svg>

    {% elsif name == 'minus' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="minus"><rect x="4" y="46" width="90" height="8"></rect></g></svg>

    {% elsif name == 'moon' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="moon"><path d="M21.93,81.51A47,47,0,0,1,9.74,79.93,46.34,46.34,0,1,0,59.5,5,47.49,47.49,0,0,1,21.93,81.51Z"></path></g></svg>

    {% elsif name == 'music' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="music"><path d="M88.53,30.56l0-3.09V5l-.28,0V5L36.62,13.89l-3.27.56h0V67.81a14.58,14.58,0,1,0,7.26,13.25h0V38.77l40.56-7V59.6a14.58,14.58,0,1,0,7.26,13.25h0V30.57Z"></path></g></svg>

    {% elsif name == 'phone' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="phone"><path d="M95,76.76A11.6,11.6,0,0,1,91.59,85l-3.87,3.87A20.79,20.79,0,0,1,73.13,95a19.81,19.81,0,0,1-2.87-.22,73.37,73.37,0,0,1-26.14-9.52A83,83,0,0,1,27.59,72.4,83.11,83.11,0,0,1,14.72,55.87a73.35,73.35,0,0,1-9.5-26.13,20.54,20.54,0,0,1,5.92-17.48L15,8.39a11.65,11.65,0,0,1,16.43,0l8.48,8.49a11.61,11.61,0,0,1,0,16.44l-3.76,3.76a5.72,5.72,0,0,0-.58,7.33,82.45,82.45,0,0,0,9.13,10.86,81.3,81.3,0,0,0,10.88,9.14,5.7,5.7,0,0,0,7.32-.6l3.76-3.76a11.66,11.66,0,0,1,16.44,0l8.48,8.5A11.57,11.57,0,0,1,95,76.76Z"></path></g></svg>

    {% elsif name == 'photo' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="photo"><path d="M88,7.5H12.05a3.85,3.85,0,0,0-3.84,3.84v65l23.27-22L48.62,71.51,77.2,44.35,91.79,59.2V11.34A3.85,3.85,0,0,0,88,7.5ZM31.43,44.64a12.5,12.5,0,1,1,12.5-12.5A12.51,12.51,0,0,1,31.43,44.64Z"></path><path d="M91.79,66.33V88.66A3.85,3.85,0,0,1,88,92.5H12.05a3.85,3.85,0,0,1-3.84-3.84V83.22l2.07-2,21.1-19.93L48.53,78.49l5.91-5.61h0L77.08,51.36l14.25,14.5Z"></path><circle cx="31.43" cy="32.14" r="7.5"></circle></g></svg>

    {% elsif name == 'pin' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="pin"><path d="M50,5A30.4,30.4,0,0,0,23.85,50.91L50,95,76.15,50.91A30.34,30.34,0,0,0,50,5Zm0,44a13.61,13.61,0,1,1,13.6-13.6A13.6,13.6,0,0,1,50,49Z"></path></g></svg>

    {% elsif name == 'pinterest' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="pinterest"><path d="M86,34.61C86,54.89,74.33,70,57.17,70c-5.76,0-11.18-3-13-6.45,0,0-3.1,11.92-3.76,14.22-2.31,8.12-9.12,16.25-9.64,16.92a.72.72,0,0,1-1.27-.3c-.14-1-1.88-11.29.16-19.64L36.5,46.62a19.32,19.32,0,0,1-1.71-8.19c0-7.66,4.59-13.38,10.3-13.38,4.86,0,7.2,3.54,7.2,7.76,0,4.73-3.11,11.8-4.71,18.35-1.34,5.49,2.84,10,8.42,10,10.12,0,16.93-12.58,16.93-27.49,0-11.32-7.88-19.81-22.22-19.81-16.19,0-26.28,11.7-26.28,24.76A14.6,14.6,0,0,0,28,48.72c1,1.13,1.13,1.59.77,2.88l-1.09,4.15A1.85,1.85,0,0,1,25,57.05C17.49,54.1,14,46.19,14,37.3,14,22.61,26.8,5,52.18,5,72.57,5,86,19.29,86,34.61Z"></path></g></svg>

    {% elsif name == 'plus' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="plus"><polygon points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46"></polygon></g></svg>

    {% elsif name == 'recycle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="recycle"><path d="M35.64,53.47l-4-4a1,1,0,0,0-.82-.3,1.07,1.07,0,0,0-.76.45L15.67,71.31,5,53.53,14.4,40a1,1,0,0,0,.17-.79,1.07,1.07,0,0,0-.46-.67L8.45,35H31.22Z"></path><path d="M40.79,65.39V85.07H23.92L16.84,73.26l5.25-7.88h18.7Z"></path><path d="M83.19,19.27,71.38,38.76,53.26,32.93l5.45-1.34a1,1,0,0,0,.67-.55,1,1,0,0,0,0-.88L48.36,6.6l20.73.09,6.74,15.09a1,1,0,0,0,.6.55,1.06,1.06,0,0,0,.8,0Z"></path><path d="M50.1,15.17a1.1,1.1,0,0,0-.09.14L40.4,31.16,23.56,21,32.31,6.53l13.78.06Z"></path><path d="M88.32,67,79.69,85.81l-16.53-.07a1,1,0,0,0-1,1.07l.27,6.66L49.54,74.68,62.31,60.59l-1,5.5a1,1,0,0,0,.23.84,1.1,1.1,0,0,0,.8.37Z"></path><path d="M95,52.37,89.27,64.9,79.79,65a1,1,0,0,0-.08-.14L69.23,49.59,85.47,38.46Z"></path></g></svg>

    {% elsif name == 'right-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="right-arrow"><polygon points="57.09 16.78 51.82 22.8 78.32 46 4.96 46 4.96 54 78.32 54 51.82 77.2 57.09 83.22 95.04 50 57.09 16.78"></polygon></g></svg>

    {% elsif name == 'right-caret' %}

  <svg id="right-caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="28.51 97.85 22.9 92.15 65.7 50 22.9 7.85 28.51 2.15 77.1 50 28.51 97.85"></polygon></svg>

    {% elsif name == 'rss' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M19.44,65.61A14.45,14.45,0,1,0,33.89,80.06,14.47,14.47,0,0,0,19.44,65.61Z"></path><path d="M15.48,35.49v7.58A42,42,0,0,1,57.43,85H65A49.59,49.59,0,0,0,15.48,35.49Z"></path><path d="M15.48,5.5v7.57A72,72,0,0,1,87.42,85H95A79.61,79.61,0,0,0,15.48,5.5Z"></path></g></svg>

    {% elsif name == 'ruler' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="ruler"><path d="M80.29,80.29l-5.94,5.94-2.16-2.16,5.94-5.94-5.61-5.61-3.39,3.4L67,73.76l3.39-3.4-4.5-4.51-6,6-2.16-2.16,6-6-5.62-5.6-3.4,3.39-2.16-2.16,3.4-3.39-5.35-5.36-6,5.95-2.16-2.16,5.95-6-4.76-4.76L40.24,47l-2.16-2.16,3.4-3.41L37,37,31,42.91l-2.16-2.16,6-5.94L29.2,29.2l-3.39,3.39-2.17-2.16L27,27l-5.36-5.36-5.95,5.94-2.16-2.16,5.95-5.94L5,5V95H95ZM21,79V43.31L56.69,79Z"></path></g></svg>

    {% elsif name == 'search' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="search"><path d="M91.49,89.74,70.6,68.85a37.29,37.29,0,1,0-5.85,4.67L86.23,95ZM14.78,42.24A29.8,29.8,0,1,1,44.58,72,29.84,29.84,0,0,1,14.78,42.24Z"></path></g></svg>

    {% elsif name == 'shield' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="shield"><path d="M50,5.5S24.74,15,15.26,15V48.46a39,39,0,0,0,2.23,13.1A60,60,0,0,0,50,95.5,60,60,0,0,0,82.51,61.56a39,39,0,0,0,2.23-13.1V15C75.26,15,50,5.5,50,5.5Zm-3,62.71L31.38,52.54,37,46.88l9.59,9.6L64.35,36l6,5.24Z"></path></g></svg>

    {% elsif name == 'slider' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="slider"><polygon points="16.84 5 8.84 5 8.84 27.63 5.66 27.63 5.66 39.63 8.84 39.63 8.84 95 16.84 95 16.84 39.63 20.02 39.63 20.02 27.63 16.84 27.63 16.84 5"></polygon><polygon points="41.72 5 33.72 5 33.72 62.88 30.43 62.88 30.43 74.88 33.72 74.88 33.72 95 41.72 95 41.72 74.88 44.8 74.88 44.8 62.88 41.72 62.88 41.72 5"></polygon><polygon points="66.5 5 58.5 5 58.5 32.85 55.2 32.85 55.2 44.85 58.5 44.85 58.5 95 66.5 95 66.5 44.85 69.57 44.85 69.57 32.85 66.5 32.85 66.5 5"></polygon><polygon points="94.34 53.74 91.27 53.74 91.27 5 83.27 5 83.27 53.74 79.98 53.74 79.98 65.74 83.27 65.74 83.27 95 91.27 95 91.27 65.74 94.34 65.74 94.34 53.74"></polygon></g></svg>

    {% elsif name == 'snapchat' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="snapchat"><path d="M91.67,66.36a17.72,17.72,0,0,0-2.46-.92c-3.48-1.12-8.63-2.76-11.42-11.32L82,52.4a7.59,7.59,0,0,0,4.78-8.74A6.94,6.94,0,0,0,80,38.25a7.67,7.67,0,0,0-1.58.19l-1.4.33c-.07-1.65-.12-3.36-.12-5.13a26.83,26.83,0,0,0-8-19,27.4,27.4,0,0,0-8.55-5.81,26.58,26.58,0,0,0-20.9,0A27.32,27.32,0,0,0,31,14.63a27,27,0,0,0-5.76,8.56,26.31,26.31,0,0,0-2.15,10.45c0,1.77,0,3.48-.11,5.13l-1.41-.33A7.43,7.43,0,0,0,20,38.25a7,7,0,0,0-4.25,1.46,6.89,6.89,0,0,0-2.49,3.95A7.58,7.58,0,0,0,18,52.4l4.22,1.72c-2.79,8.56-7.94,10.2-11.41,11.32a15.74,15.74,0,0,0-2.47.92,5.52,5.52,0,0,0-3.34,5,6.26,6.26,0,0,0,2.6,5,12,12,0,0,0,3.17,1.63,42.69,42.69,0,0,0,5.47,1.3,12.54,12.54,0,0,0,.4,1.93,6.74,6.74,0,0,0,3.88,4.56,8.48,8.48,0,0,0,3.39.59c.85,0,1.73-.07,2.68-.15s2.06-.13,3.08-.13a9.09,9.09,0,0,1,3.64.57c1.17.54,2.39,1.27,3.71,2,3.64,2.14,7.78,4.56,13,4.56s9.35-2.42,13-4.56c1.32-.77,2.55-1.5,3.72-2a9.14,9.14,0,0,1,3.63-.57c1,0,2.07.06,3.09.13s1.82.15,2.67.15a8.55,8.55,0,0,0,3.4-.59,6.74,6.74,0,0,0,3.88-4.56,13.85,13.85,0,0,0,.4-1.93,43,43,0,0,0,5.46-1.3,11.8,11.8,0,0,0,3.18-1.63,6.27,6.27,0,0,0,2.59-5A5.51,5.51,0,0,0,91.67,66.36Z"></path></g></svg>

    {% elsif name == 'square' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="square"><rect x="10.5" y="10.5" width="79" height="79"></rect></g></svg>

    {% elsif name == 'star' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="star"><path d="M94.59,37.25,73.41,59.37,83,90.15A1.43,1.43,0,0,1,82,92a1,1,0,0,1-.45.08h-.06a2.18,2.18,0,0,1-.57-.15L50,77,19,91.89a1.46,1.46,0,0,1-1.94-.67A1.42,1.42,0,0,1,17,90.15l9.56-30.78L5.4,37.25a1.45,1.45,0,0,1,0-2,1.42,1.42,0,0,1,1-.4H35.64l13.07-26a1.45,1.45,0,0,1,1.94-.66,1.48,1.48,0,0,1,.65.66l13.07,26H93.55a1.44,1.44,0,0,1,1,2.45Z"></path></g></svg>

    {% elsif name == 'sun' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="sun"><circle cx="50" cy="50" r="20.36"></circle><rect x="46" y="5" width="8" height="18.41"></rect><rect x="76.59" y="46" width="18.41" height="8"></rect><rect x="66.36" y="20.43" width="18.41" height="8" transform="translate(4.41 59.71) rotate(-44.29)"></rect><rect x="71.57" y="66.36" width="8" height="18.41" transform="translate(-31.3 76.43) rotate(-45.46)"></rect><rect x="46" y="76.59" width="8" height="18.41"></rect><rect x="5" y="46" width="18.41" height="8"></rect><rect x="15.23" y="71.57" width="18.41" height="8" transform="translate(-45.82 38.53) rotate(-44.29)"></rect><rect x="20.43" y="15.23" width="8" height="18.41" transform="translate(-10.12 24.71) rotate(-45.46)"></rect></g></svg>

    {% elsif name == 'tag' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tag"><path d="M95,10.77,89.56,5.32,74.64,20.24l-1.21-.17a42.84,42.84,0,0,0-6.1-.44H49.7a15.27,15.27,0,0,0-10.81,4.48L6.55,56.44a5.27,5.27,0,0,0,0,7.47L35.77,93.13a5.26,5.26,0,0,0,7.46,0l33-33A15.29,15.29,0,0,0,80.7,49.34V32.2a41.88,41.88,0,0,0-.52-6.61ZM61.39,46.66a7.73,7.73,0,0,1,0-15.45,7.63,7.63,0,0,1,5.18,2l.53.53a7.72,7.72,0,0,1-5.71,12.91Z"></path></g></svg>

    {% elsif name == 'tree' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tree"><polygon points="65.6 54.78 74.08 54.78 56.74 28.21 65.15 28.21 50 5 34.85 28.21 43.26 28.21 25.92 54.78 34.4 54.78 17.07 81.34 46.06 81.34 46.06 95 50 95 53.94 95 53.94 81.34 82.93 81.34 65.6 54.78"></polygon></g></svg>

    {% elsif name == 'triangle' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="triangle"><polygon points="50 15.79 69.75 50 89.5 84.21 50 84.21 10.5 84.21 30.25 50 50 15.79"></polygon></g></svg>

    {% elsif name == 'truck' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><path d="M77.61,68.56a5.47,5.47,0,0,1,.09,1H66a5.47,5.47,0,0,1,.09-1,5.83,5.83,0,0,1,11.48,0Z"></path><path d="M81.41,38.57l-4.65-8.14H57.54l0,39.13H62c0-.34,0-.67.05-1a9.83,9.83,0,0,1,19.56,0c0,.33,0,.66,0,1h6.8V51Zm-12,3.93a.44.44,0,0,1,.44-.43H80.41l5.48,9.32h-16a.44.44,0,0,1-.44-.44Z"></path><path d="M89.37,50.48l-1.74-3-.11-.18L77.63,29.93a1,1,0,0,0-.87-.5H57.5a1,1,0,0,0-1,1l0,38.18v1a.09.09,0,0,0,0,0,.94.94,0,0,0,.28.66,1,1,0,0,0,.71.29h4.59c0-.33-.05-.66-.05-1s0-.67.05-1H58.5l0-37.13H76.18l4.08,7.14L87.5,51.24V68.56H81.65c0,.33,0,.66,0,1s0,.67,0,1H88.5a1,1,0,0,0,1-1V51A1.05,1.05,0,0,0,89.37,50.48ZM66.13,68.56a5.6,5.6,0,0,0,0,2H77.61a5.6,5.6,0,0,0,0-2Z"></path><path d="M31.63,68.61a5,5,0,0,1,.09,1v0H20.07v0a5,5,0,0,1,.09-1,5.81,5.81,0,0,1,11.47,0Z"></path><path d="M57.5,22.61v47H35.72v0c0-.32,0-.64,0-1a9.82,9.82,0,0,0-19.55,0c0,.31-.05.63-.05,1v0H10.5v-47Z"></path><path d="M57.5,21.61h-47a1,1,0,0,0-1,1v47a1,1,0,0,0,1,1h5.63a8.26,8.26,0,0,1-.06-1v0c0-.32,0-.64.05-1H11.5v-45h45v45H35.67c0,.31,0,.63,0,1v0a8.26,8.26,0,0,1-.06,1H57.5a1,1,0,0,0,.3,0,1,1,0,0,0,.7-1v-47A1,1,0,0,0,57.5,21.61Zm-37.34,47a5,5,0,0,0-.09,1v0a5.47,5.47,0,0,0,.1,1H31.62a5.47,5.47,0,0,0,.1-1v0a5,5,0,0,0-.09-1Z"></path><path d="M31.72,69.56v0a5.47,5.47,0,0,1-.1,1,5.82,5.82,0,0,1-11.45,0,5.47,5.47,0,0,1-.1-1v0a5,5,0,0,1,.09-1,5.81,5.81,0,0,1,11.47,0A5,5,0,0,1,31.72,69.56Z"></path><path d="M77.7,69.56a5.47,5.47,0,0,1-.09,1,5.83,5.83,0,0,1-11.48,0,5.6,5.6,0,0,1,0-2,5.83,5.83,0,0,1,11.48,0A5.47,5.47,0,0,1,77.7,69.56Z"></path><path class="cls-1" d="M81.41,40.32H69.87a2.19,2.19,0,0,0-2.19,2.18V51a2.2,2.2,0,0,0,2.19,2.19H87.75v-2ZM69.87,51.39a.44.44,0,0,1-.44-.44V42.5a.44.44,0,0,1,.44-.43H80.41l5.48,9.32Z"></path><path d="M87.63,47.44l-.34-.58-4.88-8.29H69.87a3.94,3.94,0,0,0-3.94,3.93V51a4,4,0,0,0,3.94,3.94H89.5V50.61Zm-17.76,4a.44.44,0,0,1-.44-.44V42.5a.44.44,0,0,1,.44-.43H80.41l5.48,9.32Z"></path></g></svg>

    {% elsif name == 'tumblr' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="tumblr"><path d="M71.25,76.57a10.64,10.64,0,0,1-7.75,3.07c-5.07,0-7.34-3.07-7.34-7.61V46.31H72.57V30.72H56.16V5H43.8A34.83,34.83,0,0,1,23.94,30.87V46.31H36V75.93C36,80,39.87,95,59.63,95c11.62,0,16.43-7.48,16.43-7.48Z"></path></g></svg>

    {% elsif name == 'twitter' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="twitter"><path d="M95,22.1A37,37,0,0,1,84.4,25a18.51,18.51,0,0,0,8.11-10.2,37.17,37.17,0,0,1-11.73,4.48A18.47,18.47,0,0,0,48.84,31.9a18.8,18.8,0,0,0,.48,4.21,52.42,52.42,0,0,1-38-19.29A18.49,18.49,0,0,0,17,41.47a18.63,18.63,0,0,1-8.36-2.32v.23a18.48,18.48,0,0,0,14.81,18.1,18.58,18.58,0,0,1-4.87.65,18.07,18.07,0,0,1-3.47-.34A18.48,18.48,0,0,0,32.33,70.61,37,37,0,0,1,9.4,78.5,40,40,0,0,1,5,78.25a52.23,52.23,0,0,0,28.3,8.3c34,0,52.53-28.13,52.53-52.52l-.06-2.39A37,37,0,0,0,95,22.1Z"></path></g></svg>

    {% elsif name == 'up-arrow' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="up-arrow"><polygon points="83.22 42.91 50 4.96 16.78 42.91 22.8 48.18 46 21.68 46 95.04 54 95.04 54 21.68 77.2 48.18 83.22 42.91"></polygon></g></svg>

    {% elsif name == 'up-caret' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="up-caret"><polygon points="92.15 75.65 50 32.85 7.85 75.65 2.15 70.04 50 21.45 97.85 70.04 92.15 75.65"></polygon></g></svg>

    {% elsif name == 'vimeo' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="vimeo"><path d="M92.67,14.61c-4.21-5.42-13.24-4.51-16-4.07-4.2.76-17.44,6.93-22.1,20.92L54,33.56h2.4c4.5-.45,6.92,0,8.11,1.2s1.5,3,1.21,6.17c-.3,3.46-2.11,7.36-3.91,10.67l-.16.3c-1.35,2.56-3.9,7.37-6.46,7.67-1,.15-2.11-.44-3.15-1.65-3.46-3.76-4.22-10.53-4.82-16.54-.29-2.1-.45-3.92-.75-5.71L46.21,34a96.46,96.46,0,0,0-2.42-11.42C42.58,18.82,39.89,14,36.12,13c-3.61-1.06-8.12.29-11,2.1A98.78,98.78,0,0,0,11.47,25.89C9.8,27.54,8,29.19,6.19,30.7A3.13,3.13,0,0,0,5,33.11a4.3,4.3,0,0,0,.59,1.79c.16.16.16.31.31.46a4.86,4.86,0,0,0,3.46,2.86,11.4,11.4,0,0,0,5.57-.76c2.85-.89,4.05-1.2,5.25.9a30.46,30.46,0,0,1,2.4,6.47,28.9,28.9,0,0,0,1.06,3.31c1.51,4.51,2.71,9.32,4.07,14.6l.44,1.94c2.11,8.88,5.11,21.06,12.78,24.37a8.23,8.23,0,0,0,3.76.75c3.77,0,7.82-1.81,10.09-3.16C63.64,81.23,70,73.71,74.61,67.54c12.64-17.29,19.1-36.39,20-41.36S94.77,17.32,92.67,14.61Z"></path></g></svg>

    {% elsif name == 'wrench' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="wrench"><path d="M94.26,29.06A18.81,18.81,0,0,1,71,41.93L41.9,71A18.81,18.81,0,0,1,17.05,93.7a1.52,1.52,0,0,1-.55-.35,1.56,1.56,0,0,1,0-2.21l9.83-9.83-2.45-4.85-4.35-2L9.33,84.65A1.6,1.6,0,0,1,8,85.08a1.62,1.62,0,0,1-1.15-.87A18.83,18.83,0,0,1,29.65,58.26L58.29,29.64A18.81,18.81,0,0,1,84.24,6.85a1.43,1.43,0,0,1,.44.3,1.56,1.56,0,0,1,0,2.21L75.14,18.9l2.45,4.86,4.35,2,9.24-9.23a1.23,1.23,0,0,1,.53-.35,1.56,1.56,0,0,1,2,.88A18.87,18.87,0,0,1,94.26,29.06Z"></path></g></svg>

    {% elsif name == 'x' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="x"><polygon points="95 10.32 89.68 5 50 44.68 10.32 5 5 10.32 44.68 50 5 89.68 10.32 95 50 55.32 89.68 95 95 89.68 55.32 50 95 10.32"></polygon></g></svg>

    {% elsif name == 'youtube' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="youtube"><path d="M79.77,18.85H20.23A15.22,15.22,0,0,0,5,34.08V65.92A15.22,15.22,0,0,0,20.23,81.15H79.77A15.22,15.22,0,0,0,95,65.92V34.08A15.22,15.22,0,0,0,79.77,18.85Zm-26,38.09L42.36,62.81a1.41,1.41,0,0,1-2-1.26V38.45a1.41,1.41,0,0,1,2-1.26l11.45,5.87,11.06,5.69a1.4,1.4,0,0,1,0,2.5Z"></path></g></svg>

    {% elsif name == 'zoom' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="zoom"><path d="M71.18,68.85a37.29,37.29,0,1,0-5.85,4.67L86.81,95l5.26-5.26ZM45.17,72A29.8,29.8,0,1,1,75,42.24,29.84,29.84,0,0,1,45.17,72Z"/><polygon points="48.88 21.67 41.45 21.67 41.45 38.52 24.6 38.52 24.6 45.96 41.45 45.96 41.45 62.81 48.88 62.81 48.88 45.96 65.74 45.96 65.74 38.52 48.88 38.52 48.88 21.67"/></g></svg>

    {% elsif name == 'behance' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="behance"><g id="Behance-2" data-name="Behance"><path d="M86.28,29.92H63.73v-5.6H86.28v5.6Zm-37.57,23A14.79,14.79,0,0,1,50.9,61.1,16.3,16.3,0,0,1,48.41,70a15.41,15.41,0,0,1-10.28,7.21,38.62,38.62,0,0,1-7.91.76H5V22H32q10.23.16,14.51,6a14.29,14.29,0,0,1,2.56,8.56,12.45,12.45,0,0,1-2.59,8.24A13.16,13.16,0,0,1,42.26,48,12.38,12.38,0,0,1,48.71,52.89Zm-30.8-8.81H29.76a11.16,11.16,0,0,0,5.92-1.39C37.2,41.77,38,40.12,38,37.77c0-2.61-1-4.34-3-5.17a21.1,21.1,0,0,0-6.61-.88H17.91ZM39.1,60.3c0-2.91-1.19-4.92-3.57-6a14,14,0,0,0-5.6-.95h-12V68.27H29.75a13.22,13.22,0,0,0,5.67-1C37.87,66.07,39.1,63.75,39.1,60.3Zm55.54-9.11a51.52,51.52,0,0,1,.35,8H65.78q.24,6,4.2,8.47a10.56,10.56,0,0,0,5.78,1.5,8.13,8.13,0,0,0,8-4.59H94.44c-.28,2.38-1.57,4.79-3.89,7.25q-5.39,5.85-15.09,5.85A21.9,21.9,0,0,1,61.33,72.7q-6.11-5-6.11-16.07,0-10.44,5.52-16t14.35-5.57A22.91,22.91,0,0,1,84.52,37a16.14,16.14,0,0,1,6.92,5.94A19.7,19.7,0,0,1,94.64,51.19Zm-10.53,1a8.76,8.76,0,0,0-2.81-6.34,9.15,9.15,0,0,0-6.21-2.17A8.34,8.34,0,0,0,68.83,46,10.8,10.8,0,0,0,66,52.23Z"></path></g></g></svg>

    {% elsif name == 'dribbble' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="dribbble"><path d="M50,4A46,46,0,1,0,96,50,46.06,46.06,0,0,0,50,4ZM79.7,26.33A37.85,37.85,0,0,1,88,48.64a65.42,65.42,0,0,0-27-1.32c-.9-2.06-1.83-4.06-2.76-6C66.33,37.93,73.92,33.12,79.7,26.33Zm-5.64-5.72c-5,6.15-12,10.51-19.49,13.57A172.41,172.41,0,0,0,41,13.08a37.89,37.89,0,0,1,33,7.53ZM33.14,16A166.57,166.57,0,0,1,46.82,36.87C33.48,40.78,19.87,41.39,13,41.41A38.14,38.14,0,0,1,33.14,16ZM12,50c0-.19,0-.39,0-.58h1.15c7.86,0,22.79-.72,37.46-5.31.82,1.67,1.64,3.38,2.44,5.16a56.87,56.87,0,0,0-17.3,9.24A66.22,66.22,0,0,0,21.07,74.6,37.83,37.83,0,0,1,12,50ZM27,80.2c3.38-5.65,12.61-18.44,29.18-23.56A131,131,0,0,1,63.9,85.36,37.9,37.9,0,0,1,27,80.2Zm44.4,1.2a139.8,139.8,0,0,0-7.26-26.5,59.51,59.51,0,0,1,23.28,1.86A38.1,38.1,0,0,1,71.37,81.4Z"></path></g></svg>

    {% elsif name == 'flickr' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="flickr"><path d="M26.41,28.59A21.41,21.41,0,1,0,47.81,50,21.43,21.43,0,0,0,26.41,28.59Z"></path><path d="M73.59,28.59A21.41,21.41,0,1,0,95,50,21.43,21.43,0,0,0,73.59,28.59Z"></path></g></svg>

    {% elsif name == 'paper-clip' %}

  <svg id="paper-clip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M21.69,91.83A17.69,17.69,0,0,1,9.18,61.63L56.44,14.38A23.17,23.17,0,1,1,89.21,47.15L45.12,91.24l-5.66-5.66,44.1-44.09A15.17,15.17,0,0,0,62.1,20L14.84,67.29A9.69,9.69,0,1,0,28.55,81L69.61,39.94a4.2,4.2,0,0,0,0-6,4.21,4.21,0,0,0-6,0L30.72,66.9l-5.66-5.65L58,28.32A12.22,12.22,0,1,1,75.27,45.6L34.21,86.66A17.64,17.64,0,0,1,21.69,91.83Z"></path></svg>

    {% elsif name == 'umbrella' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="umbrella"><path d="M85.59,48A35.59,35.59,0,0,0,54,12.65V6H46v6.65A35.59,35.59,0,0,0,14.41,48H46v34.6a5.39,5.39,0,0,1-10.78,0h-8a13.39,13.39,0,0,0,26.78,0V48Z"></path></g></svg>

    {% elsif name == 'calculator' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck"><path d="M52,52V90H90V52ZM80,78.5H62v-5H80Zm0-10H62v-5H80Z"></path><path d="M10,52V90H48V52ZM38.55,77,35,80.55l-6-6-6,6L19.45,77l6-6-6-6L23,61.45l6,6,6-6L38.55,65l-6,6Z"></path><path d="M52,10V48H90V10ZM80,31.5H62v-5H80Z"></path><path d="M10,10V48H48V10ZM38,31.5H31.5V38h-5V31.5H20v-5h6.5V20h5v6.5H38Z"></path></g></svg>

    {% elsif name == 'yen' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><polygon points="54 41.88 81.7 9.6 75.63 4.4 50 34.26 24.37 4.4 18.3 9.6 46 41.89 46 42.41 25.84 42.41 25.84 50.41 46 50.41 46 57.73 25.84 57.73 25.84 65.73 46 65.73 46 93 54 93 54 65.73 74.17 65.73 74.17 57.73 54 57.73 54 50.41 74.17 50.41 74.17 42.41 54 42.41 54 41.88"></polygon></g></svg>

    {% elsif name == 'globe' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><g><g><path d="M37.5,96.6C27.8,94,19.2,88.4,13,80.9h14.6C30.1,87.4,33.4,92.7,37.5,96.6z"/><path d="M65.4,80.9c-2.7,6.3-6.7,12.1-12.7,15.5V80.9H65.4z"/><path d="M87,80.9C80.4,88.8,71.3,94.6,60.9,97c4.3-4,7.8-9.4,10.3-16.1H87z"/><path d="M98.1,52.7c-0.5,8.3-3,16.1-7.2,22.7H73.1c2.9-10.2,3.1-19.5,3.2-21c0,0,0,0,0,0c0,0,0,0,0,0v-0.1c0-0.5,0-1.1,0-1.6H98.1z"/><path d="M70.9,52.7c0,0.5,0,1,0,1.5v0.1c0,0.2-0.1,10.4-3.4,21.1H52.7V52.7H70.9z"/><path d="M25.8,75.5H9c-4.2-6.7-6.7-14.4-7.2-22.7h20.7c0,0.5,0,1,0,1.6C22.6,54.7,22.7,64.5,25.8,75.5z"/><path d="M25.7,24.6c-1.8,6.2-3,13.6-3.2,22.7H1.9c0.5-8.3,3-16.1,7.2-22.7H25.7z"/><path d="M70.9,47.3H52.7V24.6h14.8C69.3,30.5,70.6,38,70.9,47.3z"/><path d="M98.1,47.3H76.3c-0.2-9.1-1.4-16.6-3.2-22.7h17.8C95.1,31.3,97.7,39,98.1,47.3z"/><path d="M87,19.2H71.3c-3-7.6-6.9-12.7-10.6-16.2C71.2,5.4,80.3,11.2,87,19.2z"/><path d="M65.4,19.2H52.7V3.7C56.4,5.9,61.5,10.4,65.4,19.2z"/><path d="M37.8,3.4c-3.6,3.4-7.3,8.4-10.2,15.8H13C19.3,11.6,27.9,5.9,37.8,3.4z"/></g><g><path d="M47.3,80.9V97c-6.6-3.3-11-9.4-13.8-16.1H47.3z"/><path d="M47.3,52.7v22.7H31.5c-3.3-10.7-3.4-21-3.4-21.2c0-0.5,0-1,0-1.5H47.3z"/><path d="M47.3,24.6v22.7H28c0.2-9.3,1.5-16.8,3.4-22.7H47.3z"/><path d="M47.3,3.1v16.1H33.4C37.8,9.4,43.6,5,47.3,3.1z"/></g></g></g></svg>

    {% elsif name == 'lightbulb' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M50,7A25.7,25.7,0,0,0,30.27,49.16l.09.11c4.08,5.69,5.73,9.13,6.38,11.09H63.26c.64-1.94,2.27-5.34,6.28-10.94a1.3,1.3,0,0,1,.1-.15.48.48,0,0,1,.09-.11.61.61,0,0,1,.12-.15A25.7,25.7,0,0,0,50,7ZM48.36,18.84A17,17,0,0,0,42.91,21a11.41,11.41,0,0,0-5.75,9,2,2,0,0,1-2,1.82H35a2,2,0,0,1-1.81-2.18c.9-9.82,9.89-13.87,14.52-14.64a2,2,0,1,1,.67,3.94Z"></path><path d="M62.83,75.12v3.75a2.26,2.26,0,0,1-2.26,2.26H39.43a2.26,2.26,0,0,1-2.26-2.26V75.12Z"></path><rect x="37.17" y="64.36" width="25.66" height="6.76"></rect><path d="M58.86,85.13a8.38,8.38,0,0,1-16.73,0Z"></path></g></svg>

    {% elsif name == 'bullet' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><circle cx="50" cy="50" r="17"></circle></g></svg>

    {% elsif name == 'info' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M50,7A43,43,0,1,0,93,50,43,43,0,0,0,50,7Zm6.93,68.29a6.68,6.68,0,0,1-6.88,6.45,7.1,7.1,0,0,1-4.86-1.89,6.25,6.25,0,0,1-2-4.56V45.72a6.67,6.67,0,0,1,6.87-6.44,7.14,7.14,0,0,1,4.87,1.88,6.25,6.25,0,0,1,2,4.56ZM50,33.05a7.4,7.4,0,1,1,7.39-7.4A7.39,7.39,0,0,1,50,33.05Z"></path></g></svg>

    {% elsif name == 'snowflake' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><polygon points="74.98 41.22 87.83 46.97 91.09 39.66 83.92 36.46 91.59 32.37 87.83 25.31 80.16 29.4 81.5 21.66 73.61 20.29 71.21 34.16 54 43.34 54 23.83 65.11 15.19 60.2 8.87 54 13.7 54 5 46 5 46 13.7 39.8 8.87 34.89 15.19 46 23.83 46 42.96 29.57 33.16 27.84 19.19 19.9 20.17 20.87 27.97 13.4 23.52 9.3 30.39 16.77 34.84 9.45 37.7 12.36 45.15 25.48 40.03 41.86 49.8 25.02 58.78 12.17 53.03 8.91 60.34 16.08 63.54 8.4 67.63 12.17 74.69 19.84 70.6 18.5 78.34 26.39 79.71 28.79 65.84 46 56.66 46 76.17 34.89 84.81 39.8 91.13 46 86.3 46 95 54 95 54 86.3 60.2 91.13 65.11 84.81 54 76.17 54 57.04 70.43 66.84 72.16 80.81 80.1 79.83 79.13 72.03 86.6 76.48 90.7 69.61 83.23 65.16 90.55 62.3 87.64 54.85 74.52 59.97 58.14 50.2 74.98 41.22"></polygon></g></svg>

    {% elsif name == 'battery' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M91.9,32.66H87.5V28.48a5.2,5.2,0,0,0-5.2-5.2H10.2A5.2,5.2,0,0,0,5,28.48v43a5.2,5.2,0,0,0,5.2,5.2H82.3a5.2,5.2,0,0,0,5.2-5.2V67.34h4.4a3.1,3.1,0,0,0,3.1-3.1V35.76A3.1,3.1,0,0,0,91.9,32.66ZM25.72,66.13a1.49,1.49,0,0,1-1.5,1.5H15.41a1.48,1.48,0,0,1-1.5-1.51V33.87a1.48,1.48,0,0,1,1.5-1.5h8.81a1.49,1.49,0,0,1,1.5,1.5Zm18.19,0a1.48,1.48,0,0,1-1.5,1.5H33.59a1.48,1.48,0,0,1-1.5-1.5V33.87a1.49,1.49,0,0,1,1.5-1.5h8.82a1.49,1.49,0,0,1,1.5,1.5Zm18.18,0a1.48,1.48,0,0,1-1.5,1.5H51.78a1.49,1.49,0,0,1-1.5-1.51V33.87a1.49,1.49,0,0,1,1.5-1.5h8.81a1.48,1.48,0,0,1,1.5,1.5Zm17.82-32L74.56,66.41a1.42,1.42,0,0,1-1.4,1.22H70a1.53,1.53,0,0,1-1.5-1.41V34a1.48,1.48,0,0,1,1.5-1.5H78.5A1.42,1.42,0,0,1,79.91,34.16Z"></path></g></svg>

    {% elsif name == 'slash' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><rect x="3.22" y="46" width="93.56" height="8" transform="translate(-14.42 79.15) rotate(-69.34)"></rect></g></svg>

    {% elsif name == 'pound' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><path d="M74.91,85.76a13.43,13.43,0,0,1-3.72,1.49,19.41,19.41,0,0,1-14-1.89,31.16,31.16,0,0,0-18.17-3.21,34.78,34.78,0,0,0,4.72-21.38c-.11-1.22-.28-2.43-.49-3.6H60.54v-8H41a57.47,57.47,0,0,0-5.75-11.23A15.13,15.13,0,0,1,34,23.35c3.48-7.66,11.75-10.27,12.6-10.52,6.87-1.35,12.33-.56,16.24,2.33,5.79,4.3,6.62,12.07,6.63,12.15l4-.37,4-.36c0-.46-1.09-11.31-9.75-17.78C61.8,4.43,54.13,3.16,44.84,5l-.2,0c-.52.14-12.71,3.38-18,15a23.08,23.08,0,0,0,1.92,22.28,53.71,53.71,0,0,1,3.8,6.85H23v8H35.13c2,8.92.75,19.43-9.7,29.05l4.46,6.54c.13-.06,12.82-6.1,23.55-.35a28.11,28.11,0,0,0,13.27,3.4A26.11,26.11,0,0,0,73.17,95a21.12,21.12,0,0,0,5.92-2.43Z"></path></g></svg>

    {% elsif name == 'krona' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><polygon points="47.64 40.2 42.09 34.45 22 53.81 22 14.09 14 14.09 14 85.91 22 85.91 22 71.37 44.93 89.08 49.82 82.75 24.11 62.89 47.64 40.2"></polygon><path d="M63.64,41.7V37.13h-8V85.91h8V55.52c.58-2.23,3.91-11.86,18.22-11.35l.28-8C73.82,35.87,67.82,38.33,63.64,41.7Z"></path></g></svg>

    {% elsif name == 'euro' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><path d="M79.19,66.25A27,27,0,0,1,33,61H60.42V53H30.79a26.56,26.56,0,0,1,0-6H60.42V39H33a27,27,0,0,1,45.32-6.37l6.12-5.16A35,35,0,0,0,24.4,39H17.62v8h5.14c-.09,1-.14,2-.14,3s.05,2,.14,3H17.62v8H24.4A35,35,0,0,0,85.57,71.07Z"></path></g></svg>

    {% elsif name == 'droplet' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M50,5.75s-18.7,48.4-21.9,57.4A22.41,22.41,0,0,0,26.8,71a23.2,23.2,0,1,0,46.4.1,25,25,0,0,0-1.3-7.8C68.7,54.15,50,5.75,50,5.75Z"></path></g></svg>

    {% elsif name == 'bunny' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><path d="M16,32.94a42.65,42.65,0,0,1-5.62,7.46c-.88.87-.59,1.49-.3,1.81a1.45,1.45,0,0,1,.37.9,3.39,3.39,0,0,1-.05,1.21c-.19.56,1.12,1.87,2.8,3.74a23.54,23.54,0,0,0,4.48,3.46,1.59,1.59,0,0,1,.74,1.35v9.91a1.6,1.6,0,0,0,.19.74l1.49,2.83c1.45,2.72,7.43,8.33,9.09,9.87a1.55,1.55,0,0,1,.5,1l1.23,10.4a1.59,1.59,0,0,1-1.44,1.76c-1.3.11-3,.46-3.78,1.44-.88,1.13-.15,2.48.42,3.23a1.6,1.6,0,0,0,1.2.63c1.85.08,6.91.19,8.28-.88C37.24,92.48,40.22,81.65,40,83s9.51,6.34,9.51,6.34c-.74-1.49-8.86,0-8.86,0-1.35.12-3.13,2.45-2.85,3.81a1.62,1.62,0,0,0,1.53,1.27c4.69.09,21.72.4,26.05,0,5-.5,8.21-3.23,8.4-2.48s7.84,3.54,11.57,2,4.67-4.48,4.85-7.28-5-3.92-5-4.1a46.46,46.46,0,0,0,2.06-11.2c.56-7.28-2.62-12.7-4.86-16.43S70.08,43.58,62.62,43c-6-.45-15.49,1.86-19.23,1.86-2.58,0-2.84-3.12-2.75-5.05a1.58,1.58,0,0,1,1.54-1.51C54.47,37.93,60.42,34,63,31.37a1.58,1.58,0,0,0-.94-2.69c-4.73-.57-14.07-1.62-16.28-1.34s-6.28,2.3-8.23,3.32a1.59,1.59,0,0,1-1.94-.36h0a1.59,1.59,0,0,1,0-2.12c2.19-2.37,7.32-8.51,7.9-14.66a18.35,18.35,0,0,0-.36-7.11,1.58,1.58,0,0,0-2.5-.77c-3,2.4-10.13,8.26-11.88,11.62a38,38,0,0,0-3,9.93,1.6,1.6,0,0,1-1,1.21C22.54,29.24,16.56,31.58,16,32.94Z"></path></g></svg>

    {% elsif name == 'dollar' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="truck-2"><path d="M72.92,63.05a17.11,17.11,0,0,0-8.68-12.74A30.06,30.06,0,0,0,54,47V23.68a16.9,16.9,0,0,1,10.12,6.9L71,26.49a25,25,0,0,0-17-11V7.07H46v8.41c-.7.09-1.42.21-2.15.36s-14.74,2.9-16.76,16.6A16.93,16.93,0,0,0,31.45,46.3,24.57,24.57,0,0,0,46,54.44v22c-2.62-.65-6.55-2.34-10.9-6.69l-5.65,5.66C35.89,81.82,42.06,83.9,46,84.53v8.4h8V84.15C59.91,83,64.66,80.7,68.13,77.27A16.66,16.66,0,0,0,72.92,63.05ZM37.37,40.93A9,9,0,0,1,35,33.6c1.17-8,10-9.83,10.38-9.91l.61-.11V46.29A17.25,17.25,0,0,1,37.37,40.93ZM62.5,71.59A18.09,18.09,0,0,1,54,76V55.12a21.13,21.13,0,0,1,6.34,2.17A9.21,9.21,0,0,1,65,64.13,8.74,8.74,0,0,1,62.5,71.59Z"></path></g></svg>

    {% elsif name == 'megaphone' %}

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="rss"><rect x="2" y="31.84" width="10" height="32.15"></rect><path d="M16,31.84V64h0l-.14,4.22a9.56,9.56,0,0,0,8.69,10.22l13.85,1.22a8.06,8.06,0,0,0,.85,0A9.55,9.55,0,0,0,48.76,71c0-.07,0-.14,0-.22l.1-3.42a118.34,118.34,0,0,1,21.23,6.18V22.31A150.37,150.37,0,0,1,16,31.84ZM40.78,70.35a1.54,1.54,0,0,1-1.67,1.33L25.26,70.47a1.57,1.57,0,0,1-1.41-1.69,1.62,1.62,0,0,0,0-.22L24,64.19A163.4,163.4,0,0,1,40.93,65.9Z"></path><rect x="76.39" y="29.62" width="18.01" height="8" transform="translate(-4.97 17.6) rotate(-11.43)"></rect><rect x="81.79" y="38.52" width="8" height="18.43" transform="translate(36.59 132.69) rotate(-89.02)"></rect><rect x="81.22" y="53.29" width="8" height="17.83" transform="translate(4.33 129.94) rotate(-76.06)"></rect></g></svg>

    {% else %}
  <p>?</p>
    {% endif %}
</span>
