{%- comment -%} Added by westmountsolutions.com WSDEV20201005-DV {%- endcomment -%}
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <input type="number" value="1" name="quantity" />
    <select name="id">
      <option value="{{ variantId }}">Trial</option>
    </select>
  <input type="submit" class="addtocart" value="Add to Cart" />
</form>
{%- comment -%} End of added by westmountsolutions.com WSDEV20201005-DV {%- endcomment -%}