{% comment %}
** Contact page - section **
- Main area
{% endcomment %}

{% include 'include-contact-form', context: 'contact-template' %}

{% schema %}
  {
    "name": "Contact",
    "class": "contact-section jsCustomContactForm",
    "max_blocks": 10,
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "content_image",
        "label": "Image",
        "info": "1000 x 1000px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content_text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Display social media icons",
        "default": true
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Contact form"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#E5E5E5"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000",
        "info": "Does not apply to placeholders."
      },
      {
        "type": "select",
        "id": "form_position",
        "label": "Form position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wide",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ],
        "default": "standard"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "default": 40,
        "min": 0,
        "max": 80,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "default": 40,
        "min": 0,
        "max": 80,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "type": "checkbox",
        "name": "Checkbox",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Title",
            "default": "Select all that apply"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Field is required"
          },
          {
            "type": "text",
            "id": "options_1",
            "label": "Option 1",
            "default": "Option 1"
          },
          {
            "type": "text",
            "id": "options_2",
            "label": "Option 2",
            "default": "Option 2"
          },
          {
            "type": "text",
            "id": "options_3",
            "label": "Option 3",
            "default": "Option 3"
          },
          {
            "type": "text",
            "id": "options_4",
            "label": "Option 4"
          },
          {
            "type": "text",
            "id": "options_5",
            "label": "Option 5"
          },
          {
            "type": "text",
            "id": "options_6",
            "label": "Option 6"
          },
          {
            "type": "text",
            "id": "options_7",
            "label": "Option 7"
          },
          {
            "type": "text",
            "id": "options_8",
            "label": "Option 8"
          },
          {
            "type": "text",
            "id": "options_9",
            "label": "Option 9"
          },
          {
            "type": "text",
            "id": "options_10",
            "label": "Option 10"
          }
        ]
      },
      {
        "type": "email",
        "name": "Email (required)",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Email field must be included."
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "Title"
          }
        ]
      },
      {
        "type": "dropdown",
        "name": "Drop-down",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Title",
            "default": "Make a selection"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Field is required"
          },
          {
            "type": "text",
            "id": "options_1",
            "label": "Option 1",
            "default": "Option 1"
          },
          {
            "type": "text",
            "id": "options_2",
            "label": "Option 2",
            "default": "Option 2"
          },
          {
            "type": "text",
            "id": "options_3",
            "label": "Option 3",
            "default": "Option 3"
          },
          {
            "type": "text",
            "id": "options_4",
            "label": "Option 4"
          },
          {
            "type": "text",
            "id": "options_5",
            "label": "Option 5"
          },
          {
            "type": "text",
            "id": "options_6",
            "label": "Option 6"
          },
          {
            "type": "text",
            "id": "options_7",
            "label": "Option 7"
          },
          {
            "type": "text",
            "id": "options_8",
            "label": "Option 8"
          },
          {
            "type": "text",
            "id": "options_9",
            "label": "Option 9"
          },
          {
            "type": "text",
            "id": "options_10",
            "label": "Option 10"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraph",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this field to display&nbsp;text of any kind, such as&nbsp;standard reply times for inquiries.</p>"
          }
        ]
      },
      {
        "type": "radio",
        "name": "Radio buttons",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Title",
            "default": "Choose an option"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Field is required"
          },
          {
            "type": "text",
            "id": "options_1",
            "label": "Option 1",
            "default": "Option 1"
          },
          {
            "type": "text",
            "id": "options_2",
            "label": "Option 2",
            "default": "Option 2"
          },
          {
            "type": "text",
            "id": "options_3",
            "label": "Option 3",
            "default": "Option 3"
          },
          {
            "type": "text",
            "id": "options_4",
            "label": "Option 4"
          },
          {
            "type": "text",
            "id": "options_5",
            "label": "Option 5"
          },
          {
            "type": "text",
            "id": "options_6",
            "label": "Option 6"
          },
          {
            "type": "text",
            "id": "options_7",
            "label": "Option 7"
          },
          {
            "type": "text",
            "id": "options_8",
            "label": "Option 8"
          },
          {
            "type": "text",
            "id": "options_9",
            "label": "Option 9"
          },
          {
            "type": "text",
            "id": "options_10",
            "label": "Option 10"
          }
        ]
      },
      {
        "type": "textarea",
        "name": "Text area",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Title"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Field is required"
          }
        ]
      },
      {
        "type": "textfield",
        "name": "Text field",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "Title"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Field is required"
          }
        ]
      }
    ],
    "default": {
      "settings": {
        "title": "Get in touch today",
        "content_text": "<p>Customize your contact form to suit your business! Add custom fields like a dropdown menu, checkbox, text fields and more, so that you can gather pertinent info from shoppers right from the get-go, to help answer their inquiries more effectively.</p>"
      },
      "blocks": [
        {
          "type": "textfield",
          "settings": {
            "label": "Name",
            "required": true
          }
        },
        {
          "type": "email",
          "settings": {
            "label": "Email"
          }
        },
        {
          "type": "textarea",
          "settings": {
            "label": "Message",
            "required": true
          }
        }
      ]
    }
  }
{% endschema %}
