{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section sidebar-page">
  <section class="section__wrapper
                  section
                  ">
    <div class="container">
      {% section 'page__sidebar' %}
      {% section 'page__main' %}
    </div>
  </section>
</main>