{% layout none %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/c8aba85c95.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/scroll-hint@latest/css/scroll-hint.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://digitaloftcdn.com/health-wellness-hotspots/assets/style.css">

    <meta property="og:image" content="https://digitaloftcdn.com/health-wellness-hotspots/assets/images/social.jpg"/>
    <title>The UK’s Health & Wellness Hotspots | YourZooki™</title>

    <meta name="description" content="We’ve looked at a range of healthy living factors to find out which towns and cities can claim to be the UK’s health and wellness hotspots."/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share-kit/1.0.15/css/social-share-kit.css" type="text/css">
</head>
<body class="home">
<div class="container-fluid mt-1 mt-sm-2 mt-lg-3">
    <div class="header-left ">
        <div class="header-right position-relative ">
            <div class="row justify-content-center text-center ">
                <div class="col-12 col-sm-12 col-lg-10 col-xl-10 ">
                    <div class="bg-gradient border-bottom-left-radius border-bottom-right-radius d-inline-block p-3 p-sm-4 p-lg-5 mb-3 mb-lg-0">
                        <div class="p-2 p-sm-3 p-lg-4">
                            <h1 class="mb-2 h4  text-uppercase  font-weight-extra-bold">The UK’s</h1>
                            <h1 class="mb-0 mb-lg-0 display-2 text-uppercase text-white font-weight-extra-bold">Health <span class="text-dark stroke">&</span> <br/>Wellness</h1>
                            <h4 class="text-uppercase mb-0 display-4 font-weight-extra-bold">Hotspots</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-3 py-sm-4 py-lg-5">
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-5 text-center text-lg-left">
            <div class="pl-lg-5 pb-3 pb-lg-0">
                <p class="mb-0 font-weight-bold">Being healthy doesn’t just mean clean eating and sticking to a regular workout schedule, it’s a whole way of living your life, making sure that you’re not just looking after your body, but your mind too.</p>
            </div>
        </div>
        <div class="col-12 col-lg-5 text-center text-lg-left">
            <div class="pr-lg-4 ">
                <p class="mb-0">Lots of factors have an influence on your physical and mental wellbeing, including where you live, so we’ve looked at a range of healthy living factors to find out which towns and cities can claim to be the UK’s health and wellness hotspots.</p>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="bg-gradient">
        <div class="container py-3 py-lg-4 py-lg-5">
            <div class="row justify-content-center text-center  ">
                <div class="col-12 col-lg-12">
                    <h2 class="mb-0 text-uppercase text-white h2">TOP 3 <span class="font-weight-bold">HEALTH & WELLNESS</span> HOTSPOTS</h2>
                </div>
            </div>
        </div>
        <div class="container pb-3 pb-sm-4 pb-lg-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column px-lg-4 pb-3 pb-lg-0">
                    <div class=" flex-grow-1 bg-white rounded box position-relative">
                        <div class="text-center py-2 ">
                            <div class="number-circle font-weight-bold text-white text-center ml-lg-3 my-2">1</div>
                            <span class="h5 font-weight-medium mb-0">Brighton & Hove</span>
                        </div>
                        <div class=" img-square " style="background-image: url(https://digitaloftcdn.com/health-wellness-hotspots/assets/images/brighton.jpg)">
                        </div>
                        <div class="p-2 ps-sm-3 p-lg-3 text-center  ">
                            <p class="mb-3">Taking the top spot was Brighton & Hove, on the South Coast, with the city scoring particularly well for the number of spas and yoga & pilates studios per 100,000 people, both of which were far more than any other area that we looked at.</p>
                            <p class="mb-0">Brighton also had the highest concentration of vegan-friendly restaurants too, with 146.69 for every 100,000 people.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column px-lg-4 pb-3 pb-lg-0">
                    <div class=" flex-grow-1 bg-white rounded box position-relative">
                        <div class="text-center py-2 ">
                            <div class="number-circle font-weight-bold text-white text-center ml-lg-3 my-2">2</div>
                            <span class="h5 font-weight-medium mb-0">Norwich</span>
                        </div>
                        <div class=" img-square " style="background-image: url(https://digitaloftcdn.com/health-wellness-hotspots/assets/images/norwich.jpg)">
                        </div>
                        <div class="p-2 ps-sm-3 p-lg-3  text-center  ">
                            <p class="mb-3">Second place went to Norwich, in East Anglia,  which scored highly for its low numbers of smokers and high air quality score and also was the top-scoring city when it came to the number of parks per person.</p>
                            <p class="mb-0">Other factors in Norwich’s favour were its high numbers of gyms and low ratio of fast food outlets per person too.</p>  
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column px-lg-4 pb-3 pb-lg-0">
                    <div class=" flex-grow-1 bg-white rounded box position-relative">
                        <div class="text-center py-2 ">
                            <div class="number-circle font-weight-bold text-white text-center ml-lg-3 my-2">3</div>
                            <span class="h5 font-weight-medium mb-0">Bournemouth</span>
                        </div>
                        <div class=" img-square " style="background-image: url(https://digitaloftcdn.com/health-wellness-hotspots/assets/images/bournemouth.jpg)">
                        </div>
                        <div class="p-2 ps-sm-3 p-lg-3  text-center  ">
                            <p class="mb-3">There must be something in the sea air, as another coastal town makes it into the top three, with Bournemouth taking the third spot. </p>
                            <p class="mb-0">The city scored particularly highly for its life expectancy (81.9), as well as the number of adult smokers (14.6%), air quality and the number of health and fitness clubs per person.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4 pt-sm-3 pt-lg-4">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-12  py-2 py-sm-3 py-lg-4">
            <h2 class="mb-0 h2  text-uppercase ">THE UK’S <span class="font-weight-bold">HEALTH & WELLNESS</span> HOTSPOTS RANKED</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center py-4 py-sm-3 py-lg-4">
        <div class="col-12 col-lg-10  ">
            <div class="keys bg-yellow rounded  p-3">
                <p class="mb-2 font-weight-bold lead">Key</p>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-heartbeat mx-2 text-orange"></i>Average Life Expectancy</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-smoking mx-2 text-orange"></i>Smoking Prevalence in Adults</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-lungs mx-2 text-orange"></i>Air Quality Index</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-spade mx-2 text-orange"></i>Spas*</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-watch-fitness mx-2 text-orange"></i>Health/Fitness Clubs* </span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-universal-access mx-2 text-orange"></i>Yoga & Pilates Studios*</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-leaf mx-2 text-orange"></i>Parks*</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-salad mx-2 text-orange"></i>Vegan-Friendly Restaurants*</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-burger-soda mx-2 text-orange"></i>Fast Food Restaurants*</span>
                <span class="text-dark font-weight-extra-bold key small py-1"><i class="fas fa-award mx-2 text-orange"></i>Overall Score</span>
                <div class="pt-3">
                    <p class="mb-0"><small>*Per 100,000 People</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-2 pb-sm-3 pb-lg-4">
    <div class="row text-center">
        <div class="col-xl-12 table-block px-lg-0">
            <div class="table-responsive js-scrollable mb-0 pb-2 pb-sm-3 pb-lg-4">
                <table id="data" class="display table table_asc" style="width:100%">
                    <thead>
                    <tr class="sorting-row ">
                        <th>
                            <div class="heading-holder">
                                <div class="title-th d-flex justify-content-center align-items-end ">
                                    <p class="mb-0 text-uppercase small font-weight-bold">Rank</p>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder">
                                <div class="title-th d-flex justify-content-center align-items-end ">
                                    <p class="mb-0 text-uppercase small font-weight-bold">Town/City</p>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-heartbeat"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-smoking"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-lungs"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-spade"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-watch-fitness"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-universal-access"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-leaf"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-salad"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-burger-soda "></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="heading-holder ">
                                <div class="icon-th pb-4">
                                    <i class="fas fa-award"></i>
                                </div>

                                <div class="sorting-icons ">
                                    <i class="fas fa-sort"></i>
                                    <i class="fas fa-sort-up"></i>
                                    <i class="fas fa-sort-down"></i>
                                </div>
                            </div>
                        </th>

                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>


<div class="ssk-sticky ssk-left ssk-center ssk-lg">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-pinterest"></a>

</div>
<div id="methodology" class="bg-yellow">
<div class="container">

        <div class=" py-3 py-sm-4 py-lg-5">
            <div class="row justify-content-center text-center ">
                <div class="col-12 col-sm-12 col-lg-12 col-xl-10 text-center pb-1 pb-sm-2 pb-lg-3">
                    <h2 class="mb-0 h5 font-weight-bold">Methodology</h2>
                </div>
                <div class="col-12 col-sm-12 col-lg-8 text-center pb-3 pb-sm-4 pb-lg-5">
                    <div class="px-3 px-lg-0">
                        <p class="mb-0">We ranked each town or city on the following nine factors, before giving each a normalised score out of 100 on each factor. We then took an average of these nine scores to reach our overall score.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-12 col-xl-12 text-center ">
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-heartbeat pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Average Life Expectancy</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fas fa-smoking  pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small white-space-nowrap">Smoking Prevalence in Adults</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-lungs pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Air Quality Index</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-spade  pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Spas*</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-watch-fitness pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Health/Fitness Clubs*</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-universal-access pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Yoga & Pilates Studios*</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-leaf pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Parks*</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-salad pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Vegan Restaurants*</p>
                    </div>
                    <div class="d-inline-block bg-white p-3 rounded mx-1 factor mb-3">
                        <div><i class="fas fa-burger-soda pb-2 text-orange icon"></i></div>
                        <p class="mb-0 font-weight-bold small">Fast Food Restaurants*</p>
                    </div>
                </div>
                <div class="col-12">
                    <p class="mb-0 small font-weight-medium">*Per 100,000 People</p>
                </div>
            </div>
            <div class="container pt-3 pt-sm-4 pt-lg-5">
                <div class="row justify-content-center paragraphs">
                    <div class="col-12 col-sm-6 col-lg-5 text-center text-lg-left pb-3 pb-lg-0">
                        <div class="pb-3 pb-sm-4 pb-lg-5">
                            <h2 class=" text-orange lead font-weight-bold mb-2">Average life expectancy</h2>
                            <p class="mb-0">Average life expectancy was taken from the Office for National Statistics <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/lifeexpectancyatbirthandatage65bylocalareasuk" target="_blank" rel="nofollow">‘Life expectancy at birth and at age 65 years by local areas, UK’</a> dataset and used an average of the life expectancy at birth for males and females.</p>
                        </div>
                        <div>
                            <h2 class=" text-orange lead font-weight-bold mb-2">Air Quality Index</h2>
                            <p class="mb-0">Air Quality Index score was taken from <a href="https://www.iqair.com/uk/england" target="_blank" rel="nofollow">IQAir</a>, which takes into account the concentration of a number of different pollutants in the air, with a lower score meaning the air quality is better.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-5 text-center text-lg-right pb-3 pb-lg-0">
                        <div class="pb-3 pb-sm-4 ">
                            <h2 class=" text-orange lead font-weight-bold mb-2">Smoking prevalence in adults</h2>
                            <p class="mb-3">Smoking prevalence in adults was taken from the Office for National Statistics <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/healthandlifeexpectancies/datasets/smokinghabitsintheukanditsconstituentcountries" target="_blank" rel="nofollow">‘Smoking habits in the UK and its constituent countries’</a> dataset and refers to the proportion of the population aged 18 and above who currently smoke.</p>
                        </div>
                        <div>
                            

                            <p class="mb-0">The remaining factors were all taken from <a href="https://www.tripadvisor.co.uk/" target="_blank" rel="nofollow">Tripadvisor</a>, <a target="_blank" rel="nofollow" href="https://maps.google.com/">Google Maps</a> and <a href="https://www.yogahub.co.uk/" target="_blank" rel="nofollow">YogaHub</a> and calculated <span class="font-weight-bold">per 100,000 people</span> in each town or city.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer bg-blue-dark">
    <div class="container py-3 py-sm-4 py-lg-4 ">
        <div class="row justify-content-center text-center mb-5 mb-sm-0">
            <div class="col-12">
                <p class="mb-3 small font-weight-bold">Brought to you by</p>
                <p class="mb-3"><img class="footer-logo" src="https://digitaloftcdn.com/health-wellness-hotspots/assets/images/YOURZOOKI_LOGO.png" alt=""></p>
                <p class="mb-0 small font-weight-bold">Explore our range that includes <a target="_blank" href="https://yourzooki.com/products/liposomal-vitamin-c">Liposomal Vitamin C Zooki</a> and <a target="_blank" href="https://yourzooki.com/products/omega-zooki-peach-mango">Omega 3 Zooki</a>.</p> 
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.1/papaparse.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<script src="https://unpkg.com/scroll-hint@latest/js/scroll-hint.min.js"></script>
<script src="https://digitaloftcdn.com/health-wellness-hotspots/assets/js/page.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/social-share-kit/1.0.15/js/social-share-kit.min.js"></script>
<script type="text/javascript">
    SocialShareKit.init();
</script>

</body>
</html>
